force-app/main/default/src/Base/main/default/flows/Einstein_Bot_ERP_Status_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Serial_Boat</name>
        <label>Assign Serial Boat</label>
        <locationX>3834</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SerialBoat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>boat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Stage_Assignment_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorHandler_0</name>
        <label>ErrorHandler</label>
        <locationX>5066</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>2690</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingDiagnosticServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>2954</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingAuthoServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>3218</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingPickAndPackServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>3482</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartsRequiredServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>3746</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingRiggingServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>4010</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InProgressServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>4274</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingInspectionServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>4538</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingPickupServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>4802</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ElseServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaggingPendingRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingWorkOrderRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingPickAndPackRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartsRequiredRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingRiggingRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingFinalRiggingRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingInspectionRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingPickupRetailResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Stage Verbiage Assignment</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StageDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ElseServiceResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>1106</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SuccessHandler_0</name>
        <label>SuccessHandler</label>
        <locationX>3746</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>3548</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Boat Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Product</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legend Service Work Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Service_ERP</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Stage_Assignment_Split</name>
        <label>Retail Stage Assignment Split</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Tagging_Pending_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tagging Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Tagging Pending</label>
        </rules>
        <rules>
            <name>Pending_Work_Order_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Work Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Work Order</label>
        </rules>
        <rules>
            <name>Pending_Pick_and_Pack_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pick and Pack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Pick and Pack</label>
        </rules>
        <rules>
            <name>Parts_Required_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Parts Required</label>
        </rules>
        <rules>
            <name>Pending_Rigging_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Rigging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Rigging</label>
        </rules>
        <rules>
            <name>Pending_Final_Rigging_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Final Rigging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Final Rigging</label>
        </rules>
        <rules>
            <name>Pending_Inspection_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Inspection</label>
        </rules>
        <rules>
            <name>Pending_Pickup_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Stage_Assignment_Split</name>
        <label>Service Stage Assignment Split</label>
        <locationX>3746</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Pending_Diagnostic_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Diagnostic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment</targetReference>
            </connector>
            <label>Pending Diagnostic</label>
        </rules>
        <rules>
            <name>Pending_Authorization_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Authorization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0</targetReference>
            </connector>
            <label>Pending Authorization</label>
        </rules>
        <rules>
            <name>Pending_Pick_and_Pack_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pick and Pack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0</targetReference>
            </connector>
            <label>Pending Pick and Pack</label>
        </rules>
        <rules>
            <name>Parts_Required_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0</targetReference>
            </connector>
            <label>Parts Required</label>
        </rules>
        <rules>
            <name>Pending_Rigging_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Rigging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0</targetReference>
            </connector>
            <label>Pending Rigging</label>
        </rules>
        <rules>
            <name>In_Progress_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Pending_Inspection_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Inspection</label>
        </rules>
        <rules>
            <name>Pending_Pickup_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Verbiage_Assignment_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pending Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product</name>
        <label>Validate Product</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ErrorHandler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Stage_Assignment_Split</targetReference>
            </connector>
            <label>Valid Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Serial_Boat</name>
        <label>Validate Serial Boat</label>
        <locationX>3746</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Serial_Boat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Serial_Boat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SerialBoat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Stage_Assignment_Split</targetReference>
            </connector>
            <label>Valid Serial Boat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Service_ERP</name>
        <label>Validate Service ERP</label>
        <locationX>4406</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ErrorHandler_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Service_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Serial_Boat</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Einstein Bot: ERP Status Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bot: ERP Status Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ERP_Order</name>
        <label>Get ERP Order</label>
        <locationX>3548</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPId.Id</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputAssignments>
            <assignToReference>DeliveryDate</assignToReference>
            <field>Delivery_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Boat</assignToReference>
            <field>Model_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SerialBoat</assignToReference>
            <field>Serial_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceDeliveryDate</assignToReference>
            <field>Service_Delivery_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Stage</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
        <sortField>AcctSeedERP__Work_Order_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>3422</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ERP_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ElseServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ugh oh! I&apos;m currently unable to obtain the status of your boat. Please try again later.</text>
    </textTemplates>
    <textTemplates>
        <name>InProgressServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Good news! Your {!SerialBoat} is in the shop right now, being serviced by one of our certified marine technicians.</text>
    </textTemplates>
    <textTemplates>
        <name>PartsRequiredRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Looks like we need a few out-of-stock items and we&apos;re just waiting for those to come in.</text>
    </textTemplates>
    <textTemplates>
        <name>PartsRequiredServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Looks like we need a few out-of-stock items and we&apos;re just waiting for those to come in.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingAuthoServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your approval is required before we can implement our recommended solution. A Boat Specialist will be reaching out to you shortly to confirm the details.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingDiagnosticServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Our team is currently scheduling your {!SerialBoat} for service.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingFinalRiggingRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Good news! We are currently fine-tuning your {!Boat} to ensure it meets your expectations.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingInspectionRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great news! Your {!Boat} has been assembled and is being inspected for quality assurance. Just a friendly reminder, your appointment is scheduled for {!DeliveryDate}.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingInspectionServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great news! We&apos;ve completed the work on your {!SerialBoat}. A supervisor will be inspecting the work shortly to sign off. If everything meets their approval, we&apos;ll be in touch to schedule your pickup day and time.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingPickAndPackRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Our team is currently gathering the necessary parts for your {!Boat}.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingPickAndPackServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Our team is currently gathering the necessary parts for your {!SerialBoat}.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingPickupRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your {!Boat} is ready for you! Your appointment is scheduled for {!DeliveryDate}. Please ensure you have your hitch with a 2&quot; ball and proper trailer light hook-ups ready for your scheduled appointment.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingPickupServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your {!SerialBoat} is done being serviced! A Boat Specialist will be reaching out to your shortly to coordinate pickup.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingRiggingRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your {!Boat} is about to be assembled by your Memory Builder.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingRiggingServiceResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your {!SerialBoat} is now in line to be brought into the shop and worked on soon.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingWorkOrderRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Our team is currently gathering the necessary parts for your {!Boat}.</text>
    </textTemplates>
    <textTemplates>
        <name>TaggingPendingRetailResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Congratulations on your purchase of an {!Boat}! Your boat has been added to the production schedule and is in line to be built.</text>
    </textTemplates>
    <variables>
        <name>Boat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BoatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ERPId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
    <variables>
        <name>ERPOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
    <variables>
        <name>isNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerialBoat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceDeliveryDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
