force-app/main/default/src/Base/main/default/flows/Einstein_Bot_Get_ERP_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_Record</name>
        <label>Validate Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorHandler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ERPOrder_RecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessHandler</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <interviewLabel>Einstein Bot: Get ERP Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bot: Get ERP Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ERP_Orders</name>
        <label>Get ERP Orders</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputReference>ERPOrder_RecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AcctSeedERP__Work_Order_Number__c</queriedFields>
        <queriedFields>Serial_Product__c</queriedFields>
        <queriedFields>Oppy_Boat_Model__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ERP_Orders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERPOrder_RecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
    <variables>
        <name>isNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
