force-app/main/default/src/Base/main/default/flows/GetFeedback_Survey_Response_Send_Follow_Up_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorHandler_AccountValidation</name>
        <label>ErrorHandler</label>
        <locationX>908</locationX>
        <locationY>638</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unable to send an email to this account. Please ensure an account is associated to the Survey and that the account has a valid email address.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_GetSurveyRecord</name>
        <label>ErrorHandler</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_EN_Retail_Survey</name>
        <label>Send EN Retail Survey</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RetailEmailBodyEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EN_Service_Survey</name>
        <label>Send EN Service Survey</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ServiceEmailBodyEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_FR_Retail_Survey</name>
        <label>Send FR Retail Survey</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RetailEmailBodyFR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_FR_Service_Survey</name>
        <label>Send FR Service Survey</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ServiceEmailBodyFR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Business_Account_Variables</name>
        <label>Assign Business Account Variables</label>
        <locationX>644</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.AccountEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.Preferred_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Account_Variables</name>
        <label>Assign Person Account Variables</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.Preferred_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EN_Retail_Survey_Assignment</name>
        <label>EN Retail Survey Assignment</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubjectEN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_EN_Retail_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EN_Service_Survey_Assignment</name>
        <label>EN Service Survey Assignment</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubjectEN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_EN_Service_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FR_Retail_Survey_Assignment</name>
        <label>FR Retail Survey Assignment</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubjectFR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_FR_Retail_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FR_Service_Survey_Assignment</name>
        <label>FR Service Survey Assignment</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailSubjectFR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_FR_Service_Survey</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RetailSurveyPicklistOption</name>
        <choiceText>Your Legend Experience Follow-Up Survey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Your Legend Experience Follow-Up Survey</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiceSurveyPicklistOption</name>
        <choiceText>Customer Care Experience Follow-Up Survey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Care Experience Follow-Up Survey</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Retail_Survey_Email_Language</name>
        <label>Retail Survey Email Language</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>EN_Retail_Survey_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>French_Retail_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_Retail_Survey_Assignment</targetReference>
            </connector>
            <label>French</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Survey_Email_Language</name>
        <label>Service Survey Email Language</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>EN_Service_Survey_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>French_Service_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_Service_Survey_Assignment</targetReference>
            </connector>
            <label>French</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Type</name>
        <label>Survey Type</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Service_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Care Experience Follow-Up Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Survey_Email_Language</targetReference>
            </connector>
            <label>Service Survey</label>
        </rules>
        <rules>
            <name>Retail_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your Legend Experience Follow-Up Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Survey_Email_Language</targetReference>
            </connector>
            <label>Retail Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Account</name>
        <label>Validate Account</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ErrorHandler_AccountValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>noemail@legendboats.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Account_Variables</targetReference>
            </connector>
            <label>Valid Person Account</label>
        </rules>
        <rules>
            <name>Valid_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.AccountEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Survey_Taker__r.AccountEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>noemail@legendboats.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Account_Variables</targetReference>
            </connector>
            <label>Valid Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_GetFeedbackSurvey_Record</name>
        <label>Validate GetFeedbackSurvey Record</label>
        <locationX>1007</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Survey_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GetFeedbackSurvey_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Account</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <formulas>
        <name>Survey30DayExpire</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <interviewLabel>GetFeedback Survey Response: Send Follow-Up Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetFeedback Survey Response: Send Follow-Up Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_GetFeedbackSurvey_Record</name>
        <label>Get GetFeedbackSurvey Record</label>
        <locationX>1007</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_GetFeedbackSurvey_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_GetSurveyRecord</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GetFeedback_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Get_Started</name>
        <label>Get Started</label>
        <locationX>1007</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_GetFeedbackSurvey_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayGetStarted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Send a Follow-Up Survey&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_EN_Retail_Survey</name>
        <label>Preview EN Retail Survey</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_EN_Retail_Survey</targetReference>
        </connector>
        <fields>
            <name>Preview_EN_Retail_Survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_EN_Retail_Survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailSubjectTitleEN</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_EN_Retail_Survey_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailSubjectEN</name>
                    <fieldText>&lt;p&gt;{!EmailSubject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preview_EN_Retail_Survey_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_EN_Retail_Survey_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailBodyTitleEN</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_EN_Retail_Survey_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailBodyEN</name>
                    <fieldText>&lt;p&gt;{!RetailEmailBodyEN}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_EN_Service_Survey</name>
        <label>Preview EN Service Survey</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_EN_Service_Survey</targetReference>
        </connector>
        <fields>
            <name>Preview_EN_Service_Survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_EN_Service_Survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceSubjectTitleEN</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_EN_Service_Survey_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceSubjectEN</name>
                    <fieldText>&lt;p&gt;{!EmailSubject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preview_EN_Service_Survey_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_EN_Service_Survey_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceBodyTitleEN</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_EN_Service_Survey_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceBodyEN</name>
                    <fieldText>&lt;p&gt;{!ServiceEmailBodyEN}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_FR_Retail_Survey</name>
        <label>Preview FR Retail Survey</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_FR_Retail_Survey</targetReference>
        </connector>
        <fields>
            <name>Preview_FR_Retail_Survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_FR_Retail_Survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailSubjectTitleFR</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_FR_Retail_Survey_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailSubjectFR</name>
                    <fieldText>&lt;p&gt;{!EmailSubject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preview_FR_Retail_Survey_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_FR_Retail_Survey_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailBodyTitleFR</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_FR_Retail_Survey_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRetailBodyFR</name>
                    <fieldText>&lt;p&gt;{!RetailEmailBodyFR}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_FR_Service_Survey</name>
        <label>Preview FR Service Survey</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_FR_Service_Survey</targetReference>
        </connector>
        <fields>
            <name>Preview_FR_Service_Survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_FR_Service_Survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceSubjectTitleFR</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_FR_Service_Survey_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceSubjectFR</name>
                    <fieldText>&lt;p&gt;{!EmailSubject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preview_FR_Service_Survey_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_FR_Service_Survey_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceBodyTitleFR</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_FR_Service_Survey_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayServiceBodyFR</name>
                    <fieldText>&lt;p&gt;{!ServiceEmailBodyFR}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Survey</name>
        <label>Select Survey</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Type</targetReference>
        </connector>
        <fields>
            <name>Survey_Picklist</name>
            <choiceReferences>ServiceSurveyPicklistOption</choiceReferences>
            <choiceReferences>RetailSurveyPicklistOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Started</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailSubjectEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Greetings {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName} From Legend Boats!</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectFR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Salut {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName} de Bateaux Legend!</text>
    </textTemplates>
    <textTemplates>
        <name>RetailEmailBodyEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://legend-media-vault.s3.us-west-2.amazonaws.com/images/NPS+Thank+You+Banner+EN.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hello again {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Our mission is to create memories, and we take ownership of our shortcomings.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We understand you recently had a less than ideal experience with your boat purchase, but we hope your Legend Customer Experience Specialist was able to address your concerns and make things right.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Just to be sure, we&apos;d love your feedback! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/NbcWzQOJ?ContactID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountName={!Get_GetFeedbackSurvey_Record.Survey_Taker__r.Name}&amp;amp;Email={!Email}&amp;amp;gf_unique={!Get_GetFeedbackSurvey_Record.Id}&amp;amp;gf_expire={!Survey30DayExpire}&amp;amp;SalespersonID={!Get_GetFeedbackSurvey_Record.SalespersonId__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://legendboats--c.na152.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixu&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RetailEmailBodyFR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://legend-media-vault.s3.us-west-2.amazonaws.com/images/NPS+Thank+You+Banner+FR.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Bonjour {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Notre mission est de créer des souvenirs, et nous prenons responsabilité de nos lacune.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nous comprenons que vous avez récemment vécu une expérience loin d’être idéale avec votre achat de bateau, mais nous espérons que votre spécialiste de l’expérience client Legend a été en mesure de répondre à vos préoccupations et de corriger les choses.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Juste pour être sûr, nous aimerions vos commentaires!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/NbcWzQOJ?ContactID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountName={!Get_GetFeedbackSurvey_Record.Survey_Taker__r.Name}&amp;amp;Email={!Email}&amp;amp;gf_unique={!Get_GetFeedbackSurvey_Record.Id}&amp;amp;gf_expire={!Survey30DayExpire}&amp;amp;SalespersonID={!Get_GetFeedbackSurvey_Record.SalespersonId__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://legendboats--c.na152.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixg&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ServiceEmailBodyEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://legend-media-vault.s3.us-west-2.amazonaws.com/images/NPS+Thank+You+Banner+EN.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hello again {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Our mission is to create memories, and we take ownership of our shortcomings.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We understand you recently had a less than ideal experience with your recent visit, but we hope your Legend Customer Experience Specialist was able to address your concerns and make things right.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Just to be sure, we&apos;d love your feedback! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/TnVhlNnc?ContactID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountName={!Get_GetFeedbackSurvey_Record.Survey_Taker__r.Name}&amp;amp;Email={!Email}&amp;amp;gf_unique={!Get_GetFeedbackSurvey_Record.Id}&amp;amp;gf_expire={!Survey30DayExpire}&amp;amp;SalespersonID={!Get_GetFeedbackSurvey_Record.SalespersonId__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://legendboats--c.na152.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixu&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ServiceEmailBodyFR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://legend-media-vault.s3.us-west-2.amazonaws.com/images/NPS+Thank+You+Banner+FR.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Bonjour {!Get_GetFeedbackSurvey_Record.Survey_Taker__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Notre mission est de créer des souvenirs, et nous prenons responsabilité de nos lacune.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nous comprenons que vous avez récemment vécu une expérience loin d’être idéale avec votre récente visite, mais nous espérons que votre spécialiste de l’expérience client Legend a été en mesure de répondre à vos préoccupations et de corriger les choses.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Juste pour être sûr, nous aimerions vos commentaires!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/TnVhlNnc?ContactID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountID={!Get_GetFeedbackSurvey_Record.Survey_Taker__c}&amp;amp;AccountName={!Get_GetFeedbackSurvey_Record.Survey_Taker__r.Name}&amp;amp;Email={!Email}&amp;amp;gf_unique={!Get_GetFeedbackSurvey_Record.Id}&amp;amp;gf_expire={!Survey30DayExpire}&amp;amp;SalespersonID={!Get_GetFeedbackSurvey_Record.SalespersonId__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://legendboats--c.na152.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixg&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
