src/FieldService/flows/PurchaseOrderLine/Create_WO_WOLI_SA_on_insert_of_POL_for_Boat.flow-meta.xml
ƒ<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Is_Flow_Bypassed</name>
        <label>Get Is Flow Bypassed</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <actionName>Flow_Bypasser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Flow_Bypassed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Create_WO_WOLI_SA_on_insert_of_POL_for_Boat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>AcctSeedERP__Purchase_Order_Line__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>BOAT_RECORDTYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012i0000000rP6KAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>MANUFACTURING_WORKORDER_RECORDTYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012040000004NfPAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_is_a_Boat_Order_Line_0</name>
        <label>If is a Boat Order Line</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Not a Boat</defaultConnectorLabel>
        <rules>
            <name>Is_a_Boat_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeedERP__Product__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BOAT_RECORDTYPE_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_0</targetReference>
            </connector>
            <label>Is a Boat</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Flow Bypassed</description>
        <name>Is_Flow_Bypassed</name>
        <label>Is Flow Bypassed</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Yes - Bypassed Skip this</defaultConnectorLabel>
        <rules>
            <name>No_Run_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Is_Flow_Bypassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_is_a_Boat_Order_Line_0</targetReference>
            </connector>
            <label>No - Run Flow</label>
        </rules>
    </decisions>
    <description>Creates corresponding Manufacturing Work Order, Work Order Line Item and Service Appointment records when Purchase Order Line is created for a Product of Record Type = Boat</description>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&quot;Pre-Rig created from &quot; + {!$Record.AcctSeedERP__Purchase_Order__r.Name} + &quot;, &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>DueDateOffset</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!$Record.AcctSeedERP__Purchase_Order__r.Estimated_Time_of_Arrival_ETA__c} ) + 14</expression>
    </formulas>
    <formulas>
        <name>DueDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!DueDateOffset} + 16/24</expression>
    </formulas>
    <formulas>
        <name>EarliestStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!$Record.AcctSeedERP__Purchase_Order__r.Estimated_Time_of_Arrival_ETA__c} ) + 16/24</expression>
    </formulas>
    <interviewLabel>Create WO, WOLI, SA on insert of POL for Boat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Manufacturing WO on insert of POL for Boat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment_0</name>
        <label>Create Service Appointment</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Link_Work_Order_and_Work_Order_Line_0</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Create_Work_Order_0</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Work Order Record</description>
        <name>Create_Work_Order_0</name>
        <label>Create Work Order</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Work_Order_Line_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.AcctSeedERP__Purchase_Order__r.AcctSeedERP__Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturing_Product_Id__c</field>
            <value>
                <elementReference>$Record.AcctSeedERP__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MANUFACTURING_WORKORDER_RECORDTYPE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Setup.FSL_Constants__c.Service_Territory_Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item_0</name>
        <label>Create Work Order Line Item</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Create_Service_Appointment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Setup.FSL_Constants__c.Service_Territory_Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Create_Work_Order_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Record.AcctSeedERP__Product__r.Pre_Rig_Work_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Link_Work_Order_and_Work_Order_Line_0</name>
        <label>Link Work Order and Work Order Line</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>Create_Work_Order_Line_Item_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Create_Work_Order_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Is_Flow_Bypassed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
