src/FieldService/flows/PurchaseOrderLine/TA_PurchaseOrderLine_CreateManufacturingWorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Boat_Record_Type_Id</name>
        <label>Get Boat Record Type Id</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Application_RecordType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_newList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>Boat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>boatRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Manufacturing_WO_recordType</name>
        <label>Get Manufacturing WO recordType</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>Application_RecordType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Boat_Record_Type_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>Manufacturing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>woRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_newListAfterFlow</name>
        <label>Add to newListAfterFlow</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newListAfterFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_newList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_newList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Is_A_Boat_Order</name>
        <label>If Is A Boat Order</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_to_newListAfterFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Boat</defaultConnectorLabel>
        <rules>
            <name>Is_A_Boat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_newList.AcctSeedERP__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_newList.AcctSeedERP__Product__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>boatRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order</targetReference>
            </connector>
            <label>Is A Boat</label>
        </rules>
    </decisions>
    <description>Creates a manufacturing Work Order for and Boats</description>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&quot;Pre-Rig created from &quot; + {!For_Each_newList.AcctSeedERP__Purchase_Order__r.Name} + &quot;, &quot; + {!For_Each_newList.Name}</expression>
    </formulas>
    <formulas>
        <name>DueDateOffset</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!For_Each_newList.AcctSeedERP__Purchase_Order__r.Estimated_Time_of_Arrival_ETA__c} ) + 14</expression>
    </formulas>
    <formulas>
        <name>DueDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!DueDateOffset} + 16/24</expression>
    </formulas>
    <formulas>
        <name>EarliestStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!For_Each_newList.AcctSeedERP__Purchase_Order__r.Estimated_Time_of_Arrival_ETA__c} ) + 16/24</expression>
    </formulas>
    <interviewLabel>TA - PurchaseOrderLine - CreateManufacturingWorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TA - PurchaseOrderLine - CreateManufacturingWorkOrder</label>
    <loops>
        <name>For_Each_newList</name>
        <label>For Each newList</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>newList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Is_A_Boat_Order</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Purchase_Order_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Work_Order_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>For_Each_newList.AcctSeedERP__Purchase_Order__r.AcctSeedERP__Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>woRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Setup.FSL_Constants__c.Service_Territory_Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Setup.FSL_Constants__c.Service_Territory_Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>For_Each_newList.AcctSeedERP__Product__r.Pre_Rig_Work_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Purchase_Order_Line</name>
        <label>Update Purchase Order Line</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Add_to_newListAfterFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_newList.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>Create_Work_Order_Line_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Manufacturing_WO_recordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>boatRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>newListAfterFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>oldList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>woRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
