force-app/main/default/flows/Customer_Experience_Follow_Up_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Activity</name>
        <label>Log Activity</label>
        <locationX>3276</locationX>
        <locationY>1257</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Launch_Post_Season_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Customer Experience Follow-Up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Customer Experience Follow-Up</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>859</locationX>
        <locationY>759</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Stage_0</name>
        <label>Assign Stage 0</label>
        <locationX>1084</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GreetingStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Greeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>1323</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose_of_Call_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purpose_of_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>1540</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_the_Experience_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rate_the_Experience</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_3</name>
        <label>Assign Stage 3</label>
        <locationX>1757</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Help_with_Issues_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Help_with_Issues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_4</name>
        <label>Assign Stage 4</label>
        <locationX>1967</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_5</name>
        <label>Assign Stage 5</label>
        <locationX>2153</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Media_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Social_Media</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_6</name>
        <label>Assign Stage 6</label>
        <locationX>2339</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Call_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Call</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Barrie</name>
        <choiceText>Barrie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barrie</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Montreal</name>
        <choiceText>Montreal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Montreal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Text</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whitefish</name>
        <choiceText>Sudbury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sudbury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>ContactMethodSplit</name>
        <label>ContactMethodSplit</label>
        <locationX>859</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PhoneMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunicationSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_0</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
        <rules>
            <name>EmailMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunicationSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailPreview</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>1875</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_any_questions_on_the_operation_of_the_boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Did_all_the_equipment_operate_ok</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_5</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateCase_0</name>
        <label>CreateCase</label>
        <locationX>2630</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Service_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoCase_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_any_questions_on_the_operation_of_the_boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Did_all_the_equipment_operate_ok</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launch_Post_Season_Flow</name>
        <label>Launch Post Season Flow</label>
        <locationX>3479</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LaunchFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchPostSeasonSurveyBool</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Post_Season_Survey_Flow</targetReference>
            </connector>
            <label>LaunchFlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Location</name>
        <label>Service Location</label>
        <locationX>2472</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MtlCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Service_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMontrealQueueID</targetReference>
            </connector>
            <label>MtlCase</label>
        </rules>
        <rules>
            <name>BarrieCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Service_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBarrieQueueID</targetReference>
            </connector>
            <label>BarrieCase</label>
        </rules>
        <rules>
            <name>WFCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Service_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sudbury</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWhitefishQueueID</targetReference>
            </connector>
            <label>WFCase</label>
        </rules>
    </decisions>
    <formulas>
        <name>userID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Customer Experience Follow-Up Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Experience Follow-Up Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>2862</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Language__c</field>
            <value>
                <elementReference>CustomerLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Detail_about_the_customers_inquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact__c</field>
            <value>
                <elementReference>Preferred_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>Preferred_Service_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_of_customer_inquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>3151</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Log_Activity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>NPS_Score__c</field>
            <value>
                <elementReference>Customers_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Customer Experience FollowUp Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Rating__c</field>
            <value>
                <elementReference>Customers_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SurveyRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taker__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GetFeedback_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>366</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGetFeedbackRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CustomerFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomerEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomerLanguage</assignToReference>
            <field>Preferred_Language__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBarrieQueueID</name>
        <label>GetBarrieQueueID</label>
        <locationX>2316</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Support Case Barrie</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>229</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserInfo</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Community</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetGetFeedbackRecordType</name>
        <label>GetGetFeedbackRecordType</label>
        <locationX>50</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Experience FollowUp Survey</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SurveyRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMontrealQueueID</name>
        <label>GetMontrealQueueID</label>
        <locationX>2591</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Support Case Montreal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRegistrationInfo</name>
        <label>GetRegistrationInfo</label>
        <locationX>509</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Method_Selector</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Electronics</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Boat Trailer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pontoon Trailer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Remote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Tiller</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registered_To_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isCurrent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Registration__c</object>
        <outputAssignments>
            <assignToReference>ProductName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserInfo</name>
        <label>GetUserInfo</label>
        <locationX>365</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRegistrationInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WarehouseID</assignToReference>
            <field>Warehouse__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetWhitefishQueueID</name>
        <label>GetWhitefishQueueID</label>
        <locationX>2476</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Support Case Whitefish</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>2975</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Animals_TAL__c</field>
            <value>
                <elementReference>Animals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <elementReference>Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivation__c</field>
            <value>
                <elementReference>Motivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_TAL__c</field>
            <value>
                <elementReference>Occupation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recreation__c</field>
            <value>
                <elementReference>Recreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teams_TAL__c</field>
            <value>
                <elementReference>Teams</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Method_Selector</name>
        <label>Contact Method Selector</label>
        <locationX>693</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactMethodSplit</targetReference>
        </connector>
        <fields>
            <name>ContactMethodTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Note:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; Remember to call the customer first, and leave a voicemail if possible. Please select the &apos;Email&apos; option below if the customer is unavailable.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CommunicationSelection</name>
            <choiceReferences>Phone</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a contact method for this customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailPreview</name>
        <label>EmailPreview</label>
        <locationX>860</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>ImportantNote</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; Clicking &apos;Next&apos; will send an email to the customers email address ({!CustomerEmail}).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayEmailPreview</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Subject: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!EmailSubject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!EmailBody}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailSuccess</name>
        <label>EmailSuccess</label>
        <locationX>1362</locationX>
        <locationY>1143</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_Activity</targetReference>
        </connector>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(30, 218, 43);&quot;&gt;Your email was successfully sent!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Call</name>
        <label>End Call</label>
        <locationX>2466</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_0</targetReference>
        </connector>
        <fields>
            <name>Stage6Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayEndCall</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Thanks again for your business and taking the time to speak with me, if you have any questions please feel free to call me.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(231, 147, 2); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Reminder: &lt;/b&gt;&lt;i style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Take this opportunity to speak with the customer about our Winterization services. Refer to the &quot;Post-Season Follow-Up Call Survey&quot; widget below. &lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LaunchPostSeasonSurvey</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Launch &apos;Post-Season Follow-Up Call Survey&apos;?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LaunchPostSeasonSurveyBool</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>3075</locationX>
        <locationY>1069</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorHandler</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(250, 12, 12);&quot;&gt;Error:&lt;/b&gt; {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Greeting</name>
        <label>Greeting</label>
        <locationX>1236</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_1</targetReference>
        </connector>
        <fields>
            <name>Stage0Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayGreeting</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Hello, this is {!UserFirstName} from Legend Boats {!WarehouseID}. May I speak with {!CustomerFirstName}?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Is this a good time for you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Help_with_Issues</name>
        <label>Help with Issues</label>
        <locationX>1864</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>Stage3Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayHelpWithIssues</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_questions_on_the_operation_of_the_boat</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any questions on the operation of the boat?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Did_all_the_equipment_operate_ok</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did all the equipment operate ok?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purpose_of_Call</name>
        <label>Purpose of Call</label>
        <locationX>1420</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_2</targetReference>
        </connector>
        <fields>
            <name>Stage1Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayPurposeOfCall1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;I&apos;m calling to check with you on your new {!ProductName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Have you had a chance to use the boat?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;How did your first day on the boat go?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Where did you go?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Who went?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;﻿What did you do?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Fishing&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Skiing/Boarding/Surfing&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Cruising&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Entertaining&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;High Performance&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Swimming&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Scuba&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Family Fun&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayFORMAT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;F.O.R.M.A.T&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Family</name>
            <dataType>String</dataType>
            <fieldText>Family</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Occupation</name>
            <dataType>String</dataType>
            <fieldText>Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recreation</name>
            <dataType>String</dataType>
            <fieldText>Recreation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Motivation</name>
            <dataType>String</dataType>
            <fieldText>Motivation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animals</name>
            <dataType>String</dataType>
            <fieldText>Animals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Teams</name>
            <dataType>String</dataType>
            <fieldText>Teams</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rate_the_Experience</name>
        <label>Rate the Experience</label>
        <locationX>1658</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_3</targetReference>
        </connector>
        <fields>
            <name>Stage2Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayRateExperience</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;On a scale from 1 - 10, with 10 being the best, how would you rate your first day on the new boat?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;&quot;10&quot; Great! What made it a 10?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;&quot;1-9&quot; May I ask what made it a (number)?&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customers_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Customers Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Customers_Comments</name>
            <fieldText>Customers Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service</name>
        <label>Service</label>
        <locationX>2083</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_5</targetReference>
        </connector>
        <fields>
            <name>Stage4Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayService</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;I&apos;ll get with the service department and have them contact you. Do you want them to call/email/or text you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Contact</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <choiceReferences>Text</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_Service_Location</name>
            <choiceReferences>Barrie</choiceReferences>
            <choiceReferences>Montreal</choiceReferences>
            <choiceReferences>Whitefish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Service Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_of_customer_inquiry</name>
            <dataType>String</dataType>
            <fieldText>Subject of customer inquiry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detail_about_the_customers_inquiry</name>
            <fieldText>Detail about the customers inquiry</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Social_Media</name>
        <label>Social Media</label>
        <locationX>2266</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_6</targetReference>
        </connector>
        <fields>
            <name>Stage5Indicator</name>
            <extensionName>c:FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplaySocial</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Are you on Facebook or Instagram?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Checkout our pages and please post pictures of your great times on the boat. I&apos;ll be looking out for them!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>3485</locationX>
        <locationY>1473</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySuccess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(13, 208, 13);&quot;&gt;The application has finished successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>477</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
        <fields>
            <name>DisplayWelcome</name>
            <fieldText>&lt;p&gt;Click &apos;&lt;b&gt;Next&lt;/b&gt;&apos; to proceed with the Customer Experience Follow-Up Script&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>End_Call_Stage</name>
        <isActive>true</isActive>
        <label>End Call</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>GreetingStage</name>
        <isActive>true</isActive>
        <label>Greeting</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Help_with_Issues_Stage</name>
        <isActive>true</isActive>
        <label>Help with Issues</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Purpose_of_Call_Stage</name>
        <isActive>true</isActive>
        <label>Purpose of Call</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Rate_the_Experience_Stage</name>
        <isActive>true</isActive>
        <label>Rate the Experience</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Service_Stage</name>
        <isActive>true</isActive>
        <label>Service</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Social_Media_Stage</name>
        <isActive>true</isActive>
        <label>Social Media</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>570</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Post_Season_Survey_Flow</name>
        <label>Launch Post-Season Survey Flow</label>
        <locationX>3648</locationX>
        <locationY>1255</locationY>
        <flowName>Post_Season_Follow_Up_Call_Survey</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>Hi {!CustomerFirstName},

It&apos;s {!UserFirstName} with Legend Boats {!WarehouseID}. I called you today to check up on your new {!ProductName} and caught your voicemail.

We are hoping that you have had a chance to give your new boat a try and all went well. I would love to hear all about your first day or days on the water and would also like to know if you have had any questions or difficulties with the boat’s operation.

Please give me a call, reply to this email, or send me a quick text when you get a chance so I can help you with any questions you have with the boat.

I look forward to speaking with you and helping you with your good times on the water!


Sincerely,
{!UserFirstName} {!UserLastName}
{!UserPhone}</text>
    </textTemplates>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Legend Boats Follow-Up</stringValue>
        </value>
    </variables>
    <variables>
        <name>LaunchPostSeasonSurveyBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
