force-app/main/default/flows/Einstein_Bot_Check_for_Live_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Agent_Status_avail_0_0</name>
        <label>Assign Agent Status</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AgentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Group_Membership</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Active_Queue_Members_0</name>
        <label>Verify Active Queue Members</label>
        <locationX>836</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Group_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Active_Queue_Member_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Group_Membership.Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QueueName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agent_Status_avail_0_0</targetReference>
            </connector>
            <label>Active Queue Member</label>
        </rules>
    </decisions>
    <description>Outputs Available or Unavailable depending if an agent is available.</description>
    <interviewLabel>Einstein Bot - Check for Live Agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bot - Check for Live Agents</label>
    <loops>
        <name>Loop_Through_Available_Users</name>
        <label>Loop Through Available Users</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Live_Agents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Membership</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Group_Membership</name>
        <label>Loop Through Group Membership</label>
        <locationX>616</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Group_Membership</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Active_Queue_Members_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Available_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Membership</name>
        <label>Get Group Membership</label>
        <locationX>616</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Group_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Available_Users.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Live_Agents</name>
        <label>Get Live Agents</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Available_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsAway</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Live_Agents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
