force-app/main/default/flows/ERP_Order_Partner_Parts_Order_Notification_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Parts_on_Order_EN_Email</name>
        <label>Send Parts on Order EN Email</label>
        <locationX>2954</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_on_Order_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Parts_on_Order_FR_Email</name>
        <label>Send Parts on Order FR Email</label>
        <locationX>2690</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_on_Order_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Parts_Shipped_EN_Email</name>
        <label>Send Parts Shipped EN Email</label>
        <locationX>1898</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_Shipped_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Parts_Shipped_FR_Email</name>
        <label>Send Parts Shipped FR Email</label>
        <locationX>1634</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_Shipped_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Parts_to_be_Ordered_EN_Email</name>
        <label>Send Parts to be Ordered EN Email</label>
        <locationX>2426</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_to_be_Ordered_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Parts_to_be_Ordered_FR_Email</name>
        <label>Send Parts to be Ordered FR Email</label>
        <locationX>2162</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Parts_to_be_Ordered_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Pick_Pack_EN_Email</name>
        <label>Send Pending Pick &amp; Pack EN Email</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Pick_Pack_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Pick_Pack_FR_Email</name>
        <label>Send Pending Pick &amp; Pack FR Email</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Pick_Pack_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Review_EN_Email</name>
        <label>Send Pending Review EN Email</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Review_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Review_FR_Email</name>
        <label>Send Pending Review FR Email</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Review_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Shipment_EN_Email</name>
        <label>Send Pending Shipment EN Email</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Shipment_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Shipment_FR_Email</name>
        <label>Send Pending Shipment FR Email</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Partner_Parts_Order_Pending_Shipment_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>ERP_Order_Stage</name>
        <label>ERP Order Stage</label>
        <locationX>1700</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Review</label>
        </rules>
        <rules>
            <name>Pending_Pick_Pack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pick and Pack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Pick &amp; Pack</label>
        </rules>
        <rules>
            <name>Pending_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Shipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Shipment</label>
        </rules>
        <rules>
            <name>Parts_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Parts Shipped</label>
        </rules>
        <rules>
            <name>Parts_to_be_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts to be Ordered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Parts to be Ordered</label>
        </rules>
        <rules>
            <name>Parts_on_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts On Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Parts on Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language</name>
        <label>Language</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Pending_Review_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Pending_Review_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_0</name>
        <label>Language</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Pending_Pick_Pack_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Pending_Pick_Pack_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_0_0</name>
        <label>Language</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Pending_Shipment_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Pending_Shipment_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_0_0_0</name>
        <label>Language</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Parts_Shipped_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Parts_Shipped_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_0_0_0_0</name>
        <label>Language</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Parts_to_be_Ordered_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Parts_to_be_Ordered_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_0_0_0_0_0</name>
        <label>Language</label>
        <locationX>2822</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Parts_on_Order_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcctSeed__Account__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Parts_on_Order_FR_Email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <description>This flow handles email notifications sent to the Partners based on the stage of the Parts Order ERP</description>
    <interviewLabel>ERP Order: Partner Parts Order Notification Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order: Partner Parts Order Notification Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ERP_Order_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legend Partner Parts Order</stringValue>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
