force-app/main/default/flows/ERP_Order_Notifications_on_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatters the Salesperson Manager when a Retail ERP is created.</description>
        <name>Chatter_Salesperson_Manager_New_Retail_ERP</name>
        <label>Chatter Salesperson Manager New Retail ERP</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_Max_Retail_ERP_Tagging_Pending</name>
        <label>Email Max Retail ERP Tagging Pending</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <actionName>AcctSeed__Project__c.Montreal_ERP_Tagging_Pending</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Evaluate_RecordType</name>
        <label>Evaluate RecordType</label>
        <locationX>1359</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Retail_Boat_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Boat Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Location_Retail</targetReference>
            </connector>
            <label>Retail Boat Sale</label>
        </rules>
        <rules>
            <name>Legend_Service_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legend Service Work Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Location_Service</targetReference>
            </connector>
            <label>Legend Service Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Location_Retail</name>
        <label>Retail Location</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Whitefish_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Salesperson_and_Manager_Whitefish</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
        <rules>
            <name>Barrie_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <label>Barrie</label>
        </rules>
        <rules>
            <name>Montreal_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Max_Retail_ERP_Tagging_Pending</targetReference>
            </connector>
            <label>Montreal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Location_Service</name>
        <label>Retail Location</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Whitefish_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <label>Whitefish</label>
        </rules>
        <rules>
            <name>Barrie_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <label>Barrie</label>
        </rules>
        <rules>
            <name>Montreal_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <label>Montreal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Salesperson_and_Manager_Whitefish</name>
        <label>Validate Salesperson and Manager</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesperson__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salesperson__r.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Salesperson_Manager_New_Retail_ERP</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all ERP Order notifications when a ERP Order record is created. (I.E. Tagging Pending)</description>
    <interviewLabel>ERP Order: Notifications on Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order: Notifications on Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1233</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_RecordType</targetReference>
        </connector>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPostBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.Salesperson__r.Manager.Id}] This Retail EPR has just been created. Get ready to tag this deal!</text>
    </textTemplates>
</Flow>
