force-app/main/default/flows/ERP_Order_Retail_Boat_Sale_Stage_Notification_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pending_Inspection_Email_Store_Manager_Whitefish</name>
        <label>Pending Inspection Email Store Manager Whitefish</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <actionName>AcctSeed__Project__c.Retail_ERP_Stage_Notification_Whitefish_Store_Manager</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tagging_Pending_Email_Store_Manager_Whitefish</name>
        <label>Tagging Pending Email Store Manager Whitefish</label>
        <locationX>314</locationX>
        <locationY>493</locationY>
        <actionName>AcctSeed__Project__c.Retail_ERP_Stage_Notification_Whitefish_Store_Manager</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>ERP_Stage</name>
        <label>ERP Stage</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Pending_Inspection_Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Inspection_Email_Store_Manager_Whitefish</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Inspection</label>
        </rules>
        <rules>
            <name>Tagging_Pending_Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tagging Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tagging_Pending_Email_Store_Manager_Whitefish</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tagging Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Location</name>
        <label>Retail Location</label>
        <locationX>842</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERP_Stage</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
        <rules>
            <name>Montreal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <label>Montreal</label>
        </rules>
        <rules>
            <name>Barrie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <label>Barrie</label>
        </rules>
    </decisions>
    <description>Slowly removing individual workflows / process builders that handle Retail ERP notifications and migrating them into this flow.</description>
    <interviewLabel>ERP Order: Retail Boat Sale Stage Notification Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order: Retail Boat Sale Stage Notification Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retail_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail Boat Sale</stringValue>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
