force-app/main/default/flows/Get_Feedback_Survey_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EPR_Cust_Sat_Survey_EN_Followup</name>
        <label>EPR Cust Sat Survey EN Followup</label>
        <locationX>761</locationX>
        <locationY>16</locationY>
        <actionName>AcctSeed__Project__c.ERP_Cust_Sat_Survey_EN_Follow_up_Survey_Flow</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ERP</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>LegendExperienceFollowUpSurvey</name>
        <choiceText>Legend Experience Follow Up Survey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legend Experience Follow Up Survey</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Survey_Choice</name>
        <label>Survey Choice</label>
        <locationX>512</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legend_Experience_Follow_Up_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00X1Y000000jPvIUAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>display_email_prior</targetReference>
            </connector>
            <label>Legend Experience Follow Up Survey</label>
        </rules>
        <rules>
            <name>Test_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00X1Y000000jQ5EUAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Test Survey</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Choose_Email_Template</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00l1Y0000023yUdQAI</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>email_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Get Feedback Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Feedback Survey Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_data</name>
        <label>get data</label>
        <locationX>254</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPRecordId</elementReference>
            </value>
        </filters>
        <object>GetFeedback_Survey_Response__c</object>
        <outputAssignments>
            <assignToReference>ERP</assignToReference>
            <field>Related_to_ERP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account_name</assignToReference>
            <field>Survey_Taker__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ERP_Follow_Up_Body</name>
        <label>Get ERP Follow Up Body</label>
        <locationX>1604</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00X1Y000000jPvIUAU</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>Email_Body</assignToReference>
            <field>Body</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Name</name>
        <label>Get Name</label>
        <locationX>358</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Follow_Up_Survey</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>account_name_resolved</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>947</locationX>
        <locationY>16</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You email was sent &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(6, 255, 14); background-color: rgb(255, 255, 255);&quot;&gt;successfully&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>display_email_prior</name>
        <label>Display Email Body</label>
        <locationX>603</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EPR_Cust_Sat_Survey_EN_Followup</targetReference>
        </connector>
        <fields>
            <name>display_email_body</name>
            <fieldText>&lt;p&gt;{!followup_email_body_text_template}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;hello&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_test</name>
        <label>display_test</label>
        <locationX>106</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_text_test</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 48px;&quot;&gt;THIS IS A TEST&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>520</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_confirmation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You email was &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;not&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt; sent!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Started</name>
        <label>Get Started</label>
        <locationX>152</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_data</targetReference>
        </connector>
        <fields>
            <name>display_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Send Follow Up Survey&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Follow_Up_Survey</name>
        <label>Select Follow Up Survey</label>
        <locationX>357</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Choice</targetReference>
        </connector>
        <fields>
            <name>Select_Survey</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select Survey&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Survey_Picklist</name>
            <choiceReferences>Choose_Email_Template</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Survey</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>display_test</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Email_Body_RTF</name>
        <text>&lt;p&gt; &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>followup_email_body_text_template</name>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;SUBJECT&lt;/u&gt;&lt;/b&gt;&lt;b&gt;&lt;u&gt;:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Email_Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;BODY:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Email_Body}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>account_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>account_name_resolved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERPRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
