force-app/main/default/flows/Remind_BOM_to_Submit_Lien_Payout_Statement_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_BOM_Email_Reminder</name>
        <label>Send BOM Email Reminder</label>
        <locationX>603</locationX>
        <locationY>49</locationY>
        <actionName>Opportunity.Notify_BOM_to_Submit_Lien_Payout_Statement</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Lien_Owing</name>
        <label>Lien Owing</label>
        <locationX>417</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lien_Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BOM_Email_Reminder</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Flow invoked by a process builder to send the BOM a reminder if a lien amount is on the opportunity.</description>
    <interviewLabel>Remind BOM to Submit Lien Payout Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remind BOM to Submit Lien Payout Statement Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Details</name>
        <label>Get Opp Details</label>
        <locationX>287</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lien_Owing</targetReference>
        </connector>
        <filters>
            <field>Lien_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Trade_In_Record__c</object>
        <outputAssignments>
            <assignToReference>TradeRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lien_Amount</assignToReference>
            <field>Lien_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_ID</name>
        <label>Get Record ID</label>
        <locationX>154</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputAssignments>
            <assignToReference>OppID</assignToReference>
            <field>AcctSeed__Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ERPId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Record_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>ERPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lien_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
