force-app/main/default/flows/Retail_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>BoatSpecialistChoice</name>
        <choiceText>Boat Specialist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BoatSpecialist</stringValue>
        </value>
    </choices>
    <choices>
        <name>InspectorChoice</name>
        <choiceText>Inspector</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspector</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemoryMakerChoice</name>
        <choiceText>Memory Maker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MemoryMaker</stringValue>
        </value>
    </choices>
    <choices>
        <name>TechnicianChoice</name>
        <choiceText>Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckExistingRecords</name>
        <label>CheckExistingRecords</label>
        <locationX>957</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>RoleRouting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistingTechnicianInspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechnicianInspectionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InspectionWarning</targetReference>
            </connector>
            <label>ExistingTechnicianInspection</label>
        </rules>
        <rules>
            <name>ExistingBoatSpecialistInspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoatSpecialistInspectionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BoatSpecialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InspectionWarning</targetReference>
            </connector>
            <label>ExistingBoatSpecialistInspection</label>
        </rules>
        <rules>
            <name>ExistingMemoryMakerInspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemMakerInspectionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemoryMaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InspectionWarning</targetReference>
            </connector>
            <label>ExistingMemoryMakerInspection</label>
        </rules>
        <rules>
            <name>ExistingInspectorInspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InspectorInspectionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InspectionWarning</targetReference>
            </connector>
            <label>ExistingInspectorInspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>RoleRouting</name>
        <label>RoleRouting</label>
        <locationX>1319</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Inspection_Screen_1_T</targetReference>
            </connector>
            <label>Technician</label>
        </rules>
        <rules>
            <name>Memory_Maker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemoryMaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Inspection_Screen_1_M</targetReference>
            </connector>
            <label>Memory Maker</label>
        </rules>
        <rules>
            <name>Boat_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BoatSpecialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Inspection_Screen_1_B</targetReference>
            </connector>
            <label>Boat Specialist</label>
        </rules>
        <rules>
            <name>Inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Inspection_Screen_1_I</targetReference>
            </connector>
            <label>Inspector</label>
        </rules>
    </decisions>
    <decisions>
        <name>RoleRouting_0</name>
        <label>RoleRouting</label>
        <locationX>1951</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technician_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInspectionT</targetReference>
            </connector>
            <label>Technician</label>
        </rules>
        <rules>
            <name>Memory_Maker_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemoryMaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInspection_M</targetReference>
            </connector>
            <label>Memory Maker</label>
        </rules>
        <rules>
            <name>Boat_Specialist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BoatSpecialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInspection_B</targetReference>
            </connector>
            <label>Boat Specialist</label>
        </rules>
        <rules>
            <name>Inspector_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInspectionI</targetReference>
            </connector>
            <label>Inspector</label>
        </rules>
    </decisions>
    <formulas>
        <name>DeficiencyConcat</name>
        <dataType>String</dataType>
        <expression>&quot;License Plate Installed?:&quot; + &quot; &quot; + {!LicensePlateReason} + &quot; &quot; + {!lineBreak} +
&quot;Boat Numbers Installed?:&quot; + &quot; &quot; + {!BoatNumbersReason} + &quot; &quot; + {!lineBreak} +
&quot;All options on boat as per Invoice (ADDONS)?:&quot; + &quot; &quot; + {!AllOptionsReason} + &quot;&quot; + {!lineBreak} +
&quot;Are all serial numbers correct?:&quot; + &quot; &quot; + {!SerialNumberReason} + &quot; &quot; + {!lineBreak} +
&quot;Boat Package Appearence acceptable?:&quot;  + &quot; &quot; + {!BoatPackageReason} + &quot; &quot; + {!lineBreak} +
&quot;Compartments Cleaned?:&quot; + &quot; &quot; + {!CompartmentsCleanedReason} + &quot; &quot; + {!lineBreak} +
&quot;Boat Electrical Checked?:&quot; + &quot; &quot; + {!BoatElectricalReason} + &quot; &quot; + {!lineBreak} +
&quot;Doors, Windows &amp; Gates Checked?:&quot; + &quot; &quot; + {!DoorsWindowsGatesReason} + &quot; &quot; + {!lineBreak} +
&quot;Tire Pressure to Spec?:&quot; + &quot; &quot; + {!TirePressureReason} + &quot; &quot; + {!lineBreak} +
&quot;Wheels Torqued?:&quot; + &quot; &quot; + {!WheelTorqueReason} + &quot; &quot; + {!lineBreak} +
&quot;Trailer Lights Checked?:&quot; + &quot; &quot; + {!TrailerLightReason} + &quot; &quot; + {!lineBreak} +
&quot;Coupler &amp; Pin Functioning?:&quot; + &quot; &quot; + {!CouplerPinReason} + &quot; &quot; + {!lineBreak} +
&quot;Tie Downs Installed?:&quot; + &quot; &quot; + {!TieDownsInstalledReason} + &quot; &quot; + {!lineBreak} +
&quot;Tie Downs in Boat?:&quot; + &quot; &quot; + {!TieDownsInBoatReason} + &quot; &quot; + {!lineBreak} +
&quot;Canvas Fitment Ok?:&quot; + &quot; &quot; + {!CanvasFitmentReason} + &quot; &quot; + {!lineBreak} +
&quot;Pontoon Brake Lockout Removed?:&quot; + &quot; &quot; + {!PontoonBrakeReason} + &quot; &quot; + {!lineBreak} +
&quot;Checked for Alternate ERPs?:&quot; + &quot; &quot; + {!AlternateERPsReason} + &quot; &quot; + {!lineBreak} +
&quot;Blue Drybag in Boat with relevant manuals?:&quot; + &quot; &quot; + {!BlueDrybagReason} + &quot; &quot; + {!lineBreak} +
&quot;Water Tested?:&quot; + &quot; &quot; + {!WaterTestedReason}</expression>
    </formulas>
    <formulas>
        <name>InspectionRecordName</name>
        <dataType>String</dataType>
        <expression>&quot;ERP #&quot; + {!ERPOrderNumber} + &quot; - &quot; + {!RoleSelection} + &quot; Inspection&quot; + &quot; - &quot; + TEXT(Today())</expression>
    </formulas>
    <interviewLabel>Retail Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateInspection_B</name>
        <label>Create Boat Specialist Inspection</label>
        <locationX>1869</locationX>
        <locationY>844</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>BS_Signatures</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Options_on_Boat_as_per_Invoice__c</field>
            <value>
                <elementReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_all_Serial_Numbers_Correct__c</field>
            <value>
                <elementReference>Are_all_serial_numbers_correct_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blue_Drybag_In_Boat_with_Relevant_Manual__c</field>
            <value>
                <elementReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Electrical_Checked__c</field>
            <value>
                <elementReference>Boat_electrical_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Numbers_Installed__c</field>
            <value>
                <elementReference>Are_the_boat_numbers_installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Package_Appearance_Acceptable__c</field>
            <value>
                <elementReference>Boat_Package_Appearance_Acceptable_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canvas_Fitment_OK__c</field>
            <value>
                <elementReference>Canvas_Fitment_Ok_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_for_Alternate_ERPs__c</field>
            <value>
                <elementReference>Check_for_Alternate_ERPs_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compartments_Cleaned__c</field>
            <value>
                <elementReference>Compartments_Cleaned_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupler_Pin_Functioning__c</field>
            <value>
                <elementReference>Couple_Pin_Functioning_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deficiencies__c</field>
            <value>
                <elementReference>DeficiencyConcat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doors_Windows_Gates_Checked__c</field>
            <value>
                <elementReference>Doors_Windows_Gates_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Plate_Mounted__c</field>
            <value>
                <elementReference>Is_the_License_Plate_Mounted_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mounting_Hole__c</field>
            <value>
                <elementReference>Mounting_Hole_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InspectionRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch_of_Prop__c</field>
            <value>
                <elementReference>Pitch_of_Prop_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pontoon_Brake_Lockout_Removed__c</field>
            <value>
                <elementReference>Pontoon_Brake_Lockout_Removed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BoatSpecialistInspectionRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tie_Downs_Installed__c</field>
            <value>
                <elementReference>Tie_Downs_Installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tire_Pressure_to_Spec__c</field>
            <value>
                <elementReference>Tire_Pressure_to_Spec_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Light_Check__c</field>
            <value>
                <elementReference>Trailer_Light_Check_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheel_Torqued__c</field>
            <value>
                <elementReference>Wheel_Torqued_fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateInspection_M</name>
        <label>Create Memory Maker Inspection</label>
        <locationX>1881</locationX>
        <locationY>623</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>SP_Signatures</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Options_on_Boat_as_per_Invoice__c</field>
            <value>
                <elementReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_all_Serial_Numbers_Correct__c</field>
            <value>
                <elementReference>Are_all_serial_numbers_correct_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blue_Drybag_In_Boat_with_Relevant_Manual__c</field>
            <value>
                <elementReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Electrical_Checked__c</field>
            <value>
                <elementReference>Boat_electrical_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Numbers_Installed__c</field>
            <value>
                <elementReference>Are_the_boat_numbers_installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Package_Appearance_Acceptable__c</field>
            <value>
                <elementReference>Boat_Package_Appearance_Acceptable_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canvas_Fitment_OK__c</field>
            <value>
                <elementReference>Canvas_Fitment_Ok_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_for_Alternate_ERPs__c</field>
            <value>
                <elementReference>Check_for_Alternate_ERPs_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compartments_Cleaned__c</field>
            <value>
                <elementReference>Compartments_Cleaned_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupler_Pin_Functioning__c</field>
            <value>
                <elementReference>Couple_Pin_Functioning_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deficiencies__c</field>
            <value>
                <elementReference>DeficiencyConcat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doors_Windows_Gates_Checked__c</field>
            <value>
                <elementReference>Doors_Windows_Gates_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Plate_Mounted__c</field>
            <value>
                <elementReference>Is_the_License_Plate_Mounted_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mounting_Hole__c</field>
            <value>
                <elementReference>Mounting_Hole_M</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InspectionRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch_of_Prop__c</field>
            <value>
                <elementReference>Pitch_of_Prop_M</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pontoon_Brake_Lockout_Removed__c</field>
            <value>
                <elementReference>Pontoon_Brake_Lockout_Removed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MemMakerInspectionRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tie_Downs_Installed__c</field>
            <value>
                <elementReference>Tie_Downs_Installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tire_Pressure_to_Spec__c</field>
            <value>
                <elementReference>Tire_Pressure_to_Spec_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Light_Check__c</field>
            <value>
                <elementReference>Trailer_Light_Check_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheel_Torqued__c</field>
            <value>
                <elementReference>Wheel_Torqued_fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateInspectionI</name>
        <label>Create Inspector Inspection</label>
        <locationX>2057</locationX>
        <locationY>51</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>Inspector_Signatures</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Options_on_Boat_as_per_Invoice__c</field>
            <value>
                <elementReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_all_Serial_Numbers_Correct__c</field>
            <value>
                <elementReference>Are_all_serial_numbers_correct_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blue_Drybag_In_Boat_with_Relevant_Manual__c</field>
            <value>
                <elementReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Electrical_Checked__c</field>
            <value>
                <elementReference>Boat_electrical_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Numbers_Installed__c</field>
            <value>
                <elementReference>Are_the_boat_numbers_installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Package_Appearance_Acceptable__c</field>
            <value>
                <elementReference>Boat_Package_Appearance_Acceptable_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canvas_Fitment_OK__c</field>
            <value>
                <elementReference>Canvas_Fitment_Ok_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_for_Alternate_ERPs__c</field>
            <value>
                <elementReference>Check_for_Alternate_ERPs_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compartments_Cleaned__c</field>
            <value>
                <elementReference>Compartments_Cleaned_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupler_Pin_Functioning__c</field>
            <value>
                <elementReference>Couple_Pin_Functioning_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deficiencies__c</field>
            <value>
                <elementReference>DeficiencyConcat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doors_Windows_Gates_Checked__c</field>
            <value>
                <elementReference>Doors_Windows_Gates_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Plate_Mounted__c</field>
            <value>
                <elementReference>Is_the_License_Plate_Mounted_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mounting_Hole__c</field>
            <value>
                <elementReference>Mounting_Hole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InspectionRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch_of_Prop__c</field>
            <value>
                <elementReference>Pitch_of_Prop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pontoon_Brake_Lockout_Removed__c</field>
            <value>
                <elementReference>Pontoon_Brake_Lockout_Removed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InspectorInspectionRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tie_Downs_Installed__c</field>
            <value>
                <elementReference>Tie_Downs_Installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tire_Pressure_to_Spec__c</field>
            <value>
                <elementReference>Tire_Pressure_to_Spec_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Light_Check__c</field>
            <value>
                <elementReference>Trailer_Light_Check_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Water_Tested__c</field>
            <value>
                <elementReference>water_test_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheel_Torqued__c</field>
            <value>
                <elementReference>Wheel_Torqued_fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateInspectionT</name>
        <label>Create Technician Inspection</label>
        <locationX>1745</locationX>
        <locationY>331</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>Tech_Signatures</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Options_on_Boat_as_per_Invoice__c</field>
            <value>
                <elementReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_all_Serial_Numbers_Correct__c</field>
            <value>
                <elementReference>Are_all_serial_numbers_correct_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blue_Drybag_In_Boat_with_Relevant_Manual__c</field>
            <value>
                <elementReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Electrical_Checked__c</field>
            <value>
                <elementReference>Boat_electrical_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Numbers_Installed__c</field>
            <value>
                <elementReference>Are_the_boat_numbers_installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Package_Appearance_Acceptable__c</field>
            <value>
                <elementReference>Boat_Package_Appearance_Acceptable_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canvas_Fitment_OK__c</field>
            <value>
                <elementReference>Canvas_Fitment_Ok_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_for_Alternate_ERPs__c</field>
            <value>
                <elementReference>Check_for_Alternate_ERPs_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compartments_Cleaned__c</field>
            <value>
                <elementReference>Compartments_Cleaned_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupler_Pin_Functioning__c</field>
            <value>
                <elementReference>Couple_Pin_Functioning_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deficiencies__c</field>
            <value>
                <elementReference>DeficiencyConcat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doors_Windows_Gates_Checked__c</field>
            <value>
                <elementReference>Doors_Windows_Gates_checked_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Plate_Mounted__c</field>
            <value>
                <elementReference>Is_the_License_Plate_Mounted_Fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mounting_Hole__c</field>
            <value>
                <elementReference>Mounting_Hole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InspectionRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch_of_Prop__c</field>
            <value>
                <elementReference>Pitch_of_Prop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pontoon_Brake_Lockout_Removed__c</field>
            <value>
                <elementReference>Pontoon_Brake_Lockout_Removed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TechnicianinspectionRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tie_Downs_Installed__c</field>
            <value>
                <elementReference>Tie_Downs_Installed_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tire_Pressure_to_Spec__c</field>
            <value>
                <elementReference>Tire_Pressure_to_Spec_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Light_Check__c</field>
            <value>
                <elementReference>Trailer_Light_Check_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Water_Tested__c</field>
            <value>
                <elementReference>water_test_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheel_Torqued__c</field>
            <value>
                <elementReference>Wheel_Torqued_fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetBoatSpecialistInspectionRecordTypeID</name>
        <label>GetBoatSpecialistInspectionRecordTypeID</label>
        <locationX>821</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMemMakerInspectionRecordTypeID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Boat Specialist Inspection</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BoatSpecialistInspectionRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetERPDetails</name>
        <label>GetERPDetails</label>
        <locationX>1166</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetERPLineItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputAssignments>
            <assignToReference>ERPOrderNumber</assignToReference>
            <field>AcctSeedERP__Work_Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Boat_Numbers</assignToReference>
            <field>Boat_numbers_erp__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pickup_Date</assignToReference>
            <field>Delivery_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>License_Plat_Number</assignToReference>
            <field>License_Plate_erp__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Serial_Numbers</assignToReference>
            <field>Serial_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetERPLineItems</name>
        <label>GetERPLineItems</label>
        <locationX>1166</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSerialNumberDetails</targetReference>
        </connector>
        <filters>
            <field>AcctSeedERP__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Material__c</object>
        <outputReference>ERPLineItemCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Lot__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>Actual_Quantity_Filled__c</queriedFields>
        <queriedFields>GMBLASERP__Unit_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetInspectorInspectionRecordTypeID</name>
        <label>GetInspectorInspectionRecordTypeID</label>
        <locationX>496</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTechnicianInspectionRecordTypeID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Inspector Inspection</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>InspectorInspectionRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMemMakerInspectionRecordTypeID</name>
        <label>GetMemMakerInspectionRecordTypeID</label>
        <locationX>998</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetERPDetails</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Memory Maker Inspection</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MemMakerInspectionRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSerialNumberDetails</name>
        <label>GetSerialNumberDetails</label>
        <locationX>1059</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RestrictMultipleEntries</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Serial_Numbers</elementReference>
            </value>
        </filters>
        <object>GMBLASERP__Serial_Number__c</object>
        <outputAssignments>
            <assignToReference>Ignition_Key_Code</assignToReference>
            <field>Ignition_Key_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTechnicianInspectionRecordTypeID</name>
        <label>GetTechnicianInspectionRecordTypeID</label>
        <locationX>662</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBoatSpecialistInspectionRecordTypeID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Technician Inspection</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TechnicianinspectionRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RestrictMultipleEntries</name>
        <label>RestrictMultipleEntriesMemMaker</label>
        <locationX>903</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RestrictMultipleEntriesBoatSpecialist</targetReference>
        </connector>
        <filters>
            <field>ERP_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemMakerInspectionRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Legend_Inspection__c</object>
        <outputAssignments>
            <assignToReference>MemMakerInspectionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RestrictMultipleEntriesBoatSpecialist</name>
        <label>RestrictMultipleEntriesBoatSpecialist</label>
        <locationX>739</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RestrictMultipleEntriesTech</targetReference>
        </connector>
        <filters>
            <field>ERP_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BoatSpecialistInspectionRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Legend_Inspection__c</object>
        <outputAssignments>
            <assignToReference>BoatSpecialistInspectionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RestrictMultipleEntriesTech</name>
        <label>RestrictMultipleEntriesTech</label>
        <locationX>596</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RestrictMultipleEntriesTech_0</targetReference>
        </connector>
        <filters>
            <field>ERP_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TechnicianinspectionRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Legend_Inspection__c</object>
        <outputAssignments>
            <assignToReference>TechnicianInspectionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RestrictMultipleEntriesTech_0</name>
        <label>RestrictMultipleEntriesTech</label>
        <locationX>480</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LocationSelectionScreen</targetReference>
        </connector>
        <filters>
            <field>ERP_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectorInspectionRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Legend_Inspection__c</object>
        <outputAssignments>
            <assignToReference>InspectorInspectionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>BoatSpecialistERPLineValidate</name>
        <label>BoatSpecialistERPLineValidate</label>
        <locationX>1523</locationX>
        <locationY>1004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_2_B</targetReference>
        </connector>
        <fields>
            <name>All_Options_on_Boat_as_per_Invoice_Addons_cmp_bs</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>All Options on Boat as per Invoice? (ADDONS)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BoatSpecialistERPDataTable</name>
            <extensionName>c:Flow_DataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>ERPLineItemCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Actual_Quantity_Filled__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>standard:contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Qty Filled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Lot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Lot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Serial_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>GMBLASERP__Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Unit Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BS_Signatures</name>
        <label>BoatSpecialist Signatures</label>
        <locationX>2029</locationX>
        <locationY>844</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>boatspecialist_signature</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enterMsg</name>
                <value>
                    <stringValue>Boat Specialist Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>BoatSpecialist-Signature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skipToCapture</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startMsg</name>
                <value>
                    <stringValue>Boat Specialist Signature</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>2299</locationX>
        <locationY>632</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 237, 16);&quot;&gt;Your Retail Inspection has been successfully created!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deficiencies</name>
        <label>Deficiencies</label>
        <locationX>1694</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RoleRouting_0</targetReference>
        </connector>
        <fields>
            <name>ReasonWhySection</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The following questions have been marked as false. Please provide a reason for each question.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LicensePlateWhy</name>
            <fieldText>&lt;p&gt;Is the License Plate Mounted?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_License_Plate_Mounted_Fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LicensePlateReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_License_Plate_Mounted_Fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatNumbersInstalledWhy</name>
            <fieldText>&lt;p&gt;Are the Boat Numbers Installed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_the_boat_numbers_installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatNumbersReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_the_boat_numbers_installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AllOptionsIncludedWhy</name>
            <fieldText>&lt;p&gt;All options on boat as per Invoice (ADDONS)?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AllOptionsReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SerialNumbersCorrectWhy</name>
            <fieldText>&lt;p&gt;Are all serial numbers correct?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_all_serial_numbers_correct_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SerialNumberReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_all_serial_numbers_correct_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatPackageAppearanceWhy</name>
            <fieldText>&lt;p&gt;Boat Package Appearance acceptable?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Boat_Package_Appearance_Acceptable_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatPackageReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Boat_Package_Appearance_Acceptable_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CompartmentsCleanedWhy</name>
            <fieldText>&lt;p&gt;Compartments Cleaned?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Compartments_Cleaned_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CompartmentsCleanedReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Compartments_Cleaned_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatElectricalCheckedWhy</name>
            <fieldText>&lt;p&gt;Boat Electrical Checked?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Boat_electrical_checked_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BoatElectricalReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Boat_electrical_checked_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DoorsWindowGatesCheckedWhy</name>
            <fieldText>&lt;p&gt;Doors, Windows &amp;amp; Gates Checked?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Doors_Windows_Gates_checked_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DoorsWindowsGatesReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Doors_Windows_Gates_checked_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TirePressureWhy</name>
            <fieldText>&lt;p&gt;Tire Pressure to Spec?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Tire_Pressure_to_Spec_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TirePressureOkWhy</name>
            <fieldText>&lt;p&gt;Tire Pressure OK?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tire_Pressure_to_Spec_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TirePressureReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tire_Pressure_to_Spec_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WheelTorqueWhy</name>
            <fieldText>&lt;p&gt;Wheel Torqued?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 and (2 or 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Wheel_Torqued_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WheelLugsTightWhy</name>
            <fieldText>&lt;p&gt;Wheels Lugs Tight?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Wheel_Torqued_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WheelTorqueReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Wheel_Torqued_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TrailerLightWhy</name>
            <fieldText>&lt;p&gt;Trailer Light Checked?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Trailer_Light_Check_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TrailerLightReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Trailer_Light_Check_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CouplerPinFunctioningWhy</name>
            <fieldText>&lt;p&gt;Coupler &amp;amp; Pin Functioning?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Couple_Pin_Functioning_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CouplerPinReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Couple_Pin_Functioning_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TieDowninBoatWhy</name>
            <fieldText>&lt;p&gt;Tie Downs in Boat?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tie_Downs_Installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TieDownsInBoatReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tie_Downs_Installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TieDownsInstalledWhy</name>
            <fieldText>&lt;p&gt;Tie Downs Installed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tie_Downs_Installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TieDownsInstalledReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tie_Downs_Installed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CanvasFitmentWhy</name>
            <fieldText>&lt;p&gt;Canvas Fitment Ok?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canvas_Fitment_Ok_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CanvasFitmentReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canvas_Fitment_Ok_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PontoonBrakeWhy</name>
            <fieldText>&lt;p&gt;Pontoon Brake Lockout Removed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Pontoon_Brake_Lockout_Removed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PontoonBrakeReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Pontoon_Brake_Lockout_Removed_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AlternateERPsWhy</name>
            <fieldText>&lt;p&gt;Checked for Alternate ERPs?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_Alternate_ERPs_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AlternateERPsReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 or 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_Alternate_ERPs_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlueDrybagWhy</name>
            <fieldText>&lt;p&gt;Blue Drybag In Boat with relevant manuals?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlueDrybagReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WaterTestWhy</name>
            <fieldText>&lt;p&gt;Water Tested?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician </stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>water_test_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WaterTestedReason</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) and 3</conditionLogic>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>water_test_fixed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InspectionWarning</name>
        <label>InspectionWarning</label>
        <locationX>1117</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RoleRouting</targetReference>
        </connector>
        <fields>
            <name>BoatSpecialistWarning</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Warning: A Boat Specialist Inspection already exists for this ERP. A new inspection record will be created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BoatSpecialistInspectionID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BoatSpecialist</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TechnicianWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Warning: A Technician Inspection already exists for this ERP. A new inspection record will be created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TechnicianInspectionID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technician</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MemMakerWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Warning: A Memory Maker Inspection already exists for this ERP. A new inspection record will be created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MemMakerInspectionID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MemoryMaker</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InspectorWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Warning: A Inspector Inspection already exists for this ERP. A new inspection record will be created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InspectorInspectionID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inspector</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspector_Signatures</name>
        <label>Inspector Signature</label>
        <locationX>2305</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>inspector_signature</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enterMsg</name>
                <value>
                    <stringValue>Inspector Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>Inspector-Signature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skipToCapture</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startMsg</name>
                <value>
                    <stringValue>Inspector Signature</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InspectorERPLineValidate</name>
        <label>InspectorERPLineValidate</label>
        <locationX>1525</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_2_T_0</targetReference>
        </connector>
        <fields>
            <name>All_Options_on_Boat_as_per_Invoice_Addons_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>All Options on Boat as per Invoice? (ADDONS)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TechERPDataTable_0</name>
            <extensionName>c:Flow_DataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>ERPLineItemCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Actual_Quantity_Filled__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>standard:contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Qty Filled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Lot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Lot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Serial_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>GMBLASERP__Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Unit Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard1</name>
                <value>
                    <elementReference>SelectedERPItemsOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showButtons</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LocationSelectionScreen</name>
        <label>LocationSelectionScreen</label>
        <locationX>589</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckExistingRecords</targetReference>
        </connector>
        <fields>
            <name>RoleSelection</name>
            <choiceReferences>TechnicianChoice</choiceReferences>
            <choiceReferences>InspectorChoice</choiceReferences>
            <choiceReferences>MemoryMakerChoice</choiceReferences>
            <choiceReferences>BoatSpecialistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your role from the following list</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MemMakerERPLineValidate</name>
        <label>MemMakerERPLineValidate</label>
        <locationX>1559</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_2_M</targetReference>
        </connector>
        <fields>
            <name>All_Options_on_Boat_as_per_Invoice_Addons_cmp_mem</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>All Options on Boat as per Invoice? (ADDONS)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MemMakerERPDataTable</name>
            <extensionName>c:Flow_DataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>ERPLineItemCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Actual_Quantity_Filled__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>standard:contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Qty Filled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Lot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Lot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Serial_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>GMBLASERP__Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Unit Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_1_B</name>
        <label>Retail Inspection Screen 1 (Boat Specialist)</label>
        <locationX>1463</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BoatSpecialistERPLineValidate</targetReference>
        </connector>
        <fields>
            <name>BoatSpecialistSection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Boat Specialist&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Summary_B</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERP Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;&lt;p&gt;&lt;b&gt;License Plate Number: &lt;/b&gt;{!License_Plat_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Boat Number: &lt;/b&gt;{!Boat_Numbers}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ignition Key Number: &lt;/b&gt;{!Ignition_Key_Code}&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_License_Plate_Mounted_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Is the License Plate Mounted?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_the_License_Plate_Mounted_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Are_the_boat_numbers_installed_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are the Boat Numbers Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_the_boat_numbers_installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pitch_of_Prop_B</name>
            <dataType>String</dataType>
            <fieldText>Pitch of Prop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mounting_Hole_B</name>
            <dataType>String</dataType>
            <fieldText>Mounting Hole</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MountingHoleDisplayB</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Mounting Hole Diagram&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MountingHoleDiagramB</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>MountingHoleDiagram</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_1_I</name>
        <label>Retail Inspection Screen 1 (Inspector)</label>
        <locationX>1313</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InspectorERPLineValidate</targetReference>
        </connector>
        <fields>
            <name>InspectorSection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Inspector&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Summary_T_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERP Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;&lt;p&gt;&lt;b&gt;License Plate Number: &lt;/b&gt;{!License_Plat_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Boat Number: &lt;/b&gt;{!Boat_Numbers}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ignition Key Number: &lt;/b&gt;{!Ignition_Key_Code}&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_License_Plate_Mounted_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Is the License Plate Mounted?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_the_License_Plate_Mounted_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Are_the_boat_numbers_installed_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are the Boat Numbers Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_the_boat_numbers_installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pitch_of_Prop_0</name>
            <dataType>String</dataType>
            <fieldText>Pitch of Prop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mounting_Hole_0</name>
            <dataType>String</dataType>
            <fieldText>Mounting Hole</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MountingHoleDiagramDisplayI</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Mounting Hole Diagram&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MountingHoleDiagramI</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>MountingHoleDiagram</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_1_M</name>
        <label>Retail Inspection Screen 1 (Memory Maker)</label>
        <locationX>1496</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MemMakerERPLineValidate</targetReference>
        </connector>
        <fields>
            <name>MemoryMakerSection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Memory Maker&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Summary_M</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERP Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;&lt;p&gt;&lt;b&gt;License Plate Number: &lt;/b&gt;{!License_Plat_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Boat Number: &lt;/b&gt;{!Boat_Numbers}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ignition Key Number: &lt;/b&gt;{!Ignition_Key_Code}&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_License_Plate_Mounted_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Is the License Plate Mounted?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_the_License_Plate_Mounted_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Are_the_boat_numbers_installed_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are the Boat Numbers Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_the_boat_numbers_installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pitch_of_Prop_M</name>
            <dataType>String</dataType>
            <fieldText>Pitch of Prop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mounting_Hole_M</name>
            <dataType>String</dataType>
            <fieldText>Mounting Hole</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MountingHoleDisplayM</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Mounting Hole Diagram&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MountingHoleDiagramM</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>MountingHoleDiagram</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_1_T</name>
        <label>Retail Inspection Screen 1 (Technician)</label>
        <locationX>1325</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TechERPLineValidate</targetReference>
        </connector>
        <fields>
            <name>TechnicitianSection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Technician&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Summary_T</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERP Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;&lt;p&gt;&lt;b&gt;License Plate Number: &lt;/b&gt;{!License_Plat_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Boat Number: &lt;/b&gt;{!Boat_Numbers}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ignition Key Number: &lt;/b&gt;{!Ignition_Key_Code}&lt;/p&gt;&lt;p&gt;---------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_License_Plate_Mounted_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Is the License Plate Mounted?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_the_License_Plate_Mounted_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Are_the_boat_numbers_installed_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are the Boat Numbers Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_the_boat_numbers_installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pitch_of_Prop</name>
            <dataType>String</dataType>
            <fieldText>Pitch of Prop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mounting_Hole</name>
            <dataType>String</dataType>
            <fieldText>Mounting Hole</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MountingHoleDisplayI</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Mounting Hole Diagram&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MountingHoleDiagramT</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>MountingHoleDiagram</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_2_B</name>
        <label>Retail Inspection Screen 2 (Boat Specialist)</label>
        <locationX>1601</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_3_B</targetReference>
        </connector>
        <fields>
            <name>BoatSpecialistSection2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Boat Specialist&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_all_serial_numbers_correct_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are all Serial Numbers Correct?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_all_serial_numbers_correct_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_Package_Appearance_Acceptable_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat Package appearance Acceptable?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_Package_Appearance_Acceptable_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Compartments_Cleaned_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Compartments Cleaned?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Compartments_Cleaned_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_electrical_checked_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat electrical checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_electrical_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doors_Windows_Gates_checked_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Doors, Windows &amp; Gates checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Doors_Windows_Gates_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_2_M</name>
        <label>Retail Inspection Screen 2 (Memory Maker)</label>
        <locationX>1618</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_3_M</targetReference>
        </connector>
        <fields>
            <name>MemoryMakerSection2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Memory Maker&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_all_serial_numbers_correct_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are all Serial Numbers Correct?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_all_serial_numbers_correct_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_Package_Appearance_Acceptable_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat Package appearance Acceptable?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_Package_Appearance_Acceptable_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Compartments_Cleaned_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Compartments Cleaned?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Compartments_Cleaned_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_electrical_checked_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat electrical checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_electrical_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doors_Windows_Gates_checked_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Doors, Windows &amp; Gates checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Doors_Windows_Gates_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_2_T</name>
        <label>Retail Inspection Screen 2 (Technician)</label>
        <locationX>1502</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_3_T</targetReference>
        </connector>
        <fields>
            <name>TechnicianSection2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Technician&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_all_serial_numbers_correct_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are all Serial Numbers Correct?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_all_serial_numbers_correct_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_electrical_checked_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat electrical checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_electrical_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doors_Windows_Gates_checked_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Doors, Windows &amp; Gates checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Doors_Windows_Gates_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Water_Test_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Water Tested?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>water_test_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_2_T_0</name>
        <label>Retail Inspection Screen 2 (Technician)</label>
        <locationX>1683</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_3_T_0</targetReference>
        </connector>
        <fields>
            <name>InspectorSection2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Inspector&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_all_serial_numbers_correct_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Are all Serial Numbers Correct?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_all_serial_numbers_correct_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Boat_electrical_checked_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Boat electrical checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Boat_electrical_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doors_Windows_Gates_checked_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Doors, Windows &amp; Gates checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Doors_Windows_Gates_checked_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Water_Test_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Water Tested?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>water_test_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_3_B</name>
        <label>Retail Inspection Screen 3 (Boat Specialist)</label>
        <locationX>1731</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deficiencies</targetReference>
        </connector>
        <fields>
            <name>BoatSpecialistSection3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Boat Specialist&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tire_Pressure_to_Spec_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tire Pressure OK?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tire_Pressure_to_Spec_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Wheel_Torqued_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Wheel Lugs Tight?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Wheel_Torqued_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trailer_Light_Check_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Trailer Light Checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Trailer_Light_Check_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Couple_Pin_Functioning_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Coupler &amp; Pin Functioning?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Couple_Pin_Functioning_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Tie_Downs_Installed_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tie Downs Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tie_Downs_Installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Canvas_Fitment_Ok_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Canvas Fitment Ok?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Canvas_Fitment_Ok_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pontoon_Brake_Lockout_Removed_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Pontoon Brake Lockout Removed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Pontoon_Brake_Lockout_Removed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Check_for_Alternate_ERPs_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Checked for Alternate ERPs</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Check_for_Alternate_ERPs_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blue_Drybag_in_Boat_with_Relevant_Manuals_cmp_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Blue Drybag in Boat with Relevant Manuals?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_3_M</name>
        <label>Retail Inspection Screen 3 (Memory Maker)</label>
        <locationX>1738</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deficiencies</targetReference>
        </connector>
        <fields>
            <name>MemoryMakerSection3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Memory Maker&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tire_Pressure_to_Spec_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tire Pressure OK?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tire_Pressure_to_Spec_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Wheel_Torqued_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Wheel Lugs Tight?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Wheel_Torqued_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trailer_Light_Check_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Trailer Light Checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Trailer_Light_Check_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Couple_Pin_Functioning_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Coupler &amp; Pin Functioning?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Couple_Pin_Functioning_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Tie_Downs_Installed_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tie Downs Installed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tie_Downs_Installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Canvas_Fitment_Ok_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Canvas Fitment Ok?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Canvas_Fitment_Ok_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pontoon_Brake_Lockout_Removed_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Pontoon Brake Lockout Removed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Pontoon_Brake_Lockout_Removed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Check_for_Alternate_ERPs_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Checked for Alternate ERPs</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Check_for_Alternate_ERPs_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blue_Drybag_in_Boat_with_Relevant_Manuals_cmp_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Blue Drybag in Boat with Relevant Manuals?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_3_T</name>
        <label>Retail Inspection Screen 3 (Technician)</label>
        <locationX>1608</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deficiencies</targetReference>
        </connector>
        <fields>
            <name>TechnicianSection3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Technician&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tire_Pressure_to_Spec_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tire Pressure to Spec?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tire_Pressure_to_Spec_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Wheel_Torqued_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Wheel Torqued?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Wheel_Torqued_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trailer_Light_Check_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Trailer Light Checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Trailer_Light_Check_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Couple_Pin_Functioning_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Coupler &amp; Pin Functioning?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Couple_Pin_Functioning_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Tie_Downs_Installed_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tie Downs in Boat?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tie_Downs_Installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Canvas_Fitment_Ok_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Canvas Fitment Ok?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Canvas_Fitment_Ok_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blue_Drybag_in_Boat_with_Relevant_Manuals_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Blue Drybag in Boat with Relevant Manuals?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Inspection_Screen_3_T_0</name>
        <label>Retail Inspection Screen 3 (Technician)</label>
        <locationX>1871</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deficiencies</targetReference>
        </connector>
        <fields>
            <name>InspectorSection3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Inspector&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tire_Pressure_to_Spec_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tire Pressure to Spec?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tire_Pressure_to_Spec_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Wheel_Torqued_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Wheel Torqued?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Wheel_Torqued_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trailer_Light_Check_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Trailer Light Checked?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Trailer_Light_Check_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Couple_Pin_Functioning_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Coupler &amp; Pin Functioning?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Couple_Pin_Functioning_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Tie_Downs_Installed_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEnabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Tie Downs in Boat?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Tie_Downs_Installed_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Canvas_Fitment_Ok_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Canvas Fitment Ok?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Canvas_Fitment_Ok_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blue_Drybag_in_Boat_with_Relevant_Manuals_cmp_0_0_0</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>Blue Drybag in Boat with Relevant Manuals?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SP_Signatures</name>
        <label>SalesPerson Signatures</label>
        <locationX>2036</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>salesperson_signature</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enterMsg</name>
                <value>
                    <stringValue>Memory Maker Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>Salesperson-Signature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skipToCapture</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startMsg</name>
                <value>
                    <stringValue>Memory Maker Signature</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tech_Signatures</name>
        <label>Technician Signatures</label>
        <locationX>2038</locationX>
        <locationY>367</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>tech_signature</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enterMsg</name>
                <value>
                    <stringValue>Technician Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>Technician-Signature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skipToCapture</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startMsg</name>
                <value>
                    <stringValue>Technician Signature</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TechERPLineValidate</name>
        <label>TechERPLineValidate</label>
        <locationX>1402</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retail_Inspection_Screen_2_T</targetReference>
        </connector>
        <fields>
            <name>All_Options_on_Boat_as_per_Invoice_Addons_cmp</name>
            <extensionName>c:Flow_Custom_Checkbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelName</name>
                <value>
                    <stringValue>All Options on Boat as per Invoice? (ADDONS)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</assignToReference>
                <name>isEnabled</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TechERPDataTable</name>
            <extensionName>c:Flow_DataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>ERPLineItemCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Actual_Quantity_Filled__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>standard:contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Qty Filled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Lot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Lot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Serial_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>GMBLASERP__Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Unit Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_width</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>GetInspectorInspectionRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>lineBreak</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>All_Options_on_Boat_as_per_Invoice_Addons_Fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Are_all_serial_numbers_correct_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Are_the_boat_numbers_installed_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Blue_Drybag_in_Boat_with_Relevant_Manuals_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Boat_electrical_checked_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Boat_Numbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Boat_Package_Appearance_Acceptable_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BoatSpecialistInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoatSpecialistInspectionRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Canvas_Fitment_Ok_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_for_Alternate_ERPs_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Compartments_Cleaned_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Couple_Pin_Functioning_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Doors_Windows_Gates_checked_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ERPLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Material__c</objectType>
    </variables>
    <variables>
        <name>ERPOrderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERPOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ignition_Key_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectorInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectorInspectionRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_the_License_Plate_Mounted_Fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>License_Plat_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemMakerInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemMakerInspectionRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Orientation_Checklist_Complete_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Pickup_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pontoon_Brake_Lockout_Removed_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedERPItemsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Material__c</objectType>
    </variables>
    <variables>
        <name>Serial_Numbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianinspectionRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tie_Downs_Installed_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Tire_Pressure_to_Spec_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Trailer_Light_Check_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>water_test_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Wheel_Torqued_fixed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
