force-app/main/default/flows/Submit_for_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Period_Status</name>
        <label>Period Status</label>
        <locationX>490</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>TodayPlus10</name>
        <dataType>Date</dataType>
        <expression>Today() + 10</expression>
    </formulas>
    <interviewLabel>Submit for Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AP_Line</name>
        <label>Create AP Line</label>
        <locationX>749</locationX>
        <locationY>214</locationY>
        <assignRecordIdToReference>PayableLineID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Validation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Account_Payable__c</field>
            <value>
                <elementReference>PayableRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Amount__c</field>
            <value>
                <elementReference>Subtotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Expense_GL_Account__c</field>
            <value>
                <elementReference>Selected_GLAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Product__c</field>
            <value>
                <stringValue>01t1Y000008CZ2jQAG</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Payable_Line__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable</name>
        <label>Create Payable</label>
        <locationX>675</locationX>
        <locationY>61</locationY>
        <assignRecordIdToReference>PayableRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_AP_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Validation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Date__c</field>
            <value>
                <elementReference>Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Payee_Reference__c</field>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Vendor__c</field>
            <value>
                <elementReference>SelectedVendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Variable_1__c</field>
            <value>
                <elementReference>SelectedGLV1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Variable_2__c</field>
            <value>
                <elementReference>SelectedGLV2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Comment__c</field>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Payable__c</object>
    </recordCreates>
    <recordLookups>
        <name>Validate_Accounting_Period</name>
        <label>Validate Accounting Period</label>
        <locationX>386</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Period_Status</targetReference>
        </connector>
        <filters>
            <field>AcctSeed__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Issue_Date</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Accounting_Period__c</object>
        <outputAssignments>
            <assignToReference>PeriodStatus</assignToReference>
            <field>AcctSeed__Status__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error - Period Closed</label>
        <locationX>364</locationX>
        <locationY>346</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Vendor</targetReference>
        </connector>
        <fields>
            <name>PeriodClosedError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 6);&quot;&gt;Issue date is in a closed accounting period.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Validation</name>
        <label>Error - Validation</label>
        <locationX>582</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>APCreationError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(36, 39, 41); background-color: rgb(255, 255, 255); font-size: 15px; font-family: Arial, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, sans-serif;&quot;&gt;Error on creation:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); background-color: rgb(255, 255, 255); font-size: 15px; font-family: Arial, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, sans-serif;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vendor</name>
        <label>Select Vendor</label>
        <locationX>251</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Accounting_Period</targetReference>
        </connector>
        <fields>
            <name>Vendor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AcctSeed__Vendor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeed__Account_Payable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedVendor</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Invoice_Number</name>
            <dataType>String</dataType>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GLV1_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GL_Account_Variable_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeed__Account_Payable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedGLV1</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Issue_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayDate</elementReference>
            </defaultValue>
            <fieldText>Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GLV2_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GL_Account_Variable_2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeed__Account_Payable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedGLV2</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayPlus10</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subtotal</name>
            <dataType>Number</dataType>
            <fieldText>Subtotal before Sales Taxes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Internal_Comments</name>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GLAccount_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeed__Account_Payable_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>APL_GL_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Catagory</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_GLAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>961</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 144, 5);&quot;&gt;Your submission was successful. Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment</name>
        <label>Upload Attachment</label>
        <locationX>819</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <fields>
            <name>UploadDoc</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PayableRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Vendor</startElementReference>
    <status>Active</status>
    <variables>
        <name>PayableLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PayableRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PeriodStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_GLAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGLV1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGLV2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
