force-app/main/default/flows/Submit_Article_for_External_Translation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Article_Translation</name>
        <label>Create Article Translation</label>
        <locationX>988</locationX>
        <locationY>111</locationY>
        <actionName>submitKnowledgeArticleForTranslation</actionName>
        <actionType>submitKnowledgeArticleForTranslation</actionType>
        <connector>
            <targetReference>Create_Translation_Case</targetReference>
        </connector>
        <inputParameters>
            <name>articleId</name>
            <value>
                <elementReference>articleID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Article_for_Translation</name>
        <label>Submit Article for Translation</label>
        <locationX>865</locationX>
        <locationY>111</locationY>
        <actionName>General_Information__kav.Submit_Article_for_Translation_External</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Article_Translation</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Translator1</name>
        <choiceText>cregimbald@me.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>cregimbald@me.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Translator2</name>
        <choiceText>snadeau@legendboats.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>snadeau@legendboats.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Translator3</name>
        <choiceText>tpeterson@legendboats.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>tpeterson@legendboats.com</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Already_Translated</name>
        <label>Check Already Translated</label>
        <locationX>326</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Translation_Case_Validation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Published</targetReference>
            </connector>
            <label>CaseNull</label>
        </rules>
        <rules>
            <name>CaseNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Translation_Case_Validation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Failed_Translated</targetReference>
            </connector>
            <label>CaseNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Published</name>
        <label>Check Published</label>
        <locationX>498</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Select_Translator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Failed_Published</targetReference>
            </connector>
            <label>isPublished</label>
        </rules>
    </decisions>
    <decisions>
        <name>Translator_Validator</name>
        <label>Translator Validator</label>
        <locationX>677</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TranslatorValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Translator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KB_Translator</targetReference>
            </connector>
            <label>TranslatorValid</label>
        </rules>
        <rules>
            <name>TranslatorError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Translator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Failed</targetReference>
            </connector>
            <label>TranslatorError</label>
        </rules>
    </decisions>
    <description>Removed Translator on KB and moved to Case (for Dave&#39;s deployment)</description>
    <interviewLabel>Submit Article for External Translation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Article for External Translation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Translation_Case</name>
        <label>Create Translation Case</label>
        <locationX>988</locationX>
        <locationY>303</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Article_Case_Detais</targetReference>
        </connector>
        <inputAssignments>
            <field>Knowledge_Article__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121Y000001J4YOQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>store_article_title</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Translated_Article</name>
        <label>Get Translated Article</label>
        <locationX>1238</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Translated_Article_Case_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>articleID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Translation_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>General_Information__kav</object>
        <outputAssignments>
            <assignToReference>TranslatedArticleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getArticle</name>
        <label>getArticle</label>
        <locationX>334</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Already_Translated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>General_Information__kav</object>
        <outputAssignments>
            <assignToReference>store_article_content</assignToReference>
            <field>Content__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>articleID</assignToReference>
            <field>KnowledgeArticleId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PublishStatus</assignToReference>
            <field>PublishStatus</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>store_article_title</assignToReference>
            <field>Title</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Translation_Case_Validation</assignToReference>
            <field>Translation_Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Article_Case_Detais</name>
        <label>Update Article Case Detais</label>
        <locationX>1112</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Get_Translated_Article</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Translation_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <object>General_Information__kav</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update EN KB Translator</description>
        <name>Update_KB_Translator</name>
        <label>Update KB Translator</label>
        <locationX>756</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Submit_Article_for_Translation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_to_Translator__c</field>
            <value>
                <elementReference>Select_a_Translator</elementReference>
            </value>
        </inputAssignments>
        <object>General_Information__kav</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Translated_Article_Case_Details</name>
        <label>Update Translated Article Case Details</label>
        <locationX>1382</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Email_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TranslatedArticleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_to_Translator__c</field>
            <value>
                <elementReference>Select_a_Translator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Translation_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <object>General_Information__kav</object>
    </recordUpdates>
    <screens>
        <name>Email_Confirmation</name>
        <label>Email Confirmation</label>
        <locationX>1382</locationX>
        <locationY>131</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Your translation request has been sent &lt;span style=&quot;color: rgb(0, 255, 13);&quot;&gt;successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Failed</name>
        <label>Email Failed</label>
        <locationX>677</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/span&gt; Your translation request has not been sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Failed_Published</name>
        <label>Email Failed</label>
        <locationX>504</locationX>
        <locationY>545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Published</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/span&gt; Your article is currently published. Please submit a draft article.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Failed_Translated</name>
        <label>Email Failed</label>
        <locationX>334</locationX>
        <locationY>554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Already_Translated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/span&gt; Your article has already been submitted for translation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Preview_Screen</name>
        <label>Email Preview</label>
        <locationX>618</locationX>
        <locationY>106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Translator_Validator</targetReference>
        </connector>
        <fields>
            <name>email_preview</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Email Preview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>email_body</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Subject:&lt;/u&gt; &lt;/b&gt;Legend Boats - Article Translation Request&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Body:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following article has been submitted for translation:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Title: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!article_title}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Content:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!article_content}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please submit the translation to tpeterson@legendboats.com.&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Translator</name>
        <label>Select Translator</label>
        <locationX>502</locationX>
        <locationY>106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Preview_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_a_Translator</name>
            <choiceReferences>Translator1</choiceReferences>
            <choiceReferences>Translator2</choiceReferences>
            <choiceReferences>Translator3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Translator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Translation</name>
        <label>Submit for Translation</label>
        <locationX>207</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getArticle</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Submit_for_Translation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>article_content</name>
        <text>&lt;p&gt;{!store_article_content}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>article_title</name>
        <text>&lt;p&gt;{!store_article_title}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>articleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PublishStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>store_article_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>store_article_title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TranslatedArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Translation_Case_Validation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Translator_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
