force-app/main/default/flows/Submit_Trade_In_ERP_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Barrie_Trade_In_Approval</name>
        <label>Barrie Trade In Approval</label>
        <locationX>549</locationX>
        <locationY>151</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Barrie_Trade_In_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ERPId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Montreal_Trade_In_Approval</name>
        <label>Montreal Trade In Approval</label>
        <locationX>445</locationX>
        <locationY>50</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Montreal_Trade_In_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ERPId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_BOM_Pay_out_Lien_if_Applicable</name>
        <label>Notify BOM Pay out Lien if Applicable</label>
        <locationX>551</locationX>
        <locationY>876</locationY>
        <actionName>AcctSeed__Project__c.BOM_Trade_ERP_Pending_Pick_and_Pack_or_Pending_Inspection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ERPId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Whitefish_Trade_In_Approval</name>
        <label>Whitefish Trade In Approval</label>
        <locationX>684</locationX>
        <locationY>203</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Whitefish_Trade_In_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ERPId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>NeedsWork</name>
        <label>NeedsWork</label>
        <locationX>435</locationX>
        <locationY>577</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_Trade_In_package_require_additional_work</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ERPWarehouse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whitefish_Trade_In_Approval</targetReference>
            </connector>
            <label>True Whitefish</label>
        </rules>
        <rules>
            <name>True_Barrie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_Trade_In_package_require_additional_work</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ERPWarehouse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Barrie_Trade_In_Approval</targetReference>
            </connector>
            <label>True Barrie</label>
        </rules>
        <rules>
            <name>True_Montreal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_Trade_In_package_require_additional_work</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ERPWarehouse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Montreal_Trade_In_Approval</targetReference>
            </connector>
            <label>True Montreal</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_Trade_In_package_require_additional_work</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ERP_Stage</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <interviewLabel>Submit Trade In ERP for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Trade In ERP for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecordId</name>
        <label>getRecordId</label>
        <locationX>155</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isApprovalRequired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputAssignments>
            <assignToReference>ERPId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ERPWarehouse</assignToReference>
            <field>WarehouseName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ERP_Stage</name>
        <label>Update ERP Stage</label>
        <locationX>551</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>Notify_BOM_Pay_out_Lien_if_Applicable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pending Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project__c</object>
    </recordUpdates>
    <screens>
        <name>isApprovalRequired</name>
        <label>isApprovalRequired</label>
        <locationX>310</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NeedsWork</targetReference>
        </connector>
        <fields>
            <name>Does_the_Trade_In_package_require_additional_work</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Does the Trade-In package require additional work?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ERPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERPWarehouse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
