force-app/main/default/flows/Update_Cash_Disbursement_Approval_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Id_Origin</name>
        <label>Id Origin</label>
        <locationX>348</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>List View</label>
        </rules>
        <rules>
            <name>SingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetApprovalStatus</targetReference>
            </connector>
            <label>SingleRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>isApproved</name>
        <label>isApproved</label>
        <locationX>783</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>alreadyPaid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Already_Paid</targetReference>
            </connector>
            <label>alreadyPaid</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Paid</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Not_Approved</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <description>Updates the Cash Disbursement Approval Status to Paid when the record has been approved by all parties.</description>
    <interviewLabel>Update Cash Disbursement Approval Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Cash Disbursement Approval Status</label>
    <loops>
        <name>Parse_Selected_Ids</name>
        <label>Parse Selected Ids</label>
        <locationX>292</locationX>
        <locationY>521</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_as_Paid_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetApprovalStatus</name>
        <label>GetApprovalStatus</label>
        <locationX>551</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isApproved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandle</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Cash_Disbursement__c</object>
        <outputAssignments>
            <assignToReference>ApprovalStatus</assignToReference>
            <field>Approval_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_as_Paid</name>
        <label>Mark as Paid</label>
        <locationX>1042</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandle</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Cash_Disbursement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_Paid_0</name>
        <label>Mark as Paid</label>
        <locationX>362</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>Parse_Selected_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandle_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parse_Selected_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Cash_Disbursement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Already_Paid</name>
        <label>Error - Already Paid</label>
        <locationX>833</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 173, 40); font-family: verdana;&quot;&gt;Error: This Cash Disbursement has already been paid.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Not_Approved</name>
        <label>Error - Not Approved</label>
        <locationX>790</locationX>
        <locationY>384</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(247, 3, 3);&quot;&gt;Error: This Cash Disbursement has not yet been approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FaultMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorHandle</name>
        <label>ErrorHandle</label>
        <locationX>869</locationX>
        <locationY>509</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsgHandler</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(247, 0, 0);&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorHandle_0</name>
        <label>ErrorHandle</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsgHandler_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(247, 0, 0);&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1199</locationX>
        <locationY>210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(59, 202, 11);&quot;&gt;This Cash Disbursement has been marked as paid.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>705</locationX>
        <locationY>703</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(59, 202, 11); font-family: verdana;&quot;&gt;All Cash Disbursement have been marked as paid.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>127</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Selected_Ids</targetReference>
        </connector>
        <fields>
            <name>ListViewWarningMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Warning:&lt;/b&gt;&lt;span style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt; Using the &apos;Mark as Paid&apos; feature from a List View will not validate the approval of the selected records. Please ensure that all records have been approved prior to proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>230</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>Id_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idsz</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Cash_Disbursement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
