force-app/main/default/flows/Update_ACVs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Loop_Values</name>
        <label>Assign Loop Values</label>
        <locationX>1406</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Warehouse: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Product: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Name: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Quantity: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;ACV: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Unit_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iimID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Individual_IIM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Movement Date: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Movement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Loop_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Values</name>
        <label>Assign Summary Values</label>
        <locationX>996</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Warehouse: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Product: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Name: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Quantity: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;ACV: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewACV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Movement Date: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Individual_IIM.AcctSeedERP__Movement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Loop_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Loop_Data</name>
        <label>Clear Loop Data</label>
        <locationX>997</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>varDisplayTextLoop</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iimID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewACV</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_IIM_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_New_ACV</name>
        <label>Update New ACV</label>
        <locationX>1398</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_ACV_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_ACV_Values</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_ACV_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_ACV_0</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>Flow available on the Trade ERP record type to provide managers the ability to update the ACVs with ease. Bug Fixed.</description>
    <interviewLabel>Update ACVs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ACVs</label>
    <loops>
        <name>Iterate_IIM_Collection</name>
        <label>Iterate IIM Collection</label>
        <locationX>997</locationX>
        <locationY>173</locationY>
        <assignNextValueToReference>Individual_IIM</assignNextValueToReference>
        <collectionReference>IIMCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplaySummary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_IIM</name>
        <label>Get IIM</label>
        <locationX>755</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_IIM_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AcctSeedERP__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>AcctSeedERP__Inbound_Inventory_Movement__c</object>
        <outputReference>IIMCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AcctSeedERP__Warehouse__c</queriedFields>
        <queriedFields>AcctSeedERP__Product__c</queriedFields>
        <queriedFields>GMBLASERP__Serial_Number__c</queriedFields>
        <queriedFields>AcctSeedERP__Quantity__c</queriedFields>
        <queriedFields>AcctSeedERP__Unit_Cost__c</queriedFields>
        <queriedFields>AcctSeedERP__Movement_Date__c</queriedFields>
        <sortField>AcctSeedERP__Movement_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_New_ACV</name>
        <label>Get New ACV</label>
        <locationX>997</locationX>
        <locationY>861</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Summary_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iimID</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Inbound_Inventory_Movement__c</object>
        <outputAssignments>
            <assignToReference>NewACV</assignToReference>
            <field>AcctSeedERP__Unit_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_ACV_0</name>
        <label>Get New ACV</label>
        <locationX>1235</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Summary_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iimID</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Inbound_Inventory_Movement__c</object>
        <outputAssignments>
            <assignToReference>NewACV</assignToReference>
            <field>AcctSeedERP__Unit_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_ACV_Values</name>
        <label>Update New ACV Values</label>
        <locationX>1315</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Get_New_ACV</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iimID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Unit_Cost__c</field>
            <value>
                <elementReference>New_ACV_Value</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Inbound_Inventory_Movement__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Loop_Values</name>
        <label>Display Loop Values</label>
        <locationX>1406</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_ACV</targetReference>
        </connector>
        <fields>
            <name>DisplayLoopText</name>
            <fieldText>&lt;p&gt;{!varDisplayTextLoop}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_ACV</name>
            <dataType>Boolean</dataType>
            <fieldText>Update ACV?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_ACV_Value</name>
            <dataType>Currency</dataType>
            <fieldText>New ACV Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_ACV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplaySummary</name>
        <label>DisplaySummary</label>
        <locationX>1120</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySummaryText</name>
            <fieldText>&lt;p&gt;{!varDisplayTextSummary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Handler</name>
        <label>Error Handler</label>
        <locationX>1553</locationX>
        <locationY>861</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 3, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>470</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_IIM</targetReference>
        </connector>
        <fields>
            <name>IntroDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Verify &amp;amp; Update ACVs. Click &apos;Next&apos; to Get Started!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IIMCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>iimID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Individual_IIM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Inbound_Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>NewACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayTextLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayTextSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
