src/Base/main/default/flows/Boat_Appraisal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>2337</locationX>
        <locationY>796</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Trade Items already exists on this Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0</name>
        <label>ErrorHandler</label>
        <locationX>1908</locationX>
        <locationY>794</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3248</locationX>
        <locationY>954</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>2544</locationX>
        <locationY>787</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>SuccessHandler_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Trade Items already exists on this Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3419</locationX>
        <locationY>958</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3106</locationX>
        <locationY>732</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3684</locationX>
        <locationY>568</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3421</locationX>
        <locationY>373</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3583</locationX>
        <locationY>331</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3283</locationX>
        <locationY>211</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>3077</locationX>
        <locationY>137</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>2830</locationX>
        <locationY>54</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>2724</locationX>
        <locationY>52</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>2621</locationX>
        <locationY>50</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>2541</locationX>
        <locationY>442</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>2337</locationX>
        <locationY>920</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal record was successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0</name>
        <label>SuccessHandler</label>
        <locationX>3524</locationX>
        <locationY>804</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0</name>
        <label>SuccessHandler</label>
        <locationX>3532</locationX>
        <locationY>648</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>3504</locationX>
        <locationY>469</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>3232</locationX>
        <locationY>347</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>3138</locationX>
        <locationY>247</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>2938</locationX>
        <locationY>62</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0_0_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>2805</locationX>
        <locationY>325</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal And Trade In records have been successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0_0_0_0_0_0_0</name>
        <label>SuccessHandler</label>
        <locationX>2547</locationX>
        <locationY>917</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Boat Appraisal record was successfully created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>NoWindshield</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Appraisal_Source</name>
        <label>Appraisal Source</label>
        <locationX>630</locationX>
        <locationY>613</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appraisal_Item_Selection</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
        <rules>
            <name>From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccData</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if a trade record was already created</description>
        <name>Existing_Trade</name>
        <label>Existing Trade</label>
        <locationX>2324</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trade_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tradeRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorHandler</targetReference>
            </connector>
            <label>Trade Record Exists</label>
        </rules>
        <rules>
            <name>Trade_Record_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tradeRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_Record</targetReference>
            </connector>
            <label>Trade Record Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Appraisal_Decision</name>
        <label>Item Appraisal Decision</label>
        <locationX>1151</locationX>
        <locationY>1089</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boat_Screen_1</targetReference>
            </connector>
            <label>All Items</label>
        </rules>
        <rules>
            <name>Boat_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boat_Screen_1</targetReference>
            </connector>
            <label>Boat Only</label>
        </rules>
        <rules>
            <name>Motor_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motor_Screen_1</targetReference>
            </connector>
            <label>Motor Only</label>
        </rules>
        <rules>
            <name>Trailer_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trailer_Screen_1</targetReference>
            </connector>
            <label>Trailer Only</label>
        </rules>
        <rules>
            <name>Boat_and_Motor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boat_Screen_1</targetReference>
            </connector>
            <label>Boat and Motor</label>
        </rules>
        <rules>
            <name>Boat_and_Trailer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boat_Screen_1</targetReference>
            </connector>
            <label>Boat and Trailer</label>
        </rules>
        <rules>
            <name>Motor_and_Trailer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motor_Screen_1</targetReference>
            </connector>
            <label>Motor and Trailer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Appraisal_Decision_0</name>
        <label>Item Appraisal Decision</label>
        <locationX>1241</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Items_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motor_Screen_1</targetReference>
            </connector>
            <label>All Items</label>
        </rules>
        <rules>
            <name>Boat_Only_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Appraisal_Screen</targetReference>
            </connector>
            <label>Boat Only</label>
        </rules>
        <rules>
            <name>Motor_Only_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Motor Only</label>
        </rules>
        <rules>
            <name>Trailer_Only_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Trailer Only</label>
        </rules>
        <rules>
            <name>Boat_and_Motor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motor_Screen_1</targetReference>
            </connector>
            <label>Boat and Motor</label>
        </rules>
        <rules>
            <name>Boat_and_Trailer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trailer_Screen_1</targetReference>
            </connector>
            <label>Boat and Trailer</label>
        </rules>
        <rules>
            <name>Motor_and_Trailer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Motor and Trailer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Appraisal_Decision_0_0</name>
        <label>Item Appraisal Decision</label>
        <locationX>1435</locationX>
        <locationY>880</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Items_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trailer_Screen_1</targetReference>
            </connector>
            <label>All Items</label>
        </rules>
        <rules>
            <name>Boat_Only_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Boat Only</label>
        </rules>
        <rules>
            <name>Motor_Only_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Appraisal_Screen</targetReference>
            </connector>
            <label>Motor Only</label>
        </rules>
        <rules>
            <name>Trailer_Only_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Trailer Only</label>
        </rules>
        <rules>
            <name>Boat_and_Motor_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Boat and Motor</label>
        </rules>
        <rules>
            <name>Boat_and_Trailer_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Boat and Trailer</label>
        </rules>
        <rules>
            <name>Motor_and_Trailer_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trailer_Screen_1</targetReference>
            </connector>
            <label>Motor and Trailer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Appraisal_Decision_0_0_0</name>
        <label>Item Appraisal Decision</label>
        <locationX>2685</locationX>
        <locationY>612</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Items_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Boat</targetReference>
            </connector>
            <label>All Items</label>
        </rules>
        <rules>
            <name>Boat_Only_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Boat_0</targetReference>
            </connector>
            <label>Boat Only</label>
        </rules>
        <rules>
            <name>Motor_Only_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Motor_0</targetReference>
            </connector>
            <label>Motor Only</label>
        </rules>
        <rules>
            <name>Trailer_Only_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Trailer_0</targetReference>
            </connector>
            <label>Trailer Only</label>
        </rules>
        <rules>
            <name>Boat_and_Motor_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Boat_0_0</targetReference>
            </connector>
            <label>Boat and Motor</label>
        </rules>
        <rules>
            <name>Boat_and_Trailer_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Boat_0_0_0</targetReference>
            </connector>
            <label>Boat and Trailer</label>
        </rules>
        <rules>
            <name>Motor_and_Trailer_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appraise_Boat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Motor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appraise_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trade_in_Item_Motor_0_0_0</targetReference>
            </connector>
            <label>Motor and Trailer</label>
        </rules>
    </decisions>
    <description>Boat Appraisal Sheet into a Flow</description>
    <dynamicChoiceSets>
        <name>Aft_Side_Back_Curtains_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Aft_Side_Back_Curtains__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Any_Hull_Damage_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Any_Hull_Damage__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Battery_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Battery__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bilge_Pump_Working_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bilge_Pump_Working__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Boat_Material_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Boat_Material__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Cover_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Cover__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Curtains_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Curtains__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Decals_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Decals__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Floor_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Floor__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Material_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Material__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Paint_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Paint__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Prop_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Prop__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Seats_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Seats__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Tires_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Tires__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Top_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Top__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Trailer_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Trailer__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Trolling_Motor_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Trolling_Motor__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condition_of_Windshield_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_of_Windshield__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Do_Lights_Work_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_Lights_Work__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Boat_Have_A_Floor_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Boat_Have_A_Floor__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Boat_Leak_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Boat_Leak__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Fishfinder_Work_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Fishfinder_Work__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Motor_Run_Well_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Motor_Run_Well__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Tilt_Trim_Work_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Tilt_Trim_Work__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Electric_Start_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Electric_Start__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Engine_Stroke_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engine_Stroke_Type__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Extended_Warranty_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Extended_Warranty__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Galvanized_Trailer_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Galvanized_Trailer__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsFiberglassBlisteringPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Fiberglass_Blistering__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Jack_and_Dolly_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jack_and_Dolly__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Livewell_Working_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Livewell_Working__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Load_Guides_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Load_Guides__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Power_Tilt_Trim_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Power_Tilt_Trim__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Problems_with_Current_Boat_Package_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Problems_with_Current_Boat_Package__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Swing_Tongue_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Swing_Tongue__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trailer_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trailer_Type__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Travel_Cover_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Cover__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_of_Prop_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Prop__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Windshield_Screen_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Windshield_screen__c</picklistField>
        <picklistObject>Boat_Appraisal__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AppraisalName</name>
        <dataType>String</dataType>
        <expression>{!accountName} + &quot; - &quot; + TEXT(Today())</expression>
    </formulas>
    <formulas>
        <name>FlowUserFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Boat Appraisal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Boat Appraisal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appraisal</name>
        <label>Create Appraisal</label>
        <locationX>1907</locationX>
        <locationY>609</locationY>
        <assignRecordIdToReference>appraisalId</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Photos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Aft_Side_Back_Curtains__c</field>
            <value>
                <elementReference>Aft_Side_Back_Curtains</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Hull_Damage__c</field>
            <value>
                <elementReference>Any_Hull_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery__c</field>
            <value>
                <elementReference>Battery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bilge_Pump_Working__c</field>
            <value>
                <elementReference>Bilge_Pump_Working</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Length__c</field>
            <value>
                <elementReference>Boat_Length</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Make__c</field>
            <value>
                <elementReference>Boat_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Material__c</field>
            <value>
                <elementReference>Boat_Material</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Model__c</field>
            <value>
                <elementReference>Boat_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Package_Problem_Description__c</field>
            <value>
                <elementReference>Boat_Package_Problem_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Serial_Number__c</field>
            <value>
                <elementReference>Boat_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boat_Year__c</field>
            <value>
                <elementReference>Boat_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparable_New_Details__c</field>
            <value>
                <elementReference>Comparable_New_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparable_New__c</field>
            <value>
                <elementReference>Comparable_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Cover__c</field>
            <value>
                <elementReference>Condition_of_Cover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Curtains__c</field>
            <value>
                <elementReference>Condition_of_Curtains</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Decals__c</field>
            <value>
                <elementReference>Condition_of_Decals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Floor__c</field>
            <value>
                <elementReference>Condition_of_Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Material__c</field>
            <value>
                <elementReference>Condition_of_Material</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Paint__c</field>
            <value>
                <elementReference>Condition_of_Paint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Prop__c</field>
            <value>
                <elementReference>Condition_of_Prop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Seats__c</field>
            <value>
                <elementReference>Condition_of_Seats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Tires__c</field>
            <value>
                <elementReference>Condition_of_Tires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Top__c</field>
            <value>
                <elementReference>Condition_of_Top</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Trailer__c</field>
            <value>
                <elementReference>Condition_of_Trailer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Trolling_Motor__c</field>
            <value>
                <elementReference>Condition_of_Trolling_Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_of_Windshield__c</field>
            <value>
                <elementReference>Condition_of_Windshield_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Lights_Work__c</field>
            <value>
                <elementReference>Do_Lights_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Boat_Have_A_Floor__c</field>
            <value>
                <elementReference>Does_Boat_Have_A_Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Boat_Leak__c</field>
            <value>
                <elementReference>Does_Boat_Leak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Fishfinder_Work__c</field>
            <value>
                <elementReference>Does_Fishfinder_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Motor_Run_Well__c</field>
            <value>
                <elementReference>Does_Motor_Run_Well</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Tilt_Trim_Work__c</field>
            <value>
                <elementReference>Does_Tilt_Trim_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electric_Start__c</field>
            <value>
                <elementReference>Electric_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Stroke_Type__c</field>
            <value>
                <elementReference>Engine_Stroke_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Trade_Value_Before_Inspection__c</field>
            <value>
                <elementReference>Estimated_Trade_Value_Before_Inspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extended_Warranty__c</field>
            <value>
                <elementReference>Extended_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Friend_Boat_Value__c</field>
            <value>
                <elementReference>Family_Friend_Boat_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Institution__c</field>
            <value>
                <elementReference>Financial_Institution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Material__c</field>
            <value>
                <elementReference>Floor_Material</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Galvanized_Trailer__c</field>
            <value>
                <elementReference>Galvanized_Trailer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Horsepower__c</field>
            <value>
                <elementReference>Horsepower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Search_Value__c</field>
            <value>
                <elementReference>Internet_Search_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Fiberglass_Blistering__c</field>
            <value>
                <elementReference>Is_Fiberglass_Blistering</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jack_and_Dolly__c</field>
            <value>
                <elementReference>Jack_and_Dolly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Maintenance_Date__c</field>
            <value>
                <elementReference>Last_Maintenance_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Livewell_Working__c</field>
            <value>
                <elementReference>Livewell_Working</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Load_Guides__c</field>
            <value>
                <elementReference>Load_Guides</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_of_Fishfinder__c</field>
            <value>
                <elementReference>Make_of_Fishfinder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Make__c</field>
            <value>
                <elementReference>Motor_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Model__c</field>
            <value>
                <elementReference>Motor_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Serial_Number__c</field>
            <value>
                <elementReference>Motor_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Year__c</field>
            <value>
                <elementReference>Motor_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppraisalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_on_Motor__c</field>
            <value>
                <elementReference>Notes_on_Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Seats__c</field>
            <value>
                <elementReference>Number_of_Seats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Listing_URL_1__c</field>
            <value>
                <elementReference>Online_Listing_URL_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Listing_URL_2__c</field>
            <value>
                <elementReference>Online_Listing_URL_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Listing_URL_3__c</field>
            <value>
                <elementReference>Online_Listing_URL_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Power_Tilt_Trim__c</field>
            <value>
                <elementReference>Power_Tilt_Trim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problems_with_Current_Boat_Package__c</field>
            <value>
                <elementReference>Problems_with_Current_Boat_Package</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Swing_Tongue__c</field>
            <value>
                <elementReference>Swing_Tongue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Capacity__c</field>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Make__c</field>
            <value>
                <elementReference>Trailer_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Model__c</field>
            <value>
                <elementReference>Trailer_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Type__c</field>
            <value>
                <elementReference>Trailer_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Year__c</field>
            <value>
                <elementReference>Trailer_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Cover__c</field>
            <value>
                <elementReference>Travel_Cover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trolling_Motor_Make__c</field>
            <value>
                <elementReference>Make_of_Trolling_Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trolling_Motor_Model__c</field>
            <value>
                <elementReference>Model_of_Trolling_Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Prop__c</field>
            <value>
                <elementReference>Type_of_Prop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Windshield_screen__c</field>
            <value>
                <elementReference>Windshield_Screen</elementReference>
            </value>
        </inputAssignments>
        <object>Boat_Appraisal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Boat</name>
        <label>Create Trade in Item Boat</label>
        <locationX>2682</locationX>
        <locationY>194</locationY>
        <assignRecordIdToReference>TradeInLineBoatId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Trade_in_Item_Motor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Boat_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Boat_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Boat_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Boat_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Boat_0</name>
        <label>Create Trade in Item Boat</label>
        <locationX>2798</locationX>
        <locationY>441</locationY>
        <assignRecordIdToReference>TradeInLineBoatId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Boat_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Boat_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Boat_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Boat_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Boat_0_0</name>
        <label>Create Trade in Item Boat</label>
        <locationX>3262</locationX>
        <locationY>469</locationY>
        <assignRecordIdToReference>TradeInLineBoatId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Trade_in_Item_Motor_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Boat_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Boat_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Boat_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Boat_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Boat_0_0_0</name>
        <label>Create Trade in Item Boat</label>
        <locationX>3261</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>TradeInLineBoatId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Trade_in_Item_Trailer_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Boat_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Boat_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Boat_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Boat_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Motor</name>
        <label>Create Trade in Item Motor</label>
        <locationX>2805</locationX>
        <locationY>194</locationY>
        <assignRecordIdToReference>TradeInLineMotorId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Trade_in_Item_Trailer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Motor_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Motor_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Motor_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Motor_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Motor_0</name>
        <label>Create Trade in Item Motor</label>
        <locationX>2960</locationX>
        <locationY>336</locationY>
        <assignRecordIdToReference>TradeInLineMotorId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Motor_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Motor_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Motor_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Motor_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Motor_0_0</name>
        <label>Create Trade in Item Motor</label>
        <locationX>3382</locationX>
        <locationY>469</locationY>
        <assignRecordIdToReference>TradeInLineMotorId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Motor_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Motor_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Motor_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Motor_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Motor_0_0_0</name>
        <label>Create Trade in Item Motor</label>
        <locationX>3253</locationX>
        <locationY>804</locationY>
        <assignRecordIdToReference>TradeInLineMotorId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Trade_in_Item_Trailer_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Motor_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Motor_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Motor_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Motor_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Trailer</name>
        <label>Create Trade in Item Trailer</label>
        <locationX>2941</locationX>
        <locationY>194</locationY>
        <assignRecordIdToReference>TradeInLineTrailerId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Trailer_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Trailer_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Trailer_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Trailer_0</name>
        <label>Create Trade in Item Trailer</label>
        <locationX>3092</locationX>
        <locationY>347</locationY>
        <assignRecordIdToReference>TradeInLineTrailerId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Trailer_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Trailer_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Trailer_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Trailer_0_0</name>
        <label>Create Trade in Item Trailer</label>
        <locationX>3398</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>TradeInLineTrailerId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Trailer_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Trailer_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Trailer_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_in_Item_Trailer_0_0_0</name>
        <label>Create Trade in Item Trailer</label>
        <locationX>3396</locationX>
        <locationY>804</locationY>
        <assignRecordIdToReference>TradeInLineTrailerId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Trailer_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>Trailer_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Trailer_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_In_Record__c</field>
            <value>
                <elementReference>tradeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_Record</name>
        <label>Create Trade Record</label>
        <locationX>2545</locationX>
        <locationY>610</locationY>
        <assignRecordIdToReference>tradeRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Item_Appraisal_Decision_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Lien_Amount__c</field>
            <value>
                <elementReference>Lien_on_Trade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Value__c</field>
            <value>
                <elementReference>Estimated_Trade_Value_Before_Inspection</elementReference>
            </value>
        </inputAssignments>
        <object>Trade_In_Record__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Trade_Record</name>
        <label>Get Trade Record</label>
        <locationX>2227</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Trade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Trade_In_Record__c</object>
        <outputAssignments>
            <assignToReference>tradeRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccData</name>
        <label>getAccData</label>
        <locationX>639</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appraisal_Item_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppAccountData</name>
        <label>getOppAccountData</label>
        <locationX>532</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appraisal_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppData</name>
        <label>getOppData</label>
        <locationX>390</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppAccountData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Appraisal_Item_Selection</name>
        <label>Appraisal Item Selection</label>
        <locationX>774</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Item_Appraisal_Decision</targetReference>
        </connector>
        <fields>
            <name>whatAreWeAppraisingTitle</name>
            <fieldText>&lt;p&gt;Hi {!FlowUserFirstName}, Please select the items you&apos;d like to appraise.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appraise_Boat</name>
            <dataType>Boolean</dataType>
            <fieldText>Appraise Boat</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appraise_Motor</name>
            <dataType>Boolean</dataType>
            <fieldText>Appraise Motor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appraise_Trailer</name>
            <dataType>Boolean</dataType>
            <fieldText>Appraise Trailer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boat_Screen_1</name>
        <label>Boat Screen 1</label>
        <locationX>834</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boat_Screen_2</targetReference>
        </connector>
        <fields>
            <name>boatTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Boat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boat_Year</name>
            <dataType>Number</dataType>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Boat_Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Boat_Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Boat_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Boat_Length</name>
            <dataType>Number</dataType>
            <fieldText>Length</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boat_Screen_2</name>
        <label>Boat Screen 2</label>
        <locationX>955</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boat_Screen_3</targetReference>
        </connector>
        <fields>
            <name>boatTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Boat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boat_Material</name>
            <choiceReferences>Boat_Material_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Boat Material</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Fiberglass_Blistering</name>
            <choiceReferences>IsFiberglassBlisteringPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Fiberglass Blistering?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Boat_Material</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fiberglass</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Does_Boat_Leak</name>
            <choiceReferences>Does_Boat_Leak_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does Boat Leak?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_Hull_Damage</name>
            <choiceReferences>Any_Hull_Damage_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any Hull Damage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Paint</name>
            <choiceReferences>Condition_of_Paint_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Paint</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Decals</name>
            <choiceReferences>Condition_of_Decals_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Decals</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Windshield_Screen</name>
            <choiceReferences>Windshield_Screen_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Windshield/Screen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Windshield_Screen</name>
            <choiceReferences>Condition_of_Windshield_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Windshield / Screen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Windshield_Screen</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boat_Screen_3</name>
        <label>Boat Screen 3</label>
        <locationX>1073</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boat_Screen_4</targetReference>
        </connector>
        <fields>
            <name>boatTitle3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Boat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Does_Boat_Have_A_Floor</name>
            <choiceReferences>Does_Boat_Have_A_Floor_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does Boat Have A Floor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Floor_Material</name>
            <dataType>String</dataType>
            <fieldText>Floor Material</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Boat_Have_A_Floor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condition_of_Floor</name>
            <choiceReferences>Condition_of_Floor_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Floor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Boat_Have_A_Floor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condition_of_Material</name>
            <choiceReferences>Condition_of_Material_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Material</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Boat_Have_A_Floor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Livewell_Working</name>
            <choiceReferences>Livewell_Working_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Livewell Working?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bilge_Pump_Working</name>
            <choiceReferences>Bilge_Pump_Working_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bilge Pump Working?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Seats</name>
            <dataType>Number</dataType>
            <fieldText>Number of Seats</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Condition_of_Seats</name>
            <choiceReferences>Condition_of_Seats_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Seats</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Seats</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boat_Screen_4</name>
        <label>Boat Screen 4</label>
        <locationX>1193</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Item_Appraisal_Decision_0</targetReference>
        </connector>
        <fields>
            <name>boatTitle4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Boat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Make_of_Fishfinder</name>
            <dataType>String</dataType>
            <fieldText>Make of Fishfinder</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_Fishfinder_Work</name>
            <choiceReferences>Does_Fishfinder_Work_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does Fishfinder Work?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Make_of_Fishfinder</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Travel_Cover</name>
            <choiceReferences>Travel_Cover_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Travel Cover</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Cover</name>
            <choiceReferences>Condition_of_Cover_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Cover</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Cover</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condition_of_Top</name>
            <choiceReferences>Condition_of_Top_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Top</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Curtains</name>
            <choiceReferences>Condition_of_Curtains_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Curtains</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Aft_Side_Back_Curtains</name>
            <choiceReferences>Aft_Side_Back_Curtains_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aft Side &amp; Back Curtains</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Make_of_Trolling_Motor</name>
            <dataType>String</dataType>
            <fieldText>Make of Trolling Motor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model_of_Trolling_Motor</name>
            <dataType>String</dataType>
            <fieldText>Model of Trolling Motor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Make_of_Trolling_Motor</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condition_of_Trolling_Motor</name>
            <choiceReferences>Condition_of_Trolling_Motor_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Trolling Motor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Make_of_Trolling_Motor</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Signature</name>
        <label>Capture Signature</label>
        <locationX>2112</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Trade_Record</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none; width: 552pt; table-layout: fixed;&quot;&gt;&lt;colgroup&gt;&lt;col&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 0pt;&quot;&gt;&lt;td style=&quot;border-width: 1pt; border-style: solid; border-color: rgb(0, 0, 0); vertical-align: top; padding: 5pt; overflow: hidden; overflow-wrap: break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin: 2.15pt 5.25pt 0pt 4.25pt; text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(35, 31, 32); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;The statements made on this appraisal are true &amp;amp; accurate to the best of my knowledge. I understand and agree that this appraisal is approximate only &amp;amp; subject to a visual &amp;amp; running inspection or any adjustment due to any false criteria as described above on value by Legend Boats (Duhamel and Dewar Inc.) as being absolute and just &amp;amp; must be agreed to by both parties. Customer is responsible to pay for any repairs and the remedy any issues or problems not described above or a new trade value would have to be determined between both parties.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Capture_Customer_Signature</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>CustomerAppraisalSignature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>appraisalId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Appraisal_Screen</name>
        <label>Final Appraisal Screen</label>
        <locationX>1776</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Appraisal</targetReference>
        </connector>
        <fields>
            <name>Problems_with_Current_Boat_Package</name>
            <choiceReferences>Problems_with_Current_Boat_Package_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any problems that currently exist with your boat package?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Boat_Package_Problem_Description</name>
            <fieldText>Please describe the problem</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Problems_with_Current_Boat_Package</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Family_Friend_Boat_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>If you were to sell your boat to family or friends, what would you ask for it?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Online_Listing_URL_1</name>
            <dataType>String</dataType>
            <fieldText>Online Listing URL 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Online_Listing_URL_2</name>
            <dataType>String</dataType>
            <fieldText>Online Listing URL 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Online_Listing_URL_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Online_Listing_URL_3</name>
            <dataType>String</dataType>
            <fieldText>Online Listing URL 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Online_Listing_URL_2</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Internet_Search_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Internet Search Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comparable_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Comparable New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comparable_New_Details</name>
            <fieldText>Comparable New Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lien_on_Trade</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Lien on Trade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Trade_Value_Before_Inspection</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Estimated Value of Trade In before visual and running inspection</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Financial_Institution</name>
            <dataType>String</dataType>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Motor_Screen_1</name>
        <label>Motor Screen 1</label>
        <locationX>1303</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Motor_Screen_2</targetReference>
        </connector>
        <fields>
            <name>motorTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Motor&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motor_Year</name>
            <dataType>Number</dataType>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Motor_Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motor_Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motor_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Horsepower</name>
            <dataType>Number</dataType>
            <fieldText>Horsepower</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Engine_Stroke_Type</name>
            <choiceReferences>Engine_Stroke_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Engine Stroke Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_Motor_Run_Well</name>
            <choiceReferences>Does_Motor_Run_Well_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does Motor Run Well</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Maintenance_Date</name>
            <dataType>Date</dataType>
            <fieldText>Last Maintenance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Motor_Screen_2</name>
        <label>Motor Screen 2</label>
        <locationX>1420</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Item_Appraisal_Decision_0_0</targetReference>
        </connector>
        <fields>
            <name>motorTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Motor&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extended_Warranty</name>
            <choiceReferences>Extended_Warranty_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Extended Warranty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Electric_Start</name>
            <choiceReferences>Electric_Start_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Electric Start</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Battery</name>
            <choiceReferences>Battery_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Battery</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Power_Tilt_Trim</name>
            <choiceReferences>Power_Tilt_Trim_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Power Tilt &amp; Trim</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_Tilt_Trim_Work</name>
            <choiceReferences>Does_Tilt_Trim_Work_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does Tilt &amp; Trim Work?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Power_Tilt_Trim</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Prop</name>
            <choiceReferences>Type_of_Prop_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Prop</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Prop</name>
            <choiceReferences>Condition_of_Prop_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Prop</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_on_Motor</name>
            <fieldText>Notes on Motor</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trailer_Screen_1</name>
        <label>Trailer Screen 1</label>
        <locationX>1534</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Trailer_Screen_2</targetReference>
        </connector>
        <fields>
            <name>trailerTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Trailer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Trailer_Year</name>
            <dataType>Number</dataType>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trailer_Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Trailer_Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trailer_Type</name>
            <choiceReferences>Trailer_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trailer Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trailer_Screen_2</name>
        <label>Trailer Screen 2</label>
        <locationX>1651</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Final_Appraisal_Screen</targetReference>
        </connector>
        <fields>
            <name>trailerTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Trailer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Condition_of_Trailer</name>
            <choiceReferences>Condition_of_Trailer_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Trailer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_of_Tires</name>
            <choiceReferences>Condition_of_Tires_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition of Tires</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_Lights_Work</name>
            <choiceReferences>Do_Lights_Work_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do Lights Work?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Load_Guides</name>
            <choiceReferences>Load_Guides_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Load Guides</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Swing_Tongue</name>
            <choiceReferences>Swing_Tongue_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Swing Tongue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Jack_and_Dolly</name>
            <choiceReferences>Jack_and_Dolly_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Jack and Dolly</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Galvanized_Trailer</name>
            <choiceReferences>Galvanized_Trailer_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Galvanized Trailer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Photos</name>
        <label>Upload Photos</label>
        <locationX>2012</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Signature</targetReference>
        </connector>
        <fields>
            <name>Upload_Package_Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Boat Package Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>appraisalId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>getOppData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appraisalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeInLineBoatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeInLineMotorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeInLineTrailerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tradeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>