src/Base/main/default/flows/Case_Create_Support_Case_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Handler</name>
        <label>Error Handler</label>
        <locationX>2294</locationX>
        <locationY>638</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0</name>
        <label>Error Handler</label>
        <locationX>2030</locationX>
        <locationY>758</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0</name>
        <label>Error Handler</label>
        <locationX>1766</locationX>
        <locationY>1478</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0_0</name>
        <label>Error Handler</label>
        <locationX>446</locationX>
        <locationY>1718</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0_0_0</name>
        <label>Error Handler</label>
        <locationX>974</locationX>
        <locationY>1958</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0_0_0_0</name>
        <label>Error Handler</label>
        <locationX>1502</locationX>
        <locationY>1958</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0_0_0_0_0</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Handler_0_0_0_0_0_0_0</name>
        <label>Error Handler</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Handler</name>
        <label>Success Handler</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Support Case record has been successfully created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Handler_0</name>
        <label>Success Handler</label>
        <locationX>710</locationX>
        <locationY>1958</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Support Case record has been successfully created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Handler_0_0</name>
        <label>Success Handler</label>
        <locationX>1238</locationX>
        <locationY>2078</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Support Case record has been successfully created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Validate_Lead</name>
        <label>Validate Lead</label>
        <locationX>974</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Lead</defaultConnectorLabel>
        <rules>
            <name>Valid_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Support_Case_Lead</targetReference>
            </connector>
            <label>Valid Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Person_Account</name>
        <label>Validate Person Account</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Account</defaultConnectorLabel>
        <rules>
            <name>Valid_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Support_Case_Account</targetReference>
            </connector>
            <label>Valid Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Starting_Record_0</name>
        <label>Validate Starting Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Live_Chat_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3DigitsRecordID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_Chat</targetReference>
            </connector>
            <label>Live Chat</label>
        </rules>
        <rules>
            <name>Messaging_Chat_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First3DigitsRecordID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_Chat</targetReference>
            </connector>
            <label>Messaging Chat</label>
        </rules>
    </decisions>
    <description>Used internally to create Customer Support cases.</description>
    <dynamicChoiceSets>
        <name>CaseOriginChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredContactChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Contact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredLanguageChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Language__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportLocationChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>First3DigitsRecordID</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordID}, 3)</expression>
    </formulas>
    <interviewLabel>Case: Create Support Case - Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create Support Case - Internal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>1238</locationX>
        <locationY>1838</locationY>
        <assignRecordIdToReference>NewLeadRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Support_Case_New_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>SupportCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Validate_Starting_Record_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact_Language__c</field>
            <value>
                <elementReference>Preferred_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Type__c</field>
            <value>
                <elementReference>Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact__c</field>
            <value>
                <elementReference>Preferred_Contact_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupportCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>Support_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Lead</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Case_RecordType</name>
        <label>Get Support Case RecordType</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SupportCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Live_Chat</name>
        <label>Update Live Chat</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>SupportCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Chat</name>
        <label>Update Messaging Chat</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>SupportCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Case_Account</name>
        <label>Update Support Case</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Success_Handler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupportCaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Case_Lead</name>
        <label>Update Support Case</label>
        <locationX>710</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Success_Handler_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupportCaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>LeadRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Case_New_Lead</name>
        <label>Update Support Case</label>
        <locationX>1238</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Success_Handler_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupportCaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>NewLeadRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Customer_Details</name>
        <label>Customer Details</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Support_Case_Details</targetReference>
        </connector>
        <fields>
            <name>DisplayCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: verdana;&quot;&gt;Customer Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email_Address</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Address</name>
                    <extensionName>c:lgnd_form_address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>City</assignToReference>
                        <name>city</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Country</assignToReference>
                        <name>country</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>PostalCode</assignToReference>
                        <name>zip</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Province</assignToReference>
                        <name>province</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Street</assignToReference>
                        <name>street</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Details</targetReference>
        </connector>
        <fields>
            <name>DisplayIntroHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;Create a Support Case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Case_Details</name>
        <label>Support Case Details</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Support_Case_RecordType</targetReference>
        </connector>
        <fields>
            <name>DisplaySupportCaseDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: verdana;&quot;&gt;Support Case Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Support_Case_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Support_Case_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>PriorityChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Preferred_Language</name>
                    <choiceReferences>PreferredLanguageChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>English</stringValue>
                    </defaultValue>
                    <fieldText>Preferred Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Preferred_Contact_Method</name>
                    <choiceReferences>PreferredContactChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>Preferred Contact Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Case_Origin</name>
                    <choiceReferences>CaseOriginChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Internal</stringValue>
                    </defaultValue>
                    <fieldText>Case Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Support_Case_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inquiry_Type</name>
                    <choiceReferences>InquiryTypeChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Service</stringValue>
                    </defaultValue>
                    <fieldText>Inquiry Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Support_Location</name>
                    <choiceReferences>SupportLocationChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Sudbury</stringValue>
                    </defaultValue>
                    <fieldText>Support Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewLeadRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
