src/Base/main/default/flows/Einstein_Bot_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Service_Location_Barrie</name>
        <label>Assign Service Location Barrie</label>
        <locationX>162</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>ServiceLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barrie</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Location_Montreal</name>
        <label>Assign Service Location Montreal</label>
        <locationX>329</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>ServiceLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Montreal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Location_Sudbury</name>
        <label>Assign Service Location Barrie</label>
        <locationX>462</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>ServiceLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sudbury</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Location_Split</name>
        <label>Location Split</label>
        <locationX>339</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Barrie_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceLocationRaw</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> Barrie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Owner_ID_Barrie</targetReference>
            </connector>
            <label>Barrie</label>
        </rules>
        <rules>
            <name>Montreal_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceLocationRaw</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Owner_ID_Mtl</targetReference>
            </connector>
            <label>Montreal</label>
        </rules>
        <rules>
            <name>Whitefish_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceLocationRaw</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Owner_ID_Whitefish</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
    </decisions>
    <description>Modified version of Intro Bot</description>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>{!First_Name} + &quot; &quot; + {!Last_Name} + &quot; | Omni Chat Case&quot;</expression>
    </formulas>
    <formulas>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>&quot;Customer_Support_Case_&quot; + {!ServiceLocation}</expression>
    </formulas>
    <interviewLabel>Einstein Bot - Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bot - Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>678</locationX>
        <locationY>605</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Chat_Transcript_with_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>ServiceLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Owner_ID_Barrie</name>
        <label>Get Case Owner ID</label>
        <locationX>163</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Location_Barrie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support_Case_Barrie</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_ID_Mtl</name>
        <label>Get Case Owner ID</label>
        <locationX>329</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Location_Montreal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support_Case_Montreal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_ID_Whitefish</name>
        <label>Get Case Owner ID</label>
        <locationX>469</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Location_Sudbury</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support_Case_Whitefish</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>231</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_Case</name>
        <label>Update Chat Transcript with Case</label>
        <locationX>422</locationX>
        <locationY>760</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Location_Split</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID of created case</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Issue_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceLocationRaw</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
