src/Base/main/default/flows/ERP_Order_Counter_Sale_Stage_Notification_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_ERP_Stage_Close_Lost</name>
        <label>Chatter ERP Stage Close Lost</label>
        <locationX>748</locationX>
        <locationY>887</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ERPStageCloseLostChatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>ERP_Stage</name>
        <label>ERP Stage</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quoting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Quoting</label>
        </rules>
        <rules>
            <name>Parts_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts Required</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Parts Required</label>
        </rules>
        <rules>
            <name>Pending_Pickup_Montreal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Pickup</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Pickup</label>
        </rules>
        <rules>
            <name>Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Delivered</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Location</name>
        <label>Retail Location</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Montreal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <label>Montreal</label>
        </rules>
        <rules>
            <name>Barrie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <label>Barrie</label>
        </rules>
        <rules>
            <name>Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERP_Stage</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Active</name>
        <label>User Active</label>
        <locationX>748</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Chatter_ERP_Stage_Close_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_ERP_Stage_Close_Lost</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <interviewLabel>ERP Order: Counter Sale Stage Notification Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order: Counter Sale Stage Notification Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>748</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>aseltzer@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retail_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legend Counter Sale</stringValue>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ERPStageCloseLostChatterBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_User.Name}]
 {!$Record.Name} is now Close Lost.
https://legendboats.lightning.force.com/one/one.app#/sObject/{!$Record.Id}/view</text>
    </textTemplates>
</Flow>
