src/Base/main/default/flows/ERP_Order_Send_Boat_Numbers_Request_to_Supplier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Boat_Number_Email_to_Barrie_Supplier</name>
        <label>Send Boat Number Email to Barrie Supplier</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>AcctSeed__Project__c.Boat_Numbers_Order_Submission_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Boat_Number_Email_to_Whitefish_Supplier</name>
        <label>Send Boat Number Email to Whitefish Supplier</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>AcctSeed__Project__c.Boat_Numbers_Order_Submission_Email_Whitefish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Location_Branch</name>
        <label>Location Branch</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>NONE</defaultConnectorLabel>
        <rules>
            <name>Barrie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Barrie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Boat_Number_Email_to_Barrie_Supplier</targetReference>
            </connector>
            <label>Barrie</label>
        </rules>
        <rules>
            <name>Whitefish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Boat_Number_Email_to_Whitefish_Supplier</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
        <rules>
            <name>Montreal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WarehouseName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <label>Montreal</label>
        </rules>
    </decisions>
    <description>Sends an email requesting Boat Numbers to the Supplier</description>
    <environments>Default</environments>
    <interviewLabel>ERP Order - Send Boat Numbers Request to Supplier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order - Send Boat Numbers Request to Supplier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Location_Branch</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>NOT(ISBLANK({!$Record.Boat_numbers_erp__c})) &amp;&amp; NOT(CONTAINS({!$Record.AcctSeed__Opportunity__r.BoatId__r.Name}, &apos;Loose&apos;)) &amp;&amp; NOT(ISPICKVAL({!$Record.Serial_Number__r.Status__c}, &apos;Used&apos;))</filterFormula>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
