src/Base/main/default/flows/ERP_Order_Survey_Sent_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Survey_Email_English_Counter_Sale_Service</name>
        <label>Survey Email English Counter Sale/Service</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_ERP_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SurveyEmail_English_CounterSale_Service</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_ERP_Order.ContactEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_English_CounterSale_Service</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Survey_Email_English_RetailBoatSale</name>
        <label>Survey Email English RetailBoatSale</label>
        <locationX>842</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_ERP_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SurveyEmail_English_RetailBoatSale</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_ERP_Order.ContactEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_French_Counter_Sale_Service</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Survey_Email_French_Counter_Sale_Service</name>
        <label>Survey Email French Counter Sale/Service</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_ERP_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SurveyEmail_French_CounterSale_Service</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_ERP_Order.ContactEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_French_Counter_Sale_Service</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Survey_Email_French_RetailBoatSale</name>
        <label>Survey Email French RetailBoatSale</label>
        <locationX>1106</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_ERP_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SurveyEmail_French_RetailBoatSale</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_ERP_Order.ContactEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_French_Retail_Boat_Sale</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Preferred_Language</name>
        <label>Check Preferred Language</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Email_English_Counter_Sale_Service</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Email_French_Counter_Sale_Service</targetReference>
            </connector>
            <label>French</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Preferred_Language_Retail_Boat</name>
        <label>Check Preferred Language -Retail Boat</label>
        <locationX>1106</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>English_Retail_Boat_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Email_English_RetailBoatSale</targetReference>
            </connector>
            <label>English - Retail Boat Survey</label>
        </rules>
        <rules>
            <name>French_Retail_Boat_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Email_French_RetailBoatSale</targetReference>
            </connector>
            <label>French- Retail Boat Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>974</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>CounterSale_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012i0000001NiZeAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012i0000001NtSsAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Preferred_Language</targetReference>
            </connector>
            <label>CounterSale/Service</label>
        </rules>
        <rules>
            <name>Retail_Boat_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012i0000001NtSrAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Preferred_Language_Retail_Boat</targetReference>
            </connector>
            <label>Retail Boat Sale</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF( ! IsNull ({!Get_ERP_Order.AcctSeed__Account__r.FirstName} ),
{!Get_ERP_Order.AcctSeed__Account__r.FirstName}+&apos;  &apos;+{!Get_ERP_Order.AcctSeed__Account__r.LastName},
{!Get_ERP_Order.AcctSeed__Account__r.LastName}
)</expression>
    </formulas>
    <interviewLabel>ERP Order : Survey Sent Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order : Survey Sent Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ERP_Order</name>
        <label>Get ERP Order</label>
        <locationX>974</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERP_Order_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_X30_Flag</name>
        <label>Update Account X30 Flag</label>
        <locationX>974</locationX>
        <locationY>986</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X30_Day_Survey_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ERP_Order</name>
        <label>Update ERP Order</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Account_X30_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERP_Order_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ERP_Order</targetReference>
        </connector>
        <object>ERP_Order_Send_Survey_Email__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SurveyEmail_English_CounterSale_Service</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;font-family: arial;&quot; width=&quot;550&quot;&gt;
   &lt;tbody&gt;
      &lt;tr valign=&quot;top&quot; height=&quot;400&quot;&gt;
         &lt;td teditid=&quot;c1r1&quot; aeditid=&quot;c1r1&quot; locked=&quot;0&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12pt;&quot;&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;img src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F1FEb&amp;amp;oid=00Di0000000aRhm&quot; border=&quot;0&quot; align=&quot;left&quot; alt=&quot;&quot;&gt;&lt;br&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;We are inviting you to participate in a quick survey because you are a valuable client to us here at Legend Boats.&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt; caret-color: rgb(0, 0, 0); text-size-adjust: auto;&quot;&gt;
               &lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot;&gt;
                  &lt;p style=&quot;margin-bottom: 26px;&quot;&gt;We actively use feedback to constantly improve ourselves and provide you with the best possible service because we know that your boat is your baby.&lt;/p&gt;
                  &lt;p style=&quot;margin-bottom: 26px;&quot;&gt;This will take as little as 2 minutes and you will really be helping us out!&amp;nbsp;&lt;/p&gt;
                  &lt;p style=&quot;margin-bottom: 26px;&quot;&gt;Please click on the link below to get&apos;er done.&lt;/p&gt;
               &lt;/font&gt;
            &lt;/div&gt;
            &lt;div&gt;&lt;font color=&quot;#0000ee&quot; face=&quot;arial&quot;&gt;&lt;u&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;AccountName={! Get_ERP_Order.AcctSeed__Account__c}&amp;amp;ServiceRep={! Get_ERP_Order.Salesperson__c}&amp;amp;Warehouse={! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;GLV1={! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={! Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={! Get_ERP_Order.CreatedDate}&amp;amp;CreatedDate={! Get_ERP_Order.CreatedDate}&amp;amp;ERPId={! Get_ERP_Order.Id}&amp;amp;SalespersonId={! Get_ERP_Order.SalespersonId__c}&amp;amp;gf_expire={! Get_ERP_Order.Survey_Expiration_Date_String__c}&quot;&gt;
			
			
			&lt;img src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixu&amp;amp;oid=00Di0000000aRhm&quot; border=&quot;0&quot; align=&quot;left&quot; alt=&quot;&quot;&gt;
			
			&lt;/a&gt;&lt;/u&gt;&lt;/font&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;&gt;
			
			&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;%20{! Get_ERP_Order.OwnerFullName}&amp;amp;{! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_2__c}&quot;&gt;&lt;/a&gt;
			
			&lt;/span&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;
			&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;%20{! Get_ERP_Order.OwnerFullName}&amp;amp;{! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_2__c}&quot;&gt;&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
			
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;&gt;
			&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;%20{! Get_ERP_Order.OwnerFullName}&amp;amp;{! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_2__c}&quot;&gt;&lt;/a&gt;
			&lt;/span&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;&gt;
			&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;%20{! Get_ERP_Order.OwnerFullName}&amp;amp;{! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;{! Get_ERP_Order.GL_Account_Variable_2__c}&quot;&gt;&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 12px; text-size-adjust: auto;&quot;&gt;&lt;/span&gt;&lt;/div&gt;
         &lt;/td&gt;
      &lt;/tr&gt;
   &lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyEmail_English_RetailBoatSale</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Hello&amp;nbsp;{!AccountName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Thank&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: large; font-family: Arial, sans-serif;&quot;&gt;you for choosing Legend Boats!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: large;&quot;&gt;We are always working to make your ownership experience as amazing as possible, so we would love to hear from you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;This survey is only 7 questions short and shouldn&apos;t take more than a couple of minutes to complete. Your feedback is very important to us and we promise that every comment will be used to help create the best memories possible!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Thank you so much for your time. Happy Boating!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;AccontName={! Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={! Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={! Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={! Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={! Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={! Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={! Get_ERP_Order.Primary_Campaign_Source_Name__c}&amp;amp;DeliveryDate={! Get_ERP_Order.Delivery_Date__c}&amp;amp;GLV1={! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={! Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={! Get_ERP_Order.CreatedDate}&amp;amp;ERPId={! Get_ERP_Order.Id}&amp;amp;SalespersonId={! Get_ERP_Order.SalespersonId__c}&amp;amp;BoatSpecialistId={! Get_ERP_Order.Boat_SpecialistId__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: HelveticaNeue; font-size: 13px;&quot;&gt;&lt;img src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixu&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyEmail_French_CounterSale_Service</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; id=&quot;topTable&quot; style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; background-color: rgb(255, 255, 255);&quot; width=&quot;500&quot;&gt;&lt;tbody&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;color: rgb(0, 0, 0); font-size: 12pt; font-family: arial;&quot; height=&quot;300&quot;&gt;&lt;table height=&quot;400&quot; cellspacing=&quot;5&quot; width=&quot;550&quot; cellpadding=&quot;5&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr height=&quot;400&quot; valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;&lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;img style=&quot;font-size: 12pt;&quot; alt=&quot;&quot; align=&quot;left&quot; border=&quot;0&quot; src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F1HAp&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/div&gt;&lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;br&gt;&lt;/div&gt;&lt;div style=&quot;font-size: 12pt;&quot;&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;&lt;span id=&quot;docs-internal-guid-45d0570b-5fd8-0e79-eb2b-856359d915f1&quot;&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Nous vous invitons à participer à un sondage rapide, car vous êtes un client important pour nous chez Legend Boats.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span id=&quot;docs-internal-guid-45d0570b-5fd9-9a52-c226-bb062bf662ea&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Nous utilisons activement les commentaires de nos clients afin de nous améliorer et de vous fournir le meilleur service possible, car nous savons que votre bateau est votre bébé.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Cela ne prendra que 2 minutes et vous nous aiderez vraiment!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;S&apos;il vous plaît, cliquez sur le lien ci-dessous pour y arriver.&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 12pt; line-height: normal;&quot; class=&quot;p1&quot;&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;AccountName={! Get_ERP_Order.AcctSeed__Account__c}&amp;amp;ServiceRep=%20{! Get_ERP_Order.OwnerFullName}&amp;amp;Warehouse={! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;GLV1={! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={! Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;CreatedDate={! Get_ERP_Order.CreatedDate}&quot;&gt;&lt;span style=&quot;text-decoration-line: underline;&quot; class=&quot;s1&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: &amp;quot;Helvetica Neue&amp;quot;; color: rgb(228, 175, 10);&quot; class=&quot;p1&quot;&gt;&lt;font color=&quot;#0000ee&quot;&gt;&lt;u&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/Mj9jw1mS?AccountID={! Get_ERP_Order.AcctSeed__AccountId__c}&amp;amp;AccountName={! Get_ERP_Order.AcctSeed__Account__c}&amp;amp;ServiceRep={! Get_ERP_Order.Salesperson__c}&amp;amp;Warehouse={! Get_ERP_Order.GMBLASERP__Warehouse__c}&amp;amp;GLV1={! Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={! Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={! Get_ERP_Order.CreatedDate}&amp;amp;CreatedDate={! Get_ERP_Order.CreatedDate}&amp;amp;ERPId={! Get_ERP_Order.Id}&amp;amp;SalespersonId={! Get_ERP_Order.SalespersonId__c}&amp;amp;gf_expire={! Get_ERP_Order.Survey_Expiration_Date_String__c}&quot;&gt;&lt;img alt=&quot;&quot; align=&quot;left&quot; border=&quot;0&quot; src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixg&amp;amp;oid=00Di0000000aRhm&quot;&gt;&lt;/a&gt;&lt;/u&gt;&lt;/font&gt;&lt;/p&gt;&lt;/span&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyEmail_French_RetailBoatSale</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;style&gt;p{margin-top:0px; margin-bottom:0px;}&lt;/style&gt;&lt;body class=&quot;setupTab&quot;  style=&quot; background-color:#FFFFFF; bEditID:b1st1; bLabel:body;&quot;&gt;&lt;center &gt;&lt;table cellpadding=&quot;0&quot; width=&quot;500&quot; cellspacing=&quot;0&quot; id=&quot;topTable&quot; height=&quot;450&quot; &gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td  style=&quot; background-color:#FFFFFF; bEditID:r1st1; bLabel:header; vertical-align:top; height:60; text-align:left;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td  style=&quot; background-color:#FFFFFF; bEditID:r2st1; bLabel:accent1; height:35;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td styleInsert=&quot;1&quot; height=&quot;300&quot;  style=&quot; background-color:#FFFFFF; color:#000000; bEditID:r3st1; bLabel:main; font-size:12pt; font-family:arial;&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;5&quot; width=&quot;550&quot; cellspacing=&quot;5&quot; height=&quot;400&quot; &gt;&lt;tr valign=&quot;top&quot; height=&quot;400&quot; &gt;&lt;td tEditID=&quot;c1r1&quot; style=&quot; background-color:#FFFFFF; color:#000000; bEditID:r3st1; bLabel:main; font-size:12pt; font-family:arial;&quot; aEditID=&quot;c1r1&quot; locked=&quot;0&quot; &gt;&lt;div style=&quot;&quot;&gt;




&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;


&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;




&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;


&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; style=&quot;&quot; size=&quot;4&quot;&gt;&lt;font style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Bonjour&amp;nbsp;&lt;/span&gt;&lt;/font&gt;&lt;font color=&quot;#000000&quot; style=&quot;&quot;&gt;{!AccountName}&lt;/font&gt;&lt;font color=&quot;#000000&quot; style=&quot;color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;&quot;&gt;&lt;span style=&quot;-webkit-text-stroke-width: initial;&quot;&gt;,&lt;/span&gt;&lt;/font&gt;&lt;span style=&quot;color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;span id=&quot;docs-internal-guid-9b528ce6-6170-40e3-fd60-224394e02d37&quot;&gt;&lt;span style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Merci d’avoir choisi Legend Boats! &lt;/span&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;span&gt;&lt;span style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span id=&quot;docs-internal-guid-46a6d673-6170-6692-32a5-6cc325280564&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;span style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Nous travaillons constamment en vue de rendre votre expérience de propriétaire aussi exceptionnelle que possible, alors nous aimerions avoir de vos nouvelles.&lt;/span&gt;&lt;span style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt; &lt;/span&gt;&lt;/font&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span&gt;&lt;span style=&quot;font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;br&gt;&lt;/font&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;Ce court sondage ne comporte que sept&amp;nbsp;questions et ne devrait prendre que quelques minutes à remplir. Votre rétroaction est très importante pour nous et nous vous assurons que vos commentaires contribueront à créer les plus beaux souvenirs possibles! &lt;/font&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;span id=&quot;docs-internal-guid-4b892a71-6170-c139-1d69-6413bb6370fb&quot;&gt;&lt;/span&gt;&lt;/font&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; style=&quot;&quot; size=&quot;4&quot;&gt;Merci beaucoup pour votre temps. Bonne navigation!&lt;/font&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;AccontName={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={!Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={!Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={!Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={!Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={!Get_ERP_Order.Primary_Campaign_Source_Name__c}&amp;amp;DeliveryDate={!Get_ERP_Order.Delivery_Date__c}&amp;amp;GLV1={!Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={!Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={!Get_ERP_Order.CreatedDate}&quot;&gt;&lt;br&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;AccontName={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={!Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={!Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={!Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={!Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={!Get_ERP_Order.Primary_Campaign_Source_Name__c}&amp;amp;DeliveryDate={!Get_ERP_Order.Delivery_Date__c}&amp;amp;GLV1={!Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={!Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={!Get_ERP_Order.CreatedDate}&quot;&gt;&lt;/a&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;AccontName={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={!Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={!Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={!Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={!Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={!Get_ERP_Order.Primary_Campaign_Source_Name__c}&amp;amp;DeliveryDate={!Get_ERP_Order.Delivery_Date__c}&amp;amp;GLV1={!Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={!Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={!Get_ERP_Order.CreatedDate}&amp;amp;ERPId={!Get_ERP_Order.Id}&quot;&gt;&lt;/a&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;AccontName={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={!Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={!Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={!Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={!Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={!Get_ERP_Order.Primary_Campaign_Source_Name__c}&amp;amp;DeliveryDate={!Get_ERP_Order.Delivery_Date__c}&amp;amp;GLV1={!Get_ERP_Order.GL_Account_Variable_1__c}&amp;amp;GLV2={!Get_ERP_Order.GL_Account_Variable_2__c}&amp;amp;ERPCreateDate={!Get_ERP_Order.CreatedDate}&amp;amp;ERPId={!Get_ERP_Order.Id}&amp;amp;SalespersonId={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialistId={!Get_ERP_Order.Boat_Specialist__c}&quot;&gt;&lt;img src=&quot;https://legendboats--c.na88.content.force.com/servlet/servlet.ImageServer?id=0151Y00000F0ixg&amp;amp;oid=00Di0000000aRhm&quot; border=&quot;0&quot; align=&quot;left&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;span style=&quot;caret-color: rgb(0, 0, 0); font-family: HelveticaNeue; font-size: 13px; text-size-adjust: auto;&quot;&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;AccontName={!Get_ERP_Order.AcctSeed__Account__c}&amp;amp;Email={!Get_ERP_Order.ContactEmail__c}&amp;amp;PickupLocation={!Get_ERP_Order.Pickup_Location__c}&amp;amp;SalesPerson={!Get_ERP_Order.Salesperson__c}&amp;amp;BoatSpecialist={!Get_ERP_Order.Boat_Specialist__c}&amp;amp;BOM={!Get_ERP_Order.Business_Manager__c}&amp;amp;PrimaryCampaignSource={!Get_ERP_Order.Primary_Campaign_Source_Name__c}&quot;&gt;&lt;/a&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial;&quot;&gt;&lt;a href=&quot;https://legendboats.getfeedback.com/r/KY3DLsd4?AccountID={!Get_ERP_Order.AcctSeed__Account__c}&quot;&gt;&lt;font color=&quot;#000000&quot; face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;/font&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;p1&quot; style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;font face=&quot;Arial, sans-serif&quot; size=&quot;4&quot;&gt;&lt;/font&gt;&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #323333; -webkit-text-stroke: #323333}
span.s1 {font-kerning: none}
&lt;/style&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
&lt;/style&gt;&lt;style type=&quot;text/css&quot;&gt;
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px &apos;Helvetica Neue&apos;; color: #9e4a2f; -webkit-text-stroke: #9e4a2f}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Times; -webkit-text-stroke: #9e4a2f}
span.s1 {text-decoration: underline ; font-kerning: none}
span.s2 {font-kerning: none; color: #000000; -webkit-text-stroke: 0px #000000}
span.s3 {font: 12.0px &apos;Helvetica Neue&apos;; text-decoration: underline ; font-kerning: none; color: #9e4a2f}
span.s4 {font-kerning: none}
&lt;/style&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td  style=&quot; background-color:#FFFFFF; bEditID:r4st1; bLabel:accent2; height:0;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td  style=&quot; background-color:#FFFFFF; bEditID:r5st1; bLabel:footer; vertical-align:top; height:0; text-align:left;&quot;&gt;&lt;img border=&quot;0&quot; bEditID=&quot;r5sp1&quot; bLabel=&quot;footerImage&quot; id=&quot;r5sp1&quot; src=&quot;https://legendboats--poojadev.my.salesforce.com/servlet/servlet.ImageServer?id=015i0000006pR7C&amp;oid=00Di0000000aRhm&quot; &gt;&lt;/img&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot; &gt;&lt;td  style=&quot; background-color:#FFFFFF; bEditID:r6st1; bLabel:accent3; height:0;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/center&gt;</text>
    </textTemplates>
    <variables>
        <name>Subject_English_CounterSale_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> Hello {!AccountName}  from Legend Boats!</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_English_Retail_Boat_Sale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Let us know how we did {!AccountName} !</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_French_Counter_Sale_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hello {!AccountName} from Legend Boats!</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_French_Retail_Boat_Sale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!AccountName} ! Dites-nous comment nous avons fait</stringValue>
        </value>
    </variables>
</Flow>
