src/Base/main/default/flows/GetFeedback_Survey_Response_Notification_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_John_Craig_New_NPS_Survey</name>
        <label>Chatter John Craig New NPS Survey</label>
        <locationX>248</locationX>
        <locationY>1295</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Warehouse_Split</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterBodyJohnCraig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Whitefish_CES</name>
        <label>Chatter Whitefish CES</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterBodyWhitefishCES</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Record_Type_Split</name>
        <label>Record Type Split</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Internal_Survey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Experience FollowUp Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GetFeedback Survey Response: The Legend Service Experience 2.0 NPS ONLY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NPS_Scores</targetReference>
            </connector>
            <label>Internal Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_John_Craig</name>
        <label>Validate John Craig and Yves Lavallee</label>
        <locationX>380</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Warehouse_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Active_User_John_Craig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JohnCraigUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_John_Craig_New_NPS_Survey</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Users</name>
        <label>Validate Users</label>
        <locationX>182</locationX>
        <locationY>1751</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NancyUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JurneeManagerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JurneeUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Whitefish_CES</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_Split</name>
        <label>Warehouse Split</label>
        <locationX>380</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Whitefish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_to_ERP__r.WarehouseName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalespersonId__r.Warehouse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitefish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NDegen_User_ID</targetReference>
            </connector>
            <label>Whitefish</label>
        </rules>
    </decisions>
    <description>Handles GetFeedback Survey notifications for all RecordTypes and Retail Locations.</description>
    <environments>Default</environments>
    <interviewLabel>GetFeedback Survey Response: Notification Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetFeedback Survey Response: Notification Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ID_Marianne_F</name>
        <label>Get ID Marianne F</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NancyD_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mfrench@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MFrenchID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_John_Craig_User_ID</name>
        <label>Get John Craig User ID</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ID_Marianne_F</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>jcraig@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>JohnCraigUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NancyD_ID</name>
        <label>Get NancyD ID</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_John_Craig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ndegen@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NDegenID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NDegen_User_ID</name>
        <label>Get NDegen User ID</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ndegen@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NancyUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets Tony Acosta&apos;s user id to be used later.</description>
        <name>Get_User_Tony_A</name>
        <label>Get User Tony A</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vince_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tacosta@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tonyAid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Vince_ID</name>
        <label>Get Vince ID</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_John_Craig_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>vpotter@legendboats.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VincePotterUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NPS_Scores</name>
        <label>NPS Score</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Tony_A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>GetFeedback_Survey_Response__c</object>
        <outputAssignments>
            <assignToReference>NPS_Score</assignToReference>
            <field>NPS_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Split</targetReference>
        </connector>
        <object>GetFeedback_Survey_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterBodyJohnCraig</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!JohnCraigUserID}] @[{!VincePotterUserID}] @[{!tonyAid}] @[{!MFrenchID}] @[{!NDegenID}] A new NPS Survey response has been received. NPS Score = {!NPS_Score}!</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterBodyWhitefishCES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!NancyUserID}] This survey has been completed by a Whitefish retail customer.</text>
    </textTemplates>
    <variables>
        <name>JohnCraigUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JurneeManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JurneeUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MFrenchID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NancyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NDegenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPS_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Captures Tony Acosta&apos;s ID</description>
        <name>tonyAid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VincePotterUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
