src/Base/main/default/flows/Legend_Inspection_Service_Walkaround_Tool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The record was successfully created!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>ParkingSpotChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Parking_Spot__c</picklistField>
        <picklistObject>AcctSeed__Project__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Legend Inspection - Service Walkaround Tool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legend Inspection - Service Walkaround Tool</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Walkaround_Record</name>
        <label>Create Service Walkaround Record</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>Customer_Signature</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_ERP_Order.AcctSeed__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery_Qty__c</field>
            <value>
                <elementReference>Battery_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery__c</field>
            <value>
                <elementReference>Battery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complains_Notes__c</field>
            <value>
                <elementReference>Complains_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>Get_ERP_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enclosure__c</field>
            <value>
                <elementReference>Enclosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Tank_Qty__c</field>
            <value>
                <elementReference>Fuel_Tank_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Tank__c</field>
            <value>
                <elementReference>Fuel_Tank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_in_Ignition__c</field>
            <value>
                <elementReference>Key_in_Ignition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Locks__c</field>
            <value>
                <elementReference>Motor_Locks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Trimmed__c</field>
            <value>
                <elementReference>Motor_Trimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Serial_Numbers__c</field>
            <value>
                <elementReference>Other_Serial_Numbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prop_Damage__c</field>
            <value>
                <elementReference>Prop_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Boat_Plug__c</field>
            <value>
                <elementReference>Remove_Boat_Plugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_all_Personal_Contents__c</field>
            <value>
                <elementReference>Remove_all_Personal_Contents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skeg_Damage__c</field>
            <value>
                <elementReference>Skeg_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Tire__c</field>
            <value>
                <elementReference>Spare_Tire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tail_Light_Damage__c</field>
            <value>
                <elementReference>Tail_Light_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Condition__c</field>
            <value>
                <elementReference>Trailer_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Cover__c</field>
            <value>
                <elementReference>Travel_Cover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trolling_Motor__c</field>
            <value>
                <elementReference>Trolling_Motor</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ERP_Order</name>
        <label>Get ERP Order</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nested_Motor_Serial_Numbers</name>
        <label>Get Nested Motor Serial Numbers</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nested_Trailer_Serial_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Motor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GMBLASERP__Serial_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nested_Trailer_Serial_Numbers</name>
        <label>Get Nested Trailer Serial Numbers</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ERP_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trailer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GMBLASERP__Serial_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Accessory_Check</name>
        <label>Accessory Check</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Service_Walkaround_Record</targetReference>
        </connector>
        <fields>
            <name>Accessory_Check_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_in_Ignition</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Key in Ignition</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Spare_Tire</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Spare Tire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Trolling_Motor</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Trolling Motor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Enclosure</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Enclosure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remove_Boat_Plugs</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove Boat Plugs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Skeg_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Skeg Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor_Locks</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Motor Locks</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Travel_Cover</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Travel Cover</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prop_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Prop Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tail_Light_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tail Light Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor_Trimmed</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Motor Trimmed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Remove_all_Personal_Contents</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove all Personal Contents</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accessory_Check_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Battery</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Battery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Battery_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Battery Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Battery</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fuel_Tank</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Fuel Tank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fuel_Tank_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Fuel Tank Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Fuel_Tank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accessory_Check_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trailer_Condition</name>
                    <fieldText>Trailer Condition</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Complains_Notes</name>
                    <fieldText>Complains &amp; Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Overview</name>
        <label>Account Overview</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Nested_Motor_Serial_Numbers</targetReference>
        </connector>
        <fields>
            <name>Account_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Name: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.FirstName} &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Phone</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Phone Number: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Email</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Email: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Mobile</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Mobile Number: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonMobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Account_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update Account Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Overview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Customer Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Update_Customer_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Customer Mobile Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonMobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Account_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Signature</name>
        <label>Customer Signature</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
        <fields>
            <name>Customer_Signature_Capture</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enterMsg</name>
                <value>
                    <stringValue>Customer Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>CustomerSignature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startMsg</name>
                <value>
                    <stringValue>Customer Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ERP_Overview</name>
        <label>ERP Overview</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accessory_Check</targetReference>
        </connector>
        <fields>
            <name>ERP_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Model: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Product_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Make</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Make: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.GMBLASERP__Product__r.Make__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Year</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Year: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Model_Year__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Parking_Spot_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Parking Spot #: &lt;/b&gt;{!Get_ERP_Order.Parking_Spot__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Boat_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Boat Serial Number: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Engine_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Engine Serial Number: &lt;/b&gt;{!Get_Nested_Motor_Serial_Numbers.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Nested_Motor_Serial_Numbers.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trailer_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Trailer Serial Number: &lt;/b&gt;{!Get_Nested_Trailer_Serial_Numbers.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Nested_Trailer_Serial_Numbers.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Serial_Numbers</name>
                    <fieldText>Other Serial Numbers</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_ERP_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update ERP Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ERP_Overview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Overview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Parking_Spot</name>
                    <choiceReferences>ParkingSpotChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New Parking Spot #:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Overview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_ERP_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ERP_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
