src/Base/main/default/flows/Legend_Inspection_Service_Walkaround_Tool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>1216</locationX>
        <locationY>2078</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0</name>
        <label>ErrorHandler</label>
        <locationX>334</locationX>
        <locationY>2614</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0</name>
        <label>ErrorHandler</label>
        <locationX>278</locationX>
        <locationY>2964</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Invalid Email Address. The email was not sent to the customer.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>762</locationX>
        <locationY>3195</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>1190</locationX>
        <locationY>2423</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>120</locationX>
        <locationY>1979</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorHandler_0_0_0_0_0_0_0</name>
        <label>ErrorHandler</label>
        <locationX>1040</locationX>
        <locationY>670</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sends an email copy of the inspection to the customer.</description>
        <name>Send_Email_Copy</name>
        <label>Send Email Copy</label>
        <locationX>760</locationX>
        <locationY>3016</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessHandler_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CustomerEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Legend Service Summary </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0</name>
        <label>SuccessHandler</label>
        <locationX>715</locationX>
        <locationY>2752</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Send_Customer_Email</targetReference>
        </connector>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Inspection was successfully created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler_0_0</name>
        <label>SuccessHandler</label>
        <locationX>891</locationX>
        <locationY>3017</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The email was successfully delivered to the customer.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_ERP_Tasks_to_Var</name>
        <label>Assign ERP Tasks to Var</label>
        <locationX>100</locationX>
        <locationY>2250</locationY>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Task Name: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ERP_Order_Tasks.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Task Details: &lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ERP_Order_Tasks.Complaint_dh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayERPTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ERP_Order_Tasks</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ERPOrderTaskNames</name>
        <choiceText>{!$Setup.ERP_Order_Settings__c.ERP_Order_Task_Names__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Setup.ERP_Order_Settings__c.ERP_Order_Task_Names__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1040</locationX>
        <locationY>2226</locationY>
        <defaultConnector>
            <targetReference>ERP_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_UpdateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Account_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Tasks_Required</name>
        <label>Additional Tasks Required</label>
        <locationX>364</locationX>
        <locationY>1357</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_AdditionalTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_ERP_Order_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_ERP_Order_Task_test_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ERP_Update</name>
        <label>ERP Update</label>
        <locationX>788</locationX>
        <locationY>2418</locationY>
        <defaultConnector>
            <targetReference>SuccessHandler_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Parking_Spot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ERP</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Additional_Tasks</name>
        <label>More Additional Tasks</label>
        <locationX>544</locationX>
        <locationY>1635</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_MoreTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Additional_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_ERP_Order_Task_test_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Customer_Email</name>
        <label>Send Customer Email</label>
        <locationX>484</locationX>
        <locationY>2755</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receive_Email_Copy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Email</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>1329</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_UpdateTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_ERP_Order_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Task</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_Address</name>
        <label>Validate Email Address</label>
        <locationX>502</locationX>
        <locationY>2960</locationY>
        <defaultConnector>
            <targetReference>ErrorHandler_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Email</defaultConnectorLabel>
        <rules>
            <name>Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Copy</targetReference>
            </connector>
            <label>Valid Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Serial_Number</name>
        <label>Validate Serial Number</label>
        <locationX>551</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>GetERPOrderTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ERP_Order.Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Nested_Motor_Serial_Numbers</targetReference>
            </connector>
            <label>Valid Serial</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocationRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Barrie</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Whitefish</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Montreal</stringValue>
            </value>
        </filters>
        <limit>3</limit>
        <object>AcctSeedERP__Warehouse__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingSpotChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Parking_Spot__c</picklistField>
        <picklistObject>AcctSeed__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredContactMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Contact_Method__c</picklistField>
        <picklistObject>Legend_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Legend Inspection - Service Walkaround Tool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legend Inspection - Service Walkaround Tool</label>
    <loops>
        <name>Loop_ERP_Order_Tasks</name>
        <label>Loop ERP Order Tasks</label>
        <locationX>427</locationX>
        <locationY>2255</locationY>
        <collectionReference>Get_ERP_Order_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ERP_Tasks_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Customer_Signature</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Tasks</name>
        <label>Loop Order Tasks</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <collectionReference>GetERPOrderTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ERP_Order_Task_Overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Additional_Order_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Order_Task</name>
        <label>Create New Order Task</label>
        <locationX>120</locationX>
        <locationY>1767</locationY>
        <connector>
            <targetReference>More_Additional_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_dh__c</field>
            <value>
                <elementReference>New_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayOnCustomerInvoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>NewExpectedTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TaskName</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Walkaround_Record</name>
        <label>Create Service Walkaround Record</label>
        <locationX>776</locationX>
        <locationY>1958</locationY>
        <assignRecordIdToReference>inspectionID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Pictures</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_ERP_Order.AcctSeed__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery_Qty__c</field>
            <value>
                <elementReference>Battery_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery__c</field>
            <value>
                <elementReference>Battery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complains_Notes__c</field>
            <value>
                <elementReference>Complaints_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Order__c</field>
            <value>
                <elementReference>Get_ERP_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enclosure__c</field>
            <value>
                <elementReference>Enclosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Serial_Number__c</field>
            <value>
                <elementReference>Get_Nested_Motor_Serial_Numbers.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Tank_Qty__c</field>
            <value>
                <elementReference>Fuel_Tank_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Tank__c</field>
            <value>
                <elementReference>Fuel_Tank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_in_Ignition__c</field>
            <value>
                <elementReference>Key_in_Ignition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Locks__c</field>
            <value>
                <elementReference>Motor_Locks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Trimmed__c</field>
            <value>
                <elementReference>Motor_Trimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Serial_Numbers__c</field>
            <value>
                <elementReference>Other_Serial_Numbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>Preferred_Contact_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prop_Damage__c</field>
            <value>
                <elementReference>Prop_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ServiceWalkaroundRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Boat_Plug__c</field>
            <value>
                <elementReference>Remove_Boat_Plugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_all_Personal_Contents__c</field>
            <value>
                <elementReference>Remove_all_Personal_Contents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skeg_Damage__c</field>
            <value>
                <elementReference>Skeg_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Tire__c</field>
            <value>
                <elementReference>Spare_Tire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tail_Light_Damage__c</field>
            <value>
                <elementReference>Tail_Light_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Condition__c</field>
            <value>
                <elementReference>Trailer_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Serial_Number__c</field>
            <value>
                <elementReference>Get_Nested_Trailer_Serial_Numbers.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Cover__c</field>
            <value>
                <elementReference>Travel_Cover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trolling_Motor__c</field>
            <value>
                <elementReference>Trolling_Motor</elementReference>
            </value>
        </inputAssignments>
        <object>Legend_Inspection__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ERP_Order</name>
        <label>Get ERP Order</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ERP_Order_Tasks</name>
        <label>Get ERP Order Tasks</label>
        <locationX>667</locationX>
        <locationY>2176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ERP_Order_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project_Task__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Complaint_dh__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nested_Motor_Serial_Numbers</name>
        <label>Get Nested Motor Serial Numbers</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nested_Trailer_Serial_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Motor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GMBLASERP__Serial_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nested_Trailer_Serial_Numbers</name>
        <label>Get Nested Trailer Serial Numbers</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetERPOrderTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trailer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GMBLASERP__Serial_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>776</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Walkaround_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legend_Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Walkaround</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ServiceWalkaroundRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Email</name>
        <label>Get Updated Email</label>
        <locationX>714</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.AcctSeed__Account__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CustomerEmailAddress</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetERPOrderTasks</name>
        <label>GetERPOrderTasks</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ERP_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>1039</locationX>
        <locationY>2424</locationY>
        <connector>
            <targetReference>ERP_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ERP_Order.AcctSeed__Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Update_Customer_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Update_Customer_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Update_Customer_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Update_Customer_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Update_Customer_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Update_Customer_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Update_Customer_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherCity</field>
            <value>
                <elementReference>Update_Customer_CottageAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherCountry</field>
            <value>
                <elementReference>Update_Customer_CottageAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherPostalCode</field>
            <value>
                <elementReference>Update_Customer_CottageAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherState</field>
            <value>
                <elementReference>Update_Customer_CottageAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherStreet</field>
            <value>
                <elementReference>Update_Customer_CottageAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Update_Customer_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Update_Customer_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Update_Customer_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Update_Customer_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Update_Customer_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Update_Customer_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ERP</name>
        <label>Update ERP</label>
        <locationX>512</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>SuccessHandler_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parking_Spot__c</field>
            <value>
                <elementReference>New_Parking_Spot</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Task</name>
        <label>Update Order Task</label>
        <locationX>1036</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Loop_Order_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Order_Tasks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complaint_dh__c</field>
            <value>
                <elementReference>Update_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>UpdateExpectedTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Update_Task_Name</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project_Task__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Accessory_Check</name>
        <label>Accessory Check</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Order_Tasks</targetReference>
        </connector>
        <fields>
            <name>DisplayAccessoryOverview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;Accessory Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accessory_Check_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_in_Ignition</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Key in Ignition</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Spare_Tire</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Spare Tire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Trolling_Motor</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Trolling Motor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Enclosure</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Enclosure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remove_Boat_Plugs</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove Boat Plugs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Skeg_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Skeg Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor_Locks</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Motor Locks</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Travel_Cover</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Travel Cover</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prop_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Prop Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tail_Light_Damage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tail Light Damage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor_Trimmed</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Motor Trimmed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Remove_all_Personal_Contents</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove all Personal Contents</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accessory_Check_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Battery</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Battery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Battery_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Battery Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Battery</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fuel_Tank</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Fuel Tank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fuel_Tank_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Fuel Tank Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Fuel_Tank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accessory_Check_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accessory_Check_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Check_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trailer_Condition</name>
                    <fieldText>Trailer Condition</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Complaints_Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Overview</name>
        <label>Account Overview</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountOverview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;Account Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Name: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.FirstName} &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Phone</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Phone Number: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Preferred_Contact_Method</name>
                    <choiceReferences>PreferredContactMethod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Preferred Contact Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Email</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Email: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Mobile</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Mobile Number: &lt;/b&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonMobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Overview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_HomeAddress</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Home Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.BillingCity} {!Get_ERP_Order.AcctSeed__Account__r.BillingState} {!Get_ERP_Order.AcctSeed__Account__r.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.BillingCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_CottageAddress</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Customer Cottage Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonOtherStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonOtherCity} {!Get_ERP_Order.AcctSeed__Account__r.PersonOtherState} {!Get_ERP_Order.AcctSeed__Account__r.PersonOtherPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_ERP_Order.AcctSeed__Account__r.PersonOtherCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Account_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update Account Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Overview_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Customer Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Update_Customer_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Customer Mobile Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonMobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Account_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Overview_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Overview_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Overview_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Customer_CottageAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Cottage Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonOtherCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonOtherCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonOtherPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonOtherState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_ERP_Order.AcctSeed__Account__r.PersonOtherStreet</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Account_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Additional_Order_Tasks</name>
        <label>Add Additional Order Tasks?</label>
        <locationX>774</locationX>
        <locationY>1272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Tasks_Required</targetReference>
        </connector>
        <fields>
            <name>Add_ERP_Order_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Add ERP Order Tasks?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Signature</name>
        <label>Customer Overview/Signature</label>
        <locationX>774</locationX>
        <locationY>2257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <fields>
            <name>DisplayCustomerOverview</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;Customer Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAccessoryCheck</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 14px;&quot;&gt;Accessory Check Overview:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signature_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Signature_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplaySummary1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Key in Ignition:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Key_in_Ignition}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Remove Boat Plugs:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Remove_Boat_Plugs}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Prop Damage:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Prop_Damage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Spare Tire:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Spare_Tire}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Skeg Damage:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Skeg_Damage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Tail Light Damage:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Tail_Light_Damage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Trolling Motor:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Trolling_Motor}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Signature_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplaySummary2</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Motor Locks:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Motor_Locks}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Motor Trimmed:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Motor_Trimmed}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Enclosure:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Enclosure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Travel Cover:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Travel_Cover}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Remove all Personal Contents:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Remove_all_Personal_Contents}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Battery:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Battery}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Battery Qty: &lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!Battery_Qty}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Fuel Tank:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Fuel_Tank}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Fuel Tank Qty:&lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!Fuel_Tank_Qty}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayAdditionalNotes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Additional Notes Overview:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signature_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Signature_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTrailerConditon</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Trailer Condition:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!Trailer_Condition}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Trailer_Condition</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Signature_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayNotesComplaints</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Notes:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!Complaints_Notes}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Complaints_Notes</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayTaskOverview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Task Overview:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signature_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Signature_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayERPOrderTaskSummary</name>
                    <fieldText>&lt;p&gt;{!varDisplayERPTasks}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Signature_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayCustomerSignature</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 14px;&quot;&gt;Customer Signature:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signature_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Signature_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayDisclosure</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;I hereby authorize the repair work hereinafter set forth to be done along with the necessary material and agree that you are not responsible for lost or damage to vehicle or articles left in the vehicle in case of fire, theft, or any other cause beyond your control or for any delays caused by the unavailability of parts or delays in parts shipments by the supplier or transporter. I hereby grant you and/or your employee&apos;s permission to operate the vehicle herein described on streets, highways or elsewhere for the purpose of testing and/or inspection. An express mechanic&apos;s lien is hereby acknowledged on the above vehicle to secure the amount of repairs thereto. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;&lt;u&gt;STATEMENT OF DISCLAIMER: &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Any warranties on products sold hereby are those made by the manufacturer. The seller hereby expressly disclaims all warranties, either express or implied, including any implied warranty of merchantability or fitness for other purposes, and neither assumes nor authorizes any other person to assume for it any liability in connection with the sale of said products. Any limitation contained herein does not apply where prohibited by law. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;&lt;u&gt;** WARNING- FREEZING TEMPERATURES ** &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Dear valued Legend customers, please be advised that while your boat is awaiting repair. Legend Boats will NOT be held responsible for any weather-related damages, snowfall, or potential damage caused by sub-zero temperatures. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;&lt;u&gt;Terms: &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Balance due within 30 days by certified funds or money transfer. After 30 days, a 2% interest per month will apply to unpaid balances&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Signature_Capture</name>
            <extensionName>BGSIGCAP:SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue>CustomerSignature.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Receive_Email_Copy</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I&apos;d like to receive an email copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ERP_Order_Task_Overview</name>
        <label>ERP Order Task Overview</label>
        <locationX>1337</locationX>
        <locationY>1266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Tasks</targetReference>
        </connector>
        <fields>
            <name>DisplayERPTaskOverview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;ERP Order Task Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Order_Task_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Order_Task_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTaskName</name>
                    <fieldText>&lt;p&gt;{!Loop_Order_Tasks.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Order_Task_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTaskComplaint</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Complaint: &lt;/b&gt;{!Loop_Order_Tasks.Complaint_dh__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ExpectedTime</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Expected Time: &lt;/b&gt;{!Loop_Order_Tasks.Estimated_Duration__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ERP_Order_Task_Overview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Order_Task_Overview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_ERP_Order_Task</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Update ERP Order Task?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Order_Tasks.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Order_Task_Overview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Task_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Order_Tasks.Name</elementReference>
                    </defaultValue>
                    <fieldText>Update Task Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_ERP_Order_Task</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_Complaint</name>
                    <defaultValue>
                        <stringValue>{!Loop_Order_Tasks.Complaint_dh__c}</stringValue>
                    </defaultValue>
                    <fieldText>Update Complaint</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_ERP_Order_Task</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UpdateExpectedTime</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Loop_Order_Tasks.Estimated_Duration__c</elementReference>
                    </defaultValue>
                    <fieldText>Update Expected Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_ERP_Order_Task</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ERP_Overview</name>
        <label>ERP Overview</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accessory_Check</targetReference>
        </connector>
        <fields>
            <name>DisplayERPOverview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;ERP Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayGalleryImage</name>
            <fieldText>&lt;p&gt;{!GalleryImage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ERP_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Model: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Product_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Make</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Make: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.GMBLASERP__Product__r.Make__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Year</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Year: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Model_Year__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Parking_Spot_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Parking Spot #: &lt;/b&gt;{!Get_ERP_Order.Parking_Spot__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Boat_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Boat Serial Number: &lt;/b&gt;{!Get_ERP_Order.Serial_Number__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Engine_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Engine Serial Number: &lt;/b&gt;{!Get_Nested_Motor_Serial_Numbers.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Nested_Motor_Serial_Numbers.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trailer_Serial_Number</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Trailer Serial Number: &lt;/b&gt;{!Get_Nested_Trailer_Serial_Numbers.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Nested_Trailer_Serial_Numbers.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Serial_Numbers</name>
                    <fieldText>Other Serial Numbers</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_ERP_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update ERP Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ERP_Overview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ERP_Overview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Parking_Spot</name>
                    <choiceReferences>ParkingSpotChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New Parking Spot #:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ERP_Overview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_ERP_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_ERP_Order_Task_test_0</name>
        <label>New ERP Order Task</label>
        <locationX>142</locationX>
        <locationY>1561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Order_Task</targetReference>
        </connector>
        <fields>
            <name>DisplayNewERPOrderTask</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: verdana;&quot;&gt;&lt;u&gt;Additional ERP Order Task(s)&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_ERP_Order_Task_test_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_ERP_Order_Task_test_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TaskName</name>
                    <dataType>String</dataType>
                    <fieldText>Task Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_ERP_Order_Task_test_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Complaint</name>
                    <fieldText>Complaint</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NewExpectedTime</name>
                    <dataType>Number</dataType>
                    <fieldText>Expected Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Additional_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Additional Tasks?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Pictures</name>
        <label>Upload Pictures</label>
        <locationX>776</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ERP_Order_Tasks</targetReference>
        </connector>
        <fields>
            <name>DisplayUploadPicture</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: verdana;&quot;&gt;&lt;u&gt;Upload Pictures&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Pictures_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Pictures_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayBoatPic</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!BoatWireFramePicture}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UploadBoatPic</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Pictures</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inspectionID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ERP_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BoatWireFramePicture</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;https://salesforce-image-gallery.s3.amazonaws.com/Product2/2021/6/V-Hull+Photograph+Locations.png&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CustomerEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;&lt;u&gt;Customer Overview&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Accessory Check Overview:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!DisplaySummary1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!DisplaySummary2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana; font-size: 14px;&quot;&gt;Additional Notes Overview&lt;/b&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!DisplayTrailerConditon}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!DisplayNotesComplaints}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Task Overview:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!DisplayERPOrderTaskSummary}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GalleryImage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!Get_ERP_Order.Serial_Number__r.GMBLASERP__Product__r.Default_Gallery_Image__c}&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewCustomerEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Update_Customer_Email.value}</text>
    </textTemplates>
    <textTemplates>
        <name>RecordName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_ERP_Order.AcctSeed__Account__r.FirstName} {!Get_ERP_Order.AcctSeed__Account__r.LastName} - Service WalkAround - {!Today}</text>
    </textTemplates>
    <variables>
        <name>CustomerEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceWalkaroundRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayERPTasks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
