src/Base/main/default/flows/Post_Season_Follow_Up_Call_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>2161</locationX>
        <locationY>76</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Activity</name>
        <label>Log Activity</label>
        <locationX>2263</locationX>
        <locationY>289</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Update_Call_Complete_Field</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Post-Season Follow-Up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Post-Season Follow-Up</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>2513</locationX>
        <locationY>288</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Post-Season Survey has been created successfully.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Abigboxstore</name>
        <choiceText>A big box store</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A big box store</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atafriendsproperty</name>
        <choiceText>At a friends property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At a friends property</stringValue>
        </value>
    </choices>
    <choices>
        <name>AtaLegendBoatsDealership</name>
        <choiceText>At a Legend Boats Dealership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At a Legend Boats Dealership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atanotherdealershipormarina</name>
        <choiceText>At another dealership or marina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At another dealership or marina</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barrie</name>
        <choiceText>Barrie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barrie</stringValue>
        </value>
    </choices>
    <choices>
        <name>Distancefromdealership</name>
        <choiceText>Distance from dealership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Distance from dealership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Idoitmyself</name>
        <choiceText>I do it myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I do it myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndoorsinmyGarageorShed</name>
        <choiceText>Indoors in my Garage or Shed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indoors in my Garage or Shed</stringValue>
        </value>
    </choices>
    <choices>
        <name>LegendBoats</name>
        <choiceText>Legend Boats</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legend Boats</stringValue>
        </value>
    </choices>
    <choices>
        <name>Montreal</name>
        <choiceText>Montreal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Montreal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online</name>
        <choiceText>Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </choices>
    <choices>
        <name>other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outdoorsonmyproperty</name>
        <choiceText>Outdoors on my property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outdoors on my property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Price</name>
        <choiceText>Price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Price</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sudbury</name>
        <choiceText>Sudbury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sudbury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Screen1Logic</name>
        <label>Screen1Logic</label>
        <locationX>604</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AtLegend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_are_your_plans_for_storing_your_boat_this_winter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At a Legend Boats Dealership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_9</targetReference>
            </connector>
            <label>AtLegend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen4Logic</name>
        <label>Screen4Logic</label>
        <locationX>1084</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Screen_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legendboats_Screen4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_you_store_your_boat_Privately_or_with_another_dealership_marina_where_do_you</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legend Boats</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_8</targetReference>
            </connector>
            <label>LegendBoats</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen5Logic</name>
        <label>Screen5Logic</label>
        <locationX>1369</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Screen_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoItMyself_screen5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_you_store_your_boat_Privately_or_with_another_dealership_marina_where_do_you</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I do it myself</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>DoItMyself</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen6Logic</name>
        <label>Screen6Logic</label>
        <locationX>1823</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Screen_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LegendBoats_screen6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_you_do_the_maintenance_and_winterizing_on_your_own_where_do_you_purchase_your</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legend Boats</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_8</targetReference>
            </connector>
            <label>LegendBoats</label>
        </rules>
    </decisions>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Post-Season Follow-Up Call Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post-Season Follow-Up Call Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GetFeedback_Record</name>
        <label>Create GetFeedback Record</label>
        <locationX>2107</locationX>
        <locationY>289</locationY>
        <assignRecordIdToReference>GetFeedbackRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Log_Activity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>How_can_we_improve_post_season_services__c</field>
            <value>
                <elementReference>How_can_we_improve_our_post_season_service_and_storage_offering</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learn_more_about_LB_Full_Care_Packages__c</field>
            <value>
                <elementReference>Would_you_be_interested_in_learning_more_about_Legend_Boats_Full_Care_Packages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post-Season Follow-Up Call Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plans_for_storing_boat__c</field>
            <value>
                <elementReference>What_are_your_plans_for_storing_your_boat_this_winter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_paid_for_storage__c</field>
            <value>
                <elementReference>What_Price_are_you_paying_for_storage_currently</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_not_buying_supplies_from_LB__c</field>
            <value>
                <elementReference>What_is_your_reason_for_not_buying_your_maintenance_supplies_from_Legend_Boats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_not_servicing_at_Legend__c</field>
            <value>
                <elementReference>What_is_the_reason_for_not_getting_these_services_done_at_Legend_Boats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_not_storing__c</field>
            <value>
                <elementReference>What_is_the_reason_for_not_storing_your_boat_with_Legend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PostSeasonRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taker__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_do_you_do_season_end_maintenance__c</field>
            <value>
                <elementReference>If_you_store_your_boat_Privately_or_with_another_dealership_marina_where_do_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_do_you_purchase_supplies__c</field>
            <value>
                <elementReference>If_you_do_the_maintenance_and_winterizing_on_your_own_where_do_you_purchase_your</elementReference>
            </value>
        </inputAssignments>
        <object>GetFeedback_Survey_Response__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Post_Season_Record_Type_ID</name>
        <label>Get Post Season Record Type ID</label>
        <locationX>1973</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GetFeedback_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Season</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PostSeasonRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_Complete_Field</name>
        <label>Update Call Complete Field</label>
        <locationX>2388</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Post_Season_Call_Completed__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Landing</name>
        <label>Landing</label>
        <locationX>433</locationX>
        <locationY>293</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <fields>
            <name>DisplayLanding</name>
            <fieldText>&lt;p&gt;This survey&apos;s purpose is to obtain data on how customers winterize and store their boats. This survey is used by a Legend Team Member during a follow-up call to the customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click &apos;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&apos; to proceed with the Post-Season Follow-Up Call Survey&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>601</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen1Logic</targetReference>
        </connector>
        <fields>
            <name>What_are_your_plans_for_storing_your_boat_this_winter</name>
            <choiceReferences>AtaLegendBoatsDealership</choiceReferences>
            <choiceReferences>IndoorsinmyGarageorShed</choiceReferences>
            <choiceReferences>Outdoorsonmyproperty</choiceReferences>
            <choiceReferences>Atafriendsproperty</choiceReferences>
            <choiceReferences>Atanotherdealershipormarina</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What are your plans for storing your boat this winter?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen1</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_are_your_plans_for_storing_your_boat_this_winter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>730</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <fields>
            <name>What_is_the_reason_for_not_storing_your_boat_with_Legend</name>
            <choiceReferences>Price</choiceReferences>
            <choiceReferences>Distancefromdealership</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the reason for not storing your boat with Legend?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen2</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_reason_for_not_storing_your_boat_with_Legend</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>870</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>What_Price_are_you_paying_for_storage_currently</name>
            <fieldText>What Price are you paying for storage currently?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>1004</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen4Logic</targetReference>
        </connector>
        <fields>
            <name>If_you_store_your_boat_Privately_or_with_another_dealership_marina_where_do_you</name>
            <choiceReferences>LegendBoats</choiceReferences>
            <choiceReferences>Idoitmyself</choiceReferences>
            <choiceReferences>Atanotherdealershipormarina</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If you store your boat Privately or with another dealership/marina, where do you do your season-end maintenance?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen4</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>If_you_store_your_boat_Privately_or_with_another_dealership_marina_where_do_you</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>1135</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5Logic</targetReference>
        </connector>
        <fields>
            <name>What_is_the_reason_for_not_getting_these_services_done_at_Legend_Boats</name>
            <choiceReferences>Price</choiceReferences>
            <choiceReferences>Distancefromdealership</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the reason for not getting these services done at Legend Boats?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen5</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_reason_for_not_getting_these_services_done_at_Legend_Boats</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1237</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen6Logic</targetReference>
        </connector>
        <fields>
            <name>If_you_do_the_maintenance_and_winterizing_on_your_own_where_do_you_purchase_your</name>
            <choiceReferences>LegendBoats</choiceReferences>
            <choiceReferences>Atanotherdealershipormarina</choiceReferences>
            <choiceReferences>Abigboxstore</choiceReferences>
            <choiceReferences>Online</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If you do the maintenance and winterizing on your own, where do you purchase your supplies?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen6</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>If_you_do_the_maintenance_and_winterizing_on_your_own_where_do_you_purchase_your</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_7</name>
        <label>Screen 7</label>
        <locationX>1414</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_8</targetReference>
        </connector>
        <fields>
            <name>What_is_your_reason_for_not_buying_your_maintenance_supplies_from_Legend_Boats</name>
            <choiceReferences>Price</choiceReferences>
            <choiceReferences>Distancefromdealership</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your reason for not buying your maintenance supplies from Legend Boats?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherScreen7</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_your_reason_for_not_buying_your_maintenance_supplies_from_Legend_Boats</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_8</name>
        <label>Screen 8</label>
        <locationX>1552</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_9</targetReference>
        </connector>
        <fields>
            <name>Would_you_be_interested_in_learning_more_about_Legend_Boats_Full_Care_Packages</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you be interested in learning more about Legend Boats&apos; Full Care Packages?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_9</name>
        <label>Screen 9</label>
        <locationX>1685</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <fields>
            <name>How_can_we_improve_our_post_season_service_and_storage_offering</name>
            <fieldText>How can we improve our post-season service and storage offering?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>Thank You</label>
        <locationX>1815</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Post_Season_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>DisplayThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thank you for your feedback!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;We realize how valuable your time is, so we really appreciate that you took a few minutes of it to provide us with your feedback.&amp;nbsp;We hope you create some incredible memories in your Legend over the years and we are always here to help!&amp;nbsp;Feel free to check out the Legend Blog for great fishing tips, recipes, latest news, things to do and places to go.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Landing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountPreferredLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateServiceCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetFeedbackRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostSeasonRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
