src/Base/main/default/flows/Submit_for_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>686</locationX>
        <locationY>236</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Select_Vendor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessHandler</name>
        <label>SuccessHandler</label>
        <locationX>1084</locationX>
        <locationY>61</locationY>
        <actionName>c:Flow_Toast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Your submission was successful. Thank you!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>TodayPlus10</name>
        <dataType>Date</dataType>
        <expression>Today() + 10</expression>
    </formulas>
    <interviewLabel>Submit for Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AP_Line</name>
        <label>Create AP Line</label>
        <locationX>802</locationX>
        <locationY>68</locationY>
        <assignRecordIdToReference>PayableLineID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Account_Payable__c</field>
            <value>
                <elementReference>PayableRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Amount__c</field>
            <value>
                <elementReference>Subtotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Expense_GL_Account__c</field>
            <value>
                <elementReference>Selected_GLAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Product__c</field>
            <value>
                <stringValue>01t1Y000008CZ2jQAG</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Payable_Line__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable</name>
        <label>Create Payable</label>
        <locationX>591</locationX>
        <locationY>68</locationY>
        <assignRecordIdToReference>PayableRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_AP_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Date__c</field>
            <value>
                <elementReference>Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Payee_Reference__c</field>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Vendor__c</field>
            <value>
                <elementReference>SelectedVendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Variable_1__c</field>
            <value>
                <elementReference>SelectedGLV1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Variable_2__c</field>
            <value>
                <elementReference>SelectedGLV2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Comment__c</field>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercury_Rebate__c</field>
            <value>
                <elementReference>Mercury_Rebate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeed__Account_Payable__c</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Select_Vendor</name>
        <label>Select Vendor</label>
        <locationX>429</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Payable</targetReference>
        </connector>
        <fields>
            <name>Select_Vendor_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Vendor_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AcctSeed__Vendor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AcctSeed__Account_Payable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedVendor</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>GLV1_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Unit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GL_Account_Variable_1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AcctSeed__Account_Payable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedGLV1</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>GLV2_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Department</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GL_Account_Variable_2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AcctSeed__Account_Payable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedGLV2</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>GLAccount_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AcctSeed__Account_Payable_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>APL_GL_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Selected_GLAccount</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Vendor_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Subtotal</name>
                    <dataType>Number</dataType>
                    <fieldText>Subtotal before Sales Taxes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Issue_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayDate</elementReference>
                    </defaultValue>
                    <fieldText>Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayPlus10</elementReference>
                    </defaultValue>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mercury_Rebate</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Mercury Rebate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Vendor_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Vendor_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Internal_Comments</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment</name>
        <label>Upload Attachment</label>
        <locationX>958</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SuccessHandler</targetReference>
        </connector>
        <fields>
            <name>UploadDoc</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PayableRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Vendor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PayableLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PayableRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PeriodStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_GLAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGLV1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGLV2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
