src/Base/main/default/flows/Update_Square_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>853</locationX>
        <locationY>50</locationY>
        <actionName>Square_Transaction__c.Send_Customer_Square_Payment_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Update Square Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Square Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cash_Receipt</name>
        <label>Create Cash Receipt</label>
        <locationX>688</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>CashReceiptId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeed__Account__c</field>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Payment_Reference__c</field>
            <value>
                <elementReference>sqOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Purpose__c</field>
            <value>
                <stringValue>Customer Receipt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Receipt_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Online Store</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Cash_Receipt__c</object>
    </recordCreates>
    <recordLookups>
        <name>getConfirmation</name>
        <label>getConfirmation</label>
        <locationX>523</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cash_Receipt</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Square_Transaction__c</object>
        <outputAssignments>
            <assignToReference>accountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>amount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlowPaymentStatus</assignToReference>
            <field>sqStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Square_Transaction</name>
        <label>Update Square Transaction</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getConfirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isLocked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sqCreateDate__c</field>
            <value>
                <elementReference>PaymentCompleteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sqOrderID__c</field>
            <value>
                <elementReference>sqOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sqReceiptNumber__c</field>
            <value>
                <elementReference>receiptNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sqReceiptURL__c</field>
            <value>
                <elementReference>receiptURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sqStatus__c</field>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </inputAssignments>
        <object>Square_Transaction__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CashReceiptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowPaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentCompleteDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receiptNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receiptURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sqOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
