src/FieldService/flows/FSL_Sync_POL_with_WO_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>DeliveryDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!$Record.deliverDate__c} ) + 16/24</expression>
    </formulas>
    <formulas>
        <name>DueDateOffset</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!$Record.deliverDate__c} ) + 14</expression>
    </formulas>
    <formulas>
        <name>DueDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!DueDateOffset} + 16/24</expression>
    </formulas>
    <interviewLabel>FSL - Sync POL with WO After-Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL - Sync POL with WO After-Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_updateSA_False</name>
        <label>Set updateSA False</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>updateSA__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Set_updateSA_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>DeliveryDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>updateSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Windshield</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utility</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deck Boat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pontoon</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Side Console</stringValue>
            </value>
        </filters>
        <object>AcctSeedERP__Purchase_Order_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
