src/FieldService/flows/FSL_Mobile_Manual_Timesheet_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Timesheet_Split</name>
        <label>Timesheet Split</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Timesheet</defaultConnectorLabel>
        <rules>
            <name>New_Timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSE_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TimeSheet_Entry_SubjDesc</targetReference>
            </connector>
            <label>New Timesheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Timesheet</name>
        <label>Validate Timesheet</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Valid_Timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TS_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Timesheet_Entry_SearchWO</targetReference>
            </connector>
            <label>Valid Timesheet</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WOLIChoiceSet</name>
        <dataType>String</dataType>
        <displayField>LineItemNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>WOLIID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOLINumber</assignToReference>
            <field>LineItemNumber</field>
        </outputAssignments>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderChoiceSet</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Work_Order_Number</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WOID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WONumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>FSL Mobile - Manual Timesheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Manual Timesheet Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_TSE</name>
        <label>Create TSE</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>TSE_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TS_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Indirect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderLineItemId</field>
            <value>
                <elementReference>WOLIID</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SR_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet</name>
        <label>Get Timesheet</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TS_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TSE</name>
        <label>Get TSE</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIID</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TSE_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_TSE</name>
        <label>Update TSE</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Confirmation_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSE_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Existing</name>
        <label>Confirmation</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySuccessExisting</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!&lt;/b&gt; You have successfully punched out of a TimeSheet Entry related to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order:&lt;/b&gt; {!WONumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order Line Item:&lt;/b&gt; {!WOLINumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_New</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySuccessNew</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!&lt;/b&gt; You have successfully punched in a TimeSheet Entry related to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order:&lt;/b&gt; {!WONumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order Line Item:&lt;/b&gt; {!WOLINumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Timesheet_Entry_SearchWO</name>
        <label>Create Timesheet Entry</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TimeSheet_Entry_SelectWO</targetReference>
        </connector>
        <fields>
            <name>DisplayInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Hi {!SR_Name}, begin by searching for the Work Order number that pertains to this TimeSheet Entry.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: verdana;&quot;&gt;Note: &lt;/b&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;If you have already created a TimeSheet Entry for this Work Order, select the same Work Order to punch out. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Search for the Work Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_TimeSheet_Entry_SelectWO</name>
        <label>Create TimeSheet Entry</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TimeSheet_Entry_SelectWOLI</targetReference>
        </connector>
        <fields>
            <name>Select_the_Work_Order</name>
            <choiceReferences>WorkOrderChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Work Order</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_TimeSheet_Entry_SelectWOLI</name>
        <label>Create TimeSheet Entry</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_TSE</targetReference>
        </connector>
        <fields>
            <name>DisplayInstructionsWOLI</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Note: &lt;/b&gt;&lt;span style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you have already created a TimeSheet Entry for this Work Order Line Item, select the same Work Order Line Item to punch out. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_Work_Order_Line_Item_0</name>
            <choiceReferences>WOLIChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Work Order Line Item</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_TimeSheet_Entry_SubjDesc</name>
        <label>Create TimeSheet Entry</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TSE</targetReference>
        </connector>
        <fields>
            <name>TimeSheet_Subject</name>
            <dataType>String</dataType>
            <fieldText>TimeSheet Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TimeSheet_Description</name>
            <fieldText>TimeSheet Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 6, 6);&quot;&gt;Error:&lt;/b&gt;&lt;span style=&quot;color: rgb(237, 6, 6);&quot;&gt; There is no TimeSheet available&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SR_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
