src/FieldService/flows/FSL_Create_SA_for_Partner_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Validate_Partner_Sale_ERP</name>
        <label>Validate Partner Sale ERP</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>isPartnerSale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERP_Order__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Boat Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA</targetReference>
            </connector>
            <label>isPartnerSale</label>
        </rules>
    </decisions>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SA_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Dealer Rig created from ERP &quot; + {!$Record.ERP_Order__r.Name}</expression>
    </formulas>
    <formulas>
        <name>x60DaysFromNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 60</expression>
    </formulas>
    <interviewLabel>FSL - Create SA for Partner Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL - Create SA for Partner Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SA</name>
        <label>Create SA</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignRecordIdToReference>SA_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SA_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>x60DaysFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Partner_Sale_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERP_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Z0000000eGfnIAE</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
