src/FieldService/flows/SA_Status_Update_for_all_latest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Dispatched</name>
        <label>Assign - Dispatched</label>
        <locationX>270</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>var_New_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dispatched_Next_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_with_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_In_Progress</name>
        <label>Assign - In_Progress</label>
        <locationX>787</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>var_New_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Next_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_with_Variables</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Cannot_Complete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_is_Current_Status</name>
        <label>What is Current Status?</label>
        <locationX>512</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatched_Status_Change</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_SA</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Status_Change</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_New_Status</name>
        <label>What is New Status</label>
        <locationX>526</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Get_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can/Cannot Complete</defaultConnectorLabel>
        <rules>
            <name>TSID_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Valid_Timesheet</targetReference>
            </connector>
            <label>TSID Null</label>
        </rules>
        <rules>
            <name>In_Progress_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_New_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TSE</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SA Status Update for all-latest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA Status Update for all-latest</label>
    <loops>
        <name>Lookup_SAs</name>
        <label>Lookup SAs</label>
        <locationX>521</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>sObj_SA</assignNextValueToReference>
        <collectionReference>sObjColl_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_Current_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_TSE</name>
        <label>Create TSE</label>
        <locationX>296</locationX>
        <locationY>1027</locationY>
        <assignRecordIdToReference>TSEID</assignRecordIdToReference>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sObj_SA.AppointmentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TSID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>sObj_SA.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <name>Get_SRID</name>
        <label>Get SRID</label>
        <locationX>535</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TSID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>SRID</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TSE</name>
        <label>Get TSE</label>
        <locationX>678</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_SA.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TSEID_EndDate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TSID</name>
        <label>Get TSID</label>
        <locationX>534</locationX>
        <locationY>812</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_New_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TSID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>285</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>sObjColl_SA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_with_Variables</name>
        <label>Update SA with Variables</label>
        <locationX>535</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>Get_SRID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_New_Status</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSE</name>
        <label>Update TSE</label>
        <locationX>678</locationX>
        <locationY>1285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSEID_EndDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <screens>
        <name>Dispatched_Status_Change</name>
        <label>Dispatched - Status Change</label>
        <locationX>270</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Dispatched</targetReference>
        </connector>
        <fields>
            <name>Dispatched_Next_Status_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select a Status from the list below&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dispatched_Next_Status</name>
            <choiceReferences>Choice_In_Progress</choiceReferences>
            <choiceReferences>Choice_Canceled</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_In_Progress</defaultSelectedChoiceReference>
            <fieldText>Next Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_Progress_Status_Change</name>
        <label>In Progress-Status Change</label>
        <locationX>787</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_In_Progress</targetReference>
        </connector>
        <fields>
            <name>In_Progress_Next_Status_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select a Status from the list below&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>In_Progress_Next_Status</name>
            <choiceReferences>Choice_Completed</choiceReferences>
            <choiceReferences>Choice_Cannot_Complete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Completed</defaultSelectedChoiceReference>
            <fieldText>Next Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Timesheet</name>
        <label>No Valid Timesheet</label>
        <locationX>533</locationX>
        <locationY>1158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTimeSheetError</name>
            <fieldText>&lt;p&gt;You do not have an open timesheet for this weeks period. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scheduled_SA</name>
        <label>Scheduled SA</label>
        <locationX>519</locationX>
        <locationY>389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Scheduled2</name>
            <fieldText>&lt;p&gt;The Service Appointment (SA) needs to be &apos;Dispatched&apos; before you can change its &apos;Status&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(7, 64, 160);&quot;&gt;Please contact your Dispatcher to have the SA set to &apos;Dispatched&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_SA</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObj_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>sObjColl_SA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSEID_EndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
